@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="row">
    <div class="col-md-6 col-sm-6 lftfield">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control " required name="firstName" id="firstName">
            <span class="errorSpan vd f-error">*</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control requiredFld" required name="lastName" id="lastName">
            <span class="errorSpan vd f-error">*</span>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 rtfield">
        <div class="form-group">
            <label for="cntTelePhone">Telephone</label>
            <input type="text" class="form-control" name="cntTelePhone" id="cntTelePhone">
        </div>
        <div class="form-group">
            <label for="cntEmail">Email</label>
            <input type="email" class="form-control" required name="cntEmail" id="cntEmail">
            <span class="errorSpan vd f-error">*</span>
        </div>
    </div>
</div>
<div class="row mob-flex">
    <div class="col-md-6 col-sm-6 lftfield">
        <div class="form-group">
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Open an account
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Get more information about a product
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Report and issue with the website and services
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Send Feedback
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Work at Manasquan Bank
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="">
                    <span class="checkmark"></span>
                    Other
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 rtfield">
        <div class="form-group">
            <label for="cntComments">Questions/Comments</label>
            <textarea class="form-control txtArea" name="cntComments" id="cntComments" rows="4"></textarea>
        </div>
    </div>
    <button class="btn-mansq pull-right btnManasq"><span>SUBMIT</span></button>
</div>


