@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var searchApiKey = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("searchApiKey");
    var searchResultsUrl = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("searchResultsUrl");
    var searchBackgroundImage = Model.Content.GetPropertyValue<IPublishedContent>("searchBackgroundImage");
    var searchTitle = Model.Content.GetPropertyValue<string>("searchTitle");
}
@section BackgroundImage {
    @if (searchBackgroundImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@searchBackgroundImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<section class="heroBanner"></section>
<section class="heroBlock" id="sliders-container">
    <div class="containerWrapper">
        <div class="bgWrap specNeed">
            <section class="searchPage">
                @if (!string.IsNullOrEmpty(searchTitle))
                {
                    <h1>@searchTitle</h1>
                }               
                @Html.Action("Index", "BingSearch", new { searchApiKey = @searchApiKey, searchResultsUrl = @searchResultsUrl })
            </section>
        </div>
    </div>
</section>