@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<section class="heroBanner">
                <figure class="bannerImage" style="background-image: url('images/banner/client_service_bg.jpg')"></figure>
            </section>
            <section class="heroBlock csheorBlk">
                <div class="containerWrapper">
                    <div class="bgWrap">
                        <h2>Client Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa tellus, euismod sed fermentum sed, pellentesque varius lectus. Proin gravida orci sed aliquam aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa tellus, euismod sed fermentum sed, pellentesque varius lectus. Proin gravida orci sed aliquam aliquet.</p>

                        <ul class="heroLinks">
                            <li class="find-us"><a href=""><span class="heroLinksImage"><img src="images/client-service/mail-icon.png"></span>Contact<br> Us</a></li>
                            <li class="client-service"><a href=""><span class="heroLinksImage"><img src="images/client-service/expert-icon.png"></span>Digital<br> Expert</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="service-section">
				<div class="containerWrapper">
					<div class="bgWrap">
						<h2>ACCOUNT SERVICES</h2>
						<ul>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/service-icon1.png" alt="service-icon1"/>
									</figure>
									<span>FAQ</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/service-icon2.png" alt="service-icon2"/>
									</figure>
									<span>mobile assistance</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/service-icon3.png" alt="service-icon3"/>
									</figure>
									<span>clickswitch</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/service-icon4.png" alt="service-icon4"/>
									</figure>
									<span>make a loan payment</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="bgWrap clients">
						<h2>FUTURE CLIENTS</h2>
						<ul>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/client-icon1.png" alt="client-icon1"/>
									</figure>
									<span>apply for a loan</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/client-icon2.png" alt="client-icon2"/>
									</figure>
									<span>open an account</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/client-icon3.png" alt="client-icon3"/>
									</figure>
									<span>clickswitch</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/client-icon4.png" alt="client-icon4"/>
									</figure>
									<span>digital expert</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="bgWrap help-info">
						<h2>Help & information</h2>
						<ul>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/info-icon1.png" alt="info-icon1"/>
									</figure>
									<span>FAQ</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/info-icon2.png" alt="info-icon2"/>
									</figure>
									<span>mobile assistance</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/info-icon3.png" alt="info-icon3"/>
									</figure>
									<span>online assistance</span>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="images/client-service/info-icon4.png" alt="info-icon4"/>
									</figure>
									<span>USeful forms</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section class="bluePannel servie-bluePannel animatable">
				<div class="containerWrapper">
					<div class="bgWrap">
						<div class="detailsWrap">
							<div class="wraps">
							  <h2>
								Let's get started
							  </h2>
							  <h3>
								OPEN AN ACCOUNT ONLINE TODAY
							  </h3>
							  <p>
								Finding the right account to achieve your financial goals
								is important - and also really easy.
							  </p>
							</div>
							<a href="#" class="btnManasq">
							  <span>
								OPEN AN ACCOUNT
							  </span>
							</a>
						</div>
						<figure>
							<img src="images/home/img_or.png" alt="">
						</figure>
						<div class="detailsWrap">
							<div class="wraps">
							  <h2>
								TIMETRADE WITH DIGITAL EXPERTS
							  </h2>
							  <p>
								Connect with a Digital Expert or Local Branch Manager.
							  </p>
							</div>
							<a href="#" class="btnManasq">
							  <span>
								Book an Appointment
							  </span>
							</a>
						</div>
					</div>
				</div>
			</section>
			
