@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    var backgroundHeroImage = Model.Content.GetPropertyValue<IPublishedContent>("backgroundHeroImage");
    var productDetailTitle = Model.Content.GetPropertyValue<string>("productDetailTitle");
    var productDetailContent = Model.Content.GetPropertyValue<string>("productDetailContent");
    var parent = Model.Content.Parent;
}
@section BackgroundImage {
    @if (backgroundHeroImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@backgroundHeroImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<div class="proDetail">
<section class="heroBanner"></section>
<section class="heroBlock" id="sliders-container">
    <div class="containerWrapper">
        <div class="bgWrap">
            @if(!string.IsNullOrEmpty(productDetailTitle))
            {
            <h2>@productDetailTitle</h2>
            }
            @if(!string.IsNullOrEmpty(productDetailContent))
            {
                @Html.Raw(productDetailContent)
            }
            <a href="@parent.Url" class="back-btn"> &lt; Back</a>
        </div>
    </div>
</section>
</div>