@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.MacroEngines
@using Newtonsoft.Json
@using RJP.MultiUrlPicker.Models
@using umbraco.NodeFactory
@using ContentModels = Umbraco.Web.PublishedContentModels
@using umbraco.cms.businesslogic.web
@using Umbraco.Web.Extensions
@using System.Linq
@using System.Web.Script.Serialization;
@{
    Layout = "Master.cshtml";
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var LeftNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("leftNavigation");
    var MiddleNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("middleNavigation");
    var RightNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rightNavigation");


}
<section class="heroBanner">
    @if (heroImage != null)
    {
        <figure class="bannerImage" style="background-image: url(@heroImage)"></figure>
    }
</section>
<section class="heroBlock">
    <div class="containerWrapper">
        <div class="bgWrap clientServiceNeed">
            <section class="sitemap-section">

                <div class="sitemap-section-box">
                    <div class="full-width">
                        <div class="left-section">
                            <h4><a class="hvr-underline-from-center" href="#">Head 1</a></h4>
                            <ul>
                                <li><a class="hvr-underline-from-center" href="#">Menu 1</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 2</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 3</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 4</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 5</a></li>
                            </ul>
                            <h4><a class="hvr-underline-from-center" href="#">Head 4</a></h4>
                            <ul>
                                <li><a class="hvr-underline-from-center" href="#">Menu 1</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 2</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 3</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 4</a></li>
                                <li><a class="hvr-underline-from-center" href="#">Menu 5</a></li>
                            </ul>
                            <h4><a class="hvr-underline-from-center" href="#">Head 2</a></h4>
                            <h4><a class="hvr-underline-from-center" href="#">Head 3</a></h4>
                            <h4><a class="hvr-underline-from-center" href="#">Head 4</a></h4>
                        </div>
                        <div class="center-section">
                            <h4><a class="hvr-underline-from-center" href="#">Head 5</a></h4>
                            <h4><a class="hvr-underline-from-center" href="#">Head 6</a></h4>
                            <ul>
                                <li>
                                    <h4><a class="hvr-underline-from-center" href="#">Head 7</a></h4>
                                </li>
                                <li>
                                    <h4><a class="hvr-underline-from-center" href="#">Head 8</a></h4>
                                </li>
                                <li>
                                    <h4><a class="hvr-underline-from-center" href="#">Head 9</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="right-section">
                            <h4><a class="hvr-underline-from-center" href="#">Head 10</a></h4>
                            <h4><a class="hvr-underline-from-center" href="#">Head 11</a></h4>
                            <h4><a class="hvr-underline-from-center" href="#">Head 12</a></h4>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>
