@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Epiphany.SeoMetadata
@{
    SeoMetadata seoMetaData = null;

    if (Model.Content.HasProperty("seoMetaData"))
    {
        seoMetaData = Model.Content.GetPropertyValue<SeoMetadata>("seoMetaData");
    }

    string Path = HttpContext.Current.Request.Url.AbsolutePath;
    string host = HttpContext.Current.Request.Url.Host;

    var metaTitle = Model.Content.Name;
    if(Model.Content.HasValue("title"))
    {
        metaTitle = Model.Content.GetPropertyValue<string>("title");
    }
    var metaDescription = string.Empty;



        @* special case for insight, event and press release *@
if (Model.Content.DocumentTypeAlias == "categoryDetailPage" || Model.Content.DocumentTypeAlias == "home" || Model.Content.DocumentTypeAlias == "mediaCenterLandingPage" || Model.Content.DocumentTypeAlias == "productDetailPage")
{
    if (Model.Content.HasValue("categoryDetailTitle"))
    {
        metaTitle = Model.Content.GetPropertyValue<string>("categoryDetailTitle");
    }

    if (Model.Content.HasProperty("siteTitle"))
    {
        metaTitle = Model.Content.GetPropertyValue<string>("siteTitle");
    }
    if (Model.Content.HasProperty("mediacenterTitle"))
    {
        metaTitle = Model.Content.GetPropertyValue<string>("mediacenterTitle");
    }
    if (Model.Content.HasProperty("productDetailTitle"))
    {
        metaTitle = Model.Content.GetPropertyValue<string>("productDetailTitle");
    }
}

@* use the new seo meta values if they exist*@
if (seoMetaData != null)
{
    if (!string.IsNullOrEmpty(seoMetaData.Title))
    {
        metaTitle = seoMetaData.Title;
    }

    if (!string.IsNullOrEmpty(seoMetaData.Description))
    {
        metaDescription = seoMetaData.Description;
    }
}

if (Path != "/")
{
		  <title>@metaTitle | NJ Banks for Personal and Business Needs</title>
		}
        else
        {
		  <title>@metaTitle</title>
		}		
        <meta name="title" content="@metaTitle" />
        <meta name="description" content="@metaDescription" />

        if (seoMetaData != null)
        {
            if (seoMetaData.NoIndex)
            {
                <meta name="robots" content="noindex">
            }
        }
}