@using ClientDependency.Core.Mvc
@using ManasquanBank.Web.Controllers
@using Newtonsoft.Json.Linq
@using System.Web.Script.Serialization;
@using System.Text.RegularExpressions
@inherits UmbracoTemplatePage
@{
    /* Twitter Config */
    var twitterConsumerKey = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("twitterConsumerKey");
    var twitterSecretKey = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("twitterSecretKey");
    var twitterId = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("twitterId");
    SocialFeedController t = new SocialFeedController();
}
<section class="eventsPannel">
<div class="containerWrapper">
<h2>
CURRENT EVENTS
</h2>
@try
{
    var twitterFeeds = t.GetTwitterFeed(twitterConsumerKey, twitterSecretKey, twitterId);
    var jArray = JArray.Parse(twitterFeeds);
    if (jArray.Count > 0)
    {
        int i = 0;
        <ul>
            @foreach (dynamic tweetlist in jArray)
            {
                if (i < 3)
                {

                    // var date = tweetlist.created_at.ToString("hh:mm , dd MMM yyyy");
                    string[] temp, timesplit;
                    string date, date1, displayTime;
                    try
                    {
                        date = tweetlist.created_at.ToString("hh:mm , dd MMM yyyy");

                        temp = date.Split(' ');

                        timesplit = temp[3].Split(':');

                        TimeSpan timespan = new TimeSpan(Convert.ToInt32(timesplit[0]), Convert.ToInt32(timesplit[1]), Convert.ToInt32(timesplit[2]));
                        DateTime time = DateTime.Today.Add(timespan);
                        displayTime = time.ToString("hh:mm tt") + ", " + temp[2] + " " + temp[1] + " " + temp[5];
                    }
                    catch (Exception ex)
                    {
                        displayTime = tweetlist.created_at.ToString("hh:mm , dd MMM yyyy");
                    }



                    <li>
                        <div class="eventHead">
                            <a href="https://twitter.com/@tweetlist.user.screen_name" target="_blank" class="eventLogo">
                                <img src="~/images/header/logo.png" alt="Manasquan Bank Logo">
                            </a>

                            <div class="followShare">
                                <a href="https://twitter.com/@tweetlist.user.screen_name" target="_blank">
                                    <img src="/images/home/tweet.png" alt="Twitter Logo">
                                </a>

                            </div>


                        </div>
                        <div class="eventDetails">
                            <p class="evenhgt">
                                @{string msg = tweetlist.full_text.ToString();
                                    string text = t.ReplaceHashTagsAndUsernamesWithUrls(msg).ToString();
                                    foreach (var url in tweetlist.entities.urls)
                                    {
                                        string link = url.url.ToString();
                                        string newtab = "true";
                                        text = t.ReplaceFlatUrlWithHTMLUrl(text, link, newtab);

                                    }

                                    @Html.Raw(text)
                                }

                            </p>
                            @if (tweetlist.extended_entities != null)
                            {
                                int s = 0;
                                foreach (dynamic media in tweetlist.extended_entities["media"])
                                {
                                    if (s == 0)
                                    {
                                        <figure style="background-image: url('@media.media_url')">
                                                <a href="@media.url" target="_blank"><span class="screen-reader-text">Media Link</span></a>
                                        </figure>                                        
                                        s++;
                                    }

                                }

                            }
                            <div class="venue">
                                <p>
                                    <small>
                                        @displayTime
                                    </small>
                                </p>
                            </div>
                        </div>
                    </li>
                                        }
                                        i++;
                                    }
        </ul>
    }

}
catch (Exception e)
{                                                                                               
}
</div>
</section>