@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var speedbumpTitle = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("speedbumpTitle");
    var speedbump = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("speedbump");
}
<section class="speedBumpModule">
    <div id="SpdBump_Popup" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header blueBg">
                    @if (!string.IsNullOrEmpty(speedbumpTitle))
                    {
                        <h3>@speedbumpTitle</h3>
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @if(!string.IsNullOrEmpty(speedbump))
                    {
                        @Html.Raw(speedbump)
                    }
                    </div>
                <div class="modal-footer">
                    <a href="" id="stayOn" class="btnManasq hvr-shutter-out-horizontal"><span>Cancel</span></a>
                    <a href="#" target="_blank" id="leaveThispage" class="btnManasq hvr-shutter-out-horizontal"><span>Proceed</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
