<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <Provider alias="media" type="Our.Umbraco.FileSystemProviders.Azure.AzureBlobFileSystem, Our.Umbraco.FileSystemProviders.Azure">
  	<Parameters>
  		<add key="containerName" value="media"/>
  		<add key="rootUrl" value="http://crwamedia.blob.core.windows.net/"/>
  		<add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=crwamedia;AccountKey=lv/TCDQAXX+3TDc0AC07hI7iUx4VcUcdfJo1Hk/B+5K55cZbr6L4x0mBV6Kh/liIpO9m9mTblrWqmXBGC7MH4Q==;EndpointSuffix=core.windows.net"/>
  		<!--
        Optional configuration value determining the maximum number of days to cache items in the browser.
        Defaults to 365 days.
      -->
  		<add key="maxDays" value="365"/>
  		<!--
        When true this allows the VirtualPathProvider to use the deafult "media" route prefix regardless 
        of the container name.
      -->
  		<add key="useDefaultRoute" value="true"/>
  		<!--
        When true blob containers will be private instead of public what means that you can't access the original blob file directly from its blob url.
      -->
  		<add key="usePrivateContainer" value="false"/>
  	</Parameters>
  </Provider>
   
</FileSystemProviders>
