@mixin bp($point) {
  @if $point == desktop {
    @media (min-width: 1280px) { @content; }
  }
  @else if $point == landscape {
    @media (max-width: 1279px) { @content; }
  }
  @else if $point == macview {
    @media (min-width: 1280px) and (max-width: 1359px)  { @content; }
  }
  @else if $point == tablandscape {
    @media (min-width: 1024px) and (max-width: 1279px)  { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 1023px)  { @content; }
  }
  @else if $point == tabportrait {
    @media (min-width: 768px) and (max-width: 1023px)  { @content; }
  }
  @else if $point == tabmax {
    @media (min-width: 320px) and (max-width: 1023px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 767px)  { @content; }
  }
  @else if $point == mobile-large {
    @media (min-width: 475px) and (max-width: 767px)  { @content; }
  }
}

$base: 1280px;
$tab-lands-max: 1279px;
$tab-lands-min: 1024px;
$tab-port-max: 1023px;
$tab-port-min: 768px;
$mob: 767px;
$containermaxwidth-mob: 410px;
$open-sans:'Open Sans', sans-serif;

/* Manasquan Bank */

//variables
$img: '../images';



*, :before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}





/* Custom Fonts */

@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/opensans-light.woff2") format("woff2"), url("../fonts/opensans-light.woff") format("woff");
}
@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/opensans-semibold.woff2") format("woff2"), url("../fonts/opensans-semibold.woff") format("woff");
}
@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
}
@font-face {
    font-family: "opensans";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/opensans-exbold.woff2") format("woff2"), url("../fonts/opensans-exbold.woff") format("woff");
}
@font-face {
    font-family: "manasquan";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/archivonarrowRegular.woff2") format("woff2"), url("../fonts/archivonarrowRegular.woff") format("woff"), url('../archivonarrowRegular.ttf') format('truetype'), url('archivonarrowRegular.svg#archivonarrowRegular') format('svg');;
}
@font-face {
    font-family: "manasquan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/archivonarrowMedium.woff2") format("woff2"), url("../fonts/archivonarrowMedium.woff") format("woff"), url('../archivonarrowMedium.ttf') format('truetype'), url('archivonarrowMedium.svg#archivonarrowMedium') format('svg');;
}
@font-face {
    font-family: "manasquan";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/archivonarrowSemibold.woff2") format("woff2"), url("../fonts/archivonarrowSemibold.woff") format("woff"), url('../archivonarrowSemibold.ttf') format('truetype'), url('archivonarrowSemibold.svg#archivonarrowSemibold') format('svg');;
}
@font-face {
    font-family: "manasquan";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/archivonarrowBold.woff2") format("woff2"), url("../fonts/archivonarrowBold.woff") format("woff"), url('../archivonarrowBold.ttf') format('truetype'), url('archivonarrowBold.svg#archivonarrowBold') format('svg');
}
/*@include filter-gradient(#00000000, #a6000000, vertical);
@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));*/


/* Fixed footer */

// NOTE: Dont change any values here



body,
html {
  height: 100%;
}

.siteWrap {
  height: 100%;
}

body .siteWrap .siteInner,
html .siteWrap .siteInner {
  min-height: 100%;
  position: relative;
  z-index: 99;
  //-webkit-overflow-scrolling: touch;
}
/* common Styles */
body {
  font-family: 'manasquan';
  font-weight: 400;
  background: #FFF;
  color: #17140e;
  //overflow-x: hidden;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
input[type=text]::-ms-clear {
    display: none;
}

.txtArea,
.txtBox {
  appearance: none;
}
.fixedBg {
	background-image: url('#{$img}/banner/banner_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center top;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  width: 100%;
  //z-index: -999;
  img {
    visibility: hidden;
  }
  &.fade {
    opacity: 1;
    &.out {
      opacity: 0;
    }
  }
  .bannerWrapper  {
    min-height: 100%;
  }
}
.fade {
  .siteWrap {
    transition: all 0.55s;
  }
}

.bodyBg {
  .siteWrap {
    opacity: 1;
  }
}

.pointerNone {
  pointer-events: none;
}

.loaderBlock {
  //background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  .loaderWrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    img {
      visibility: hidden;
      max-width: 70%;
    }
  }
}

// ADA Fixes

.screen-reader-text {
    overflow: hidden;
    clip: rect(0,0,0,0);
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    word-wrap: normal!important;
    border: 0 none;
}


// Wave Effects
@mixin btn-sectionEffects() {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;

  &:hover {
    color: #000;
  }
}

.btnSection {
  @include btn-sectionEffects();
}

.btnSection.disabled {
  cursor: default;
}

.btnSection.disabled .waves-ripple {
  display: none !important;
}

.btnSection .waves-ripple {
  position: absolute;
  border-radius: 50% !important;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  transform: scale(0);
  pointer-events: none;
}


.btnSection input[type="button"],
.btnSection input[type="reset"],
.btnSection input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.btnSection img {
  position: relative;
  z-index: -1;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}
/* Firefox Bug: link not triggered */

.btnSection .waves-ripple {
  z-index: -1;
}

.btnSection .waves-ripple {
  background-color: rgba(181, 205, 221,0.9);
}

.btnSection.orange .waves-ripple {
  background-color: rgba(255, 187, 99, 0.9);
}

.btnSection.bgray .waves-ripple {
  background-color: rgba(204, 204, 204, 0.9);
}
@mixin btn-sectionStyle() {
  text-transform: uppercase;
  padding: 11px 10px;
  border-radius: 0;
  position: relative;
  display: inline-block;
  background: #b5cddd;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font-size: 14px;
  color: #000;
  font-weight: 700;
  line-height: 16px;

  &:hover {
    background-color: #7a9fb9;
    color: #000;
  }

  &.orange {
    background-color: #ffbb63;

    &:hover {
      background-color: #ff9933;
    }
  }

  &.btn {
    &.orange {
      background-color: #ffbb63;

      &:hover {
        background-color: #ff9933;
      }
    }

    &.bgray {
      background-color: transparent;
      border: 1px solid #bfbfbf;

      &:hover {
        background-color: #bfbfbf;
      }
    }

    &.bblue {
      background-color: transparent;
      border: 1px solid #b5cddd;

      &:hover {
        background-color: #b5cddd;
      }
    }
  }
}

.btnSection {
  @include btn-sectionStyle();
}
@mixin btnstyle() {
  background: #1268e5;
  font-weight: 700;
  color: #FFF;
  padding: 9px 24px;
  display: inline-block;
  border: 1px solid #FFF;
  border-radius: 25px;
  span {
    position: relative;
    z-index: 99;
  }
}
button {
  span {
    position: relative;
    z-index: 99;
  }
}

.btnManasq,
button {
  background: #1268e5;
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
  span {
    position: relative;
    z-index: 99;
  }
  &::before,
  &::after {
    content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
  	background-color: rgba(0, 0, 0, 0.25);
  	transition: all 0.3s;
  	transform: translate(0,-100%);
  	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &::after {
    transition-delay: 0.2s;
  }
  &:hover {
    &::before,
    &::after {
      transform: translate(0,0);
    }
  }
}
.error {
  animation: error 0.35s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error-page{

    .pageNot-found-section{
      width: 100%;
      text-align: center;
      h1{
        color: #1268e5;
      }
      p{
        padding: 15px 0;
        margin-bottom: 15px;
      }
    .page-section-box{
      padding: 0px 0 30px;
    }
  .actionBlock{
      .btnManasq{
            @extend .btn-mansq;
            font-size: 24px;
            padding: 16px 48px;
            border: 1px solid #fff;
            color: #fff;
      }
  }
    }

}

// Visibility Hidden
.visibilityHide {
  visibility: hidden;
}



// No record Found on News
.no-record {
  text-align: center;
  margin: 30px 0;
  font-size: 18px;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active,
  &:focus {
    //color: #4e4d51;
  }
}

a[href^=tel] {}

button,input,textarea {
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  &:active,
  &:focus {
  }
}

button {
  cursor: pointer;
  box-shadow: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:active,
  &:focus {
    transition: all 0.3s;
  }
}

.nprogress-busy {
  .backtoTop {
    display: none;
  }
  #skiptocontent {
    display: none;
  }
}

img {
  max-width: 100%;
}

article,aside,figure,h1,h2,h3,h4,h5,h6,header,li,nav,ol,p,section,ul {
  padding: 0;
  margin: 0;
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

.overlay {
  display: none;
  background: rgba(0,0,0,0.34);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.menuOpened {
  //overflow: hidden;
  body {
    //overflow: hidden;
  }
  .overlay {
    display: block;
  }
}

.containerWrapper {
  width: 100%;
  max-width: $containermaxwidth-mob;
  padding: 0 12px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  line-height: 34px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

p {
  font-size: 16px;
  line-height: 22px;
}

.openAccount {
  display: none;
  position: fixed;
  top: 30%;
  right: 0;
  z-index: 999;
  // transform: perspective(1px) rotate(-90deg) translate3d( 0, 0, 0);
  transform-origin: right;
  a {
    background: #eb2837;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    padding: 3px 7px 2px;
    text-transform: uppercase;
    // transform: perspective(1px) rotate(0deg) translateY(-10px) translate3d( 0, 0, 0);
    backface-visibility: hidden;
    display: block;
    transform-origin: right center;
    border-radius: 5px;
    &:hover {
      background: #de0d1d;
    }
  }
}





@media screen and (max-width: 767px) {
  .error-page{

    }
  html,
  body {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: auto;
  }
}
@media screen and (min-width: $tab-port-min) {

  .containerWrapper {
    //padding: 0 20px;
    //max-width: 100%;
    max-width: 728px;
    padding: 0;
    margin: 0 auto;
  }
  .loaderBlock {
    .loaderWrap {
      img {
        max-width: 50%;
      }
    }
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 26px;
    line-height: 30px;
  }

  h3 {
    font-size: 22px;
    line-height: 26px;
  }

  h4 {
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }
  .openAccount {
    display: block;
  }
}
@media screen and (min-width: $tab-lands-min) {

  .containerWrapper {
    //padding: 0 53px;
    //max-width: 1100px;
    max-width: 904px;
  }
  .loaderBlock {
    .loaderWrap {
      img {
        max-width: 30%;
      }
    }
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2 {
    font-size: 26px;
    //font-size: 32px;
    line-height: 36px;
  }

  h3 {
    font-size: 22px;
    line-height: 28px;
  }

  p {
    font-size: 18px;
    line-height: 24px;
  }
  .openAccount {
    //top: 13.4%;
    a {
      font-size: 17px;
      padding: 1px 10px 10px;
    }
  }



}
@media screen and (min-width: 1101px) {
  .containerWrapper {
    //max-width: $base;
  }
}
@media screen and (min-width: $base) {
  body,
  html {
    height: 100%;
    min-height: 0;
  }

  .siteWrap {
    height: 100%;
  }
  .loaderBlock {
    .loaderWrap {
      img {
        max-width: 20%;
      }
    }
  }

  .containerWrapper {
    max-width: $base;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }
  .openAccount {
    //top: 16.3%;
    a {
      font-size: 24px;
      padding: 4px 14px 5px;
    }
  }

}




@media screen and (min-width: 1360px) {
  .containerWrapper {
    padding: 0;
  }
}
/* --------------- End Off -------------*/
/* Animations */
@keyframes jump {
  0% {
    ransform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-4px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-2px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes error {
  10%, 90% {transform: translate3d(-1px, 0, 0);}

  20%, 80% {transform: translate3d(2px, 0, 0);}

  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}

  40%, 60% {transform: translate3d(4px, 0, 0);}
}


// Custom Checkbox
// Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 17px;
	width: 17px;
	background-color: #eee;
  border: 2px solid #666666;
  @include bp(tablet){
    height: 15px;
    width: 15px;
    border: 1px solid #666666;
  }
	&:after {
		content: "";
		position: absolute;
		display: none;
  }
  &.FocusIn{
    outline: 1px solid rgb(0, 142, 255);
    background: #ccc;
  }
}
.custom-checkbox {
	&:hover {
		input {
			~ {
				.checkmark {
					background-color: #ccc;
				}
			}
		}
	}
	input {
		&:checked {
			~ {
				.checkmark {
          background-color: #1268e5;
          border-color: #1268e5;
					&:after {
						display: block;
					}
				}
			}
		}
	}
	.checkmark {
		&:after {
			left: 4px;
			top: 1px;
			width: 5px;
			height: 10px;
			border: solid #fff;
			border-width: 0 2px 2px 0px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}

.checkbox label{
  padding-left: 29px;
  @include bp(tablet){
    padding-left: 23px;
  }
}

.ytp-chrome-top.ytp-show-watch-later-title.ytp-show-share-title.ytp-show-cards-title.ytp-share-button-visible,.ytp-pause-overlay-controls-hidden .ytp-pause-overlay {
    display: none;
}

#skiptocontent a {
    padding: 6px;
    position: absolute;
    top: 2px;
    left: 0;
    color: #000;
    border-bottom-right-radius: 8px;
    background: 0 0;
    -webkit-transition: top 1s ease-out,background 1s linear;
    transition: top 1s ease-out,background 1s linear;
    z-index: -999;
    opacity: 0;
}

#skiptocontent a:focus, #skiptocontent a:active {
    position: absolute;
    left: 0;
    top: 0;
    background: #d1282d;
    color: #fff;
    outline: 0;
    -webkit-transition: top .1s ease-in,background .5s linear;
    transition: top .1s ease-in,background .5s linear;
    z-index: 20000;
    opacity: 1;
}

header.menuOpenState{
    position:absolute !important;
    top: 0px !important;
}
