

//variables
$img: '../images/header';

header {
	margin-top: 6px;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	.containerWrapper {
		padding: 0;
	}
}
.logo {
	display: inline-block;
	padding: 11px 0 10px 7px;
	max-width: 205px;
	float: left;
}
.headerWrapper {
	background: rgba(255,255,255,0.87);
	margin: 0 12px;
	position: relative;
	display: table;
  width: calc(100% - 22px);
	.headBg {
		display: none;
	}
}
.mLogin {
	float: right;
	margin-top: 12px;
	margin-bottom: 3px;
	min-width: 75px;
	margin-right: 5px;
	text-align: right;
	a {
		background: #1268e5;
		font-size: 11px;
		color: #FFF;
		display: inline-block;
		padding: 3px 18px 2px;
		border-radius: 25px;
		text-transform: uppercase;
	}
}
.mobileSearchwrap {
	display: table;
	padding-bottom: 2px;

}
.mobileSearch {
	float: right;
	margin-top: 12px;
	margin-right: 11px;
	margin-left: 6px;
	max-width: 34px;
	.txtBox {
		width: 0%;
	}
	.submit {
		display: inline-block;
		i {
			display: block;
			background-image: url('#{$img}/search_icon.png');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 25px;
			height: 24px;
		}
		&.active {
			i {
				background-image: url('#{$img}/search_close.png');
				background-size: cover;
			}
		}
	}
}
.searchloginWrap {
	max-width: 80px;
	float: right;
}

.hamburger {
	width: 32px;
	height: 22px;
	float: right;
	margin-top: 13px;
	margin-right: 0;
  text-align: right;
	transition: 0.3s;
  position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 4px;
		background: #1b3d6e;
		position: absolute;
		top: 8px;
		left: 0;
		transition: 0.18s;
	}
	.lines {
		display: inline-block;
		margin-right: 33px;
		transition: 0.3s;
		position: relative;
		&::after,
		&::before {
			content: '';
			background: #1b3d6e;
			width: 32px;
			height: 4px;
			position: absolute;
			left: 0;
			transition: 0.3s;
		}
		&::before {
			top: -10px;
		}
		&::after {
			top: 6px;
		}
	}
	&.active {
		//transform: translateX(-25%);
		&::before {
			transform: translateX(-100%);
			opacity: 0;
		}
		.lines {
			background: transparent;
			margin-right: 37px;
			margin-top: 0;
			&::before,
			&::after {
				transform-origin: 50% 50%;
				top: -1px;
				left: 2px;
				width: 32px;
				height: 4px;
			}
			&::before {
				transform: rotate3d(0, 0, 1, 45deg);
			}
			&::after {
				transform: rotate3d(0, 0, 1, -45deg);
			}
		}
	}
}
.menuOpened {
	//height: 100%;
	//overflow-y: hidden;
	body {
		//height: 100%;
		//overflow-y: hidden;
	}
	.siteInner {
		//height: 100%;
	}
}
.menuWrapper {
	display: none;
}


// Mobile Menu

.mnavWrapper {
  width: calc(100% - 22px);
  min-height: 100%;
  margin: 0 12px;
  overflow: hidden;
  //position: fixed;
  position: absolute;
  z-index: 9;
  transform: translateX(120%);
  transition: all 0.3s;
  &.active {
    transform: translateX(0);
  }
  .wraps {
    min-height: 100%;
		max-width: 388px;
		margin: 0 auto;
		overflow: visible;
		.marginWrap {
			background: #fff;
			padding: 8px 0 0;
			max-width: 410px;
		}
  }
  ul {
    li {
      font-size: 20px;
			font-weight: 700;
			padding: 0 10px;
			text-transform: uppercase;
      border-bottom: 1px solid #e3e3e3;
      a {
        display: block;
        color: #1c3d6d;
        padding: 2px 0 3px;
        &.msubMenu {
          position: relative;
          &::before {
            content: '';
            background: url('#{$img}/m_submenu.png') no-repeat;
            width: 12px;
            height: 23px;
            position: absolute;
            right: 19px;
            top: 25.5%;
          }
					span {
						display: block;
						max-width: calc(100% - 30px);
					}
        }
        &:hover {
          //color: #0d7ec3;
        }
      }
      &.mainActive {
        a {
          &.msubMenu {
            &::before {
              transform: rotate(-90deg);
            }
          }
        }
      }
      &.mtopNav {
				background: #f0f0f0;
				line-height: 16px;
				text-transform: unset;
        border-bottom: 1px solid #dbdbdb;
        a {
          background: #f0f0f0;
          color: #1c3d6d;
					padding-top: 5px;
			    padding-bottom: 5px;
        }
				ul.inner {
					background: #f0f0f0;
					li {
						a {
							color: #4c4c4c;
						}
					}
				}
				&:nth-last-child(5)  {
					padding-top: 8px;
				}
      }
			li {
				+ .mtopNav {
					padding-top: 8px;
				}
			}
      &.mainActive {
        a {
          &::before {
            right: 23px;
          }
        }
      }
    }
    ul {
      &.inner {
        display: none;
        border-top: 1px solid #e3e3e3;
        li {
          font-size: 16px;
          a {
            //color: #023b67;
            padding: 11px 16px 11px;
          }
        }
      }
    }
  }
}

.mnavWrapper {
	ul {
		li {
			a {
				position: relative;
				&.msubMenu {
					&::after {
						content: '';
						background-image: url('#{$img}/mobilearrow_sprite.png');
						background-position: 0 -29px;
						width: 18px;
						height: 11px;
						position: absolute;
						top: 10px;
						right: 0;
					}
					&.menuOpen {
						&::after {
							transform: rotate(-90deg);
						}
					}
				}

				&.msubMenu {
					+ ul {
						li {
							.msubMenu {
								&::after {
									content: '';
									background-position: 0 -69px;;
									width: 18px;
									height: 11px;
								}
							}
						}
					}
				}
			}
			.inner {
				background: #1c3d6d;
				padding: 2px 3px 13px;
				margin: 0 -10px;
				li {
					border-bottom: none;
					line-height: 15px;
					margin-bottom: -3px;
					a {
						font-weight: 500;
						font-size: 16px;
						color: #FFF;
						padding: 10px 6px 0;
						line-height: 16px;
						&::before {
							display: none;
						}
					}
					.inner {
						padding-left: 21px;
						padding-bottom: 0;
				    margin-top: 6px;
						margin-bottom: -3px;
						border-top: none;
						li {
							text-transform: capitalize;
							padding-bottom: 10px;
							&:last-child {
								padding-bottom: 0;
							}
							a {
								font-weight: 700;
								font-size: 16px;
								padding-bottom: 3px;
								padding-top: 0px;
								&::after {
									display: none;
								}
							}
						}
					}
				}
			}
			&.mainActive {
				a {
					&::after {
						background-position: 0 -9px;
					}
				}
				ul.inner {
					li {
						&.mainActive {
							a {
								&::after {
									background-position: 0 -49px;
								}
							}
						}
					}
				}
			}
		}
	}
}
header {
	+ .loginBlocks {
		.personalLogin,
		.businessLogin {
			p {
				display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
				&:last-child {
					margin-left: 0 !important;
				}
			}
		}
		.businessLogin {
			p {
				display: block;
				a {
					margin-left: 0;
				}
			}
		}
	}
}
.mobileSearchfield {
	.txtBox {
		background: #e3e3e3 url('#{$img}/search_icon.png') 98% center no-repeat;
		font-size: 16px;
		padding: 0 36px 0 6px;
		width: 100%;
		height: 35px;
	}
	&.active {
		display: block;
	}
}

.menuOpened {
	.bankingServices {
		z-index: -1;
	}
}
.Android {
	.hamburger {
		&::before {
			top: 7px;
		}
	}
}


// Sticky Header

header {
	&.stickyActive {
		position: fixed;
		margin-top: 0;
		.headerWrapper {
			//background: none;
			.headBg {
				display: none;
		    background: #FFF;
		    width: 100%;
		    height: 65px;
				position: absolute;
		    z-index: -1;
			}
		}
		.topNav {
			display: none;
		}
		.mainNav {
			margin-top: 3px;
		}
	}
}
.stickyEmpty {
	//display: none;
	&.active {
		//display: block;
	}
}
@media screen and (max-width: 767px) {
	header {
		position: fixed;
		&.stickyActive {
			.headerWrapper {
				background: #FFF;
			}
		}
	}
}
@media screen and (min-width: $tab-port-min) {

	header {
		&.stickyActive {
			.headerWrapper {
				background: none;
				.headBg {
					display: block;
				}
			}
			.SubmenuWrapper {
				//z-index: -1;
			}
			.menuWrapper {
				.loginBlocks {
					position: relative;
					z-index: 999;
					top: 0 !important;
				}
			}
		}
	}
}
@media screen and (min-width: $tab-port-min) {

	header {
		margin-top: 20px;
		z-index: 9999;
	}
	.loginBlocks {
		//display: none; // Mobile Login Block
	}
	.loginBlocks{
		&.active {
			display: none;
		}
	}
	.mobileSearchfield {
		&.active {
			display: none !important;
		}
	}

	.firefox {
		.menuWrapper {
			.loginBlocks {
				transform: none;
			}
		}
	}

	.headerWrapper {
		background: rgba(255,255,255,1);
		display: table;
		//width: calc(100% - 40px);
		//margin: 0 20px;
		width: 100%;
		margin: 0 auto;
	}
	.mnavWrapper,
	.mLogin,
	.mobileSearchwrap,
	.hamburger,
	.mobileSearch,
	.mobileSearchfield {
		display: none;
	}
	.logo {
		max-width: 161px;
		padding: 12px 0 10px 9px;
		margin-right: 8px;
		float: left;
	}
	.menuWrapper {
		display: block;
		float: right;
		//max-width: 567px;
		.headerNav,
		.loginBlocks {
			float: left;
		}

	}
	.menuWrapper {
		//width: calc(100% - 24.5%);
		width: calc(100% - 169px);
		//width: 76.75%;
		.headerNav {
			width: calc(100% - 196px);
			//width: calc(100% - 35.67%);
			//width: 64.88%;
		}
		.loginBlocks {
			margin-top: 0;
			width: 196px;
			position: static;
			opacity: 1;
			visibility: visible;
			z-index: 9;
			left: 0;
      min-width: 196px;
      max-width: 100%;
      transform: translateX(0);
			float: right;
			.personalLogin,
			.businessLogin {
				float: left;
				padding: 1px 5px 0;
				min-width: 98px;
				max-width: 98px;
				h3 {
					font-size: 8px;
					font-weight: 700;
					line-height: 12px;
				}
				p {
					line-height: 15px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					a {
						&:last-child {
							margin-left: 4px;
						}
					}
				}
				.txtBox,
				button {
					font-size: 8px;
					height: 13px;
					padding: 0 6px;
				}
				.txtBox {
					margin-bottom: 5px;
				}
				p {
					a {
						font-size: 7px;
					}
				}
			}
			.businessLogin {
				p {
					justify-content: flex-end;
				}
			}
		}
	}
	.headerNav {
		padding-top: 13px;
		.topNav {
			font-size: 11px;
			font-weight: 700;
			display: table;
			width: 100%;
			ul {
				float: right;
				margin-right: 5px;
			}
			li {
				display: inline-block;
				vertical-align: top;
				padding-right: 10px;
		    letter-spacing: 1px;
				position: relative;
				&:last-child {
					padding-right: 0;
				}
				a {
					color: #1b3d6e;
					position: relative;
					&::after {
						content: '';
						background: #eb2837;
						width: 100%;
						height: 5px;
						position: absolute;
						bottom: -9px;
						left: 0;
						opacity: 0;
				    transform: scaleY(0);
						transition: all 0.75s;
					}

				}
				&.iWantto {
					padding-right: 16px;
					margin-right: 7px;
					position: relative;
					a {
						position: relative;
						&::after {
							width: 130%;
						}
						&::before {
							content: '';
							background-image: url('#{$img}/icon_1.png');
							width: 8px;
							height: 6px;
							position: absolute;
							top: 4px;
					    right: -13px;
						}
					}
					.subNav {
						opacity: 0;
						visibility: hidden;
						min-width: 100px;
						padding: 0 1px;
						background: #FFF;
						font-size: 11px;
						position: absolute;
						top: 18px;
						left: -20px;
						z-index: 99;
				    transform: translateY(10px);
						transition: all 0.3s;
						li {
							display: block;
							padding: 0 3px;
							border-bottom: 1px solid #e5e5e5;
							&:last-child {
								border-bottom: none;
							}
							a {
								font-size: 12px;
								display: block;
								color: #3d3d3d;
								padding: 6px 9px 8px;
								&:before,
								&::after {
									display: none;
								}
								&:hover {
									background: #1c3d6d;
									color: #FFF;
								}
							}
						}
					}
					//&:focus-within,
					&:active,
					&:hover {
						ul {
							opacity: 1;
					    transform: translateY(0);
							visibility: visible;
						}

					}
				}
				&:hover {
					a {
						&::after {
							opacity: 1;
							transform: scaleY(1);
						}
					}
				}
			}
		}
	}
	.mainNav {
		font-size: 14px;
		font-weight: 400;
		float: right;
		margin-top: 17px;
		margin-right: 7px;
		margin-left: 7px;
		text-transform: uppercase;
		a {
			display: inline-block;
			color: #262626;
			line-height: 16px;
	    letter-spacing: 1px;
		}
		ul {
			display: table;
			width: 100%;
			li {
				float: left;
				padding: 0 8px 5px 10px;
				/*display: inline-block;
				vertical-align: top;*/
				//width: 78px;
				cursor: pointer;

				a {
					position: relative;
					span {
						display: block;
						position: relative;
						&:after {
							content: '';
					    background: #eb2837;
					    width: 100%;
					    height: 5px;
					    position: absolute;
					    bottom: -7px;
					    left: 0;
					    opacity: 0;
					    transform: scaleY(0);
					    -webkit-transition: all .75s;
					    transition: all .75s;
						}
					}
					&::after {
						content: '';
						background: #d3d3d3;
						width: 1px;
						height: 28px;
						position: absolute;
						top: 2px;
						right: -8px;
					}
				}
				&:first-child {
					padding-left: 0;
				}
				&.active,
				&:hover {
					a {
						span {
							&::after {
								opacity: 1;
						    transform: scaleY(1);
							}
						}
					}
				}
			}
		}
		.search {
			width: 27px;
			margin-top: 6px;
	    padding-left: 10px;
			&::after {
				display: none;
			}
			.txtBox {
				width: 0;
		    position: absolute;
		    right: 196px;
		    margin-top: -7px;
				opacity: 0;
				visibility: hidden;
		    transition: all .55s;
			}
			.submit {
				display: inline-block;
				position: relative;
				z-index: 99;

				i {
					display: block;
					background-image: url('#{$img}/search_icon.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
					width: 18px;
					height: 17px;
				}
			}
			&.searchOpen {
				.txtBox {
			    background: #eeeeee;
					color: #666666;
					width: 355px;
			    height: 31px;
			    padding: 0 28px 0 15px;
			    //border: 1px solid #1b3d6e;
					opacity: 1;
					visibility: visible;
				}
				.submit {
					i {
						//margin-top: 10px;
					}
				}
			}
		}
	}



	.mainNav {
		.subNav {
			display: none;
	    min-width: 150px;
	    padding: 0 1px;
	    background: #fff;
	    font-size: 11px;
	    position: absolute;
	    top: 29px;
	    left: 9px;
	    z-index: 99;
	    text-transform: none;
	    transform: translateY(10px);
	    transition: all .3s;
			li {
				display: block;
				float: none;
				padding-left: 2px;
				padding-right: 2px;
				padding-bottom: 0;
				h4 {
					font-size: 17px;
					color: #1c3d6d;
					margin: 4px 9px 1px;
					text-transform: uppercase;
				}
				a {
					font-size: 15px;
					display: block;
					padding: 6px 7px 4px;
					border-bottom: 1px solid #b3b3b3;
					&::after {
						display: none;
					}
					&:hover {
						background: #1c3d6d;
						color: #FFF;
					}
				}
				&:last-child {
					a {
						border-bottom: none;
					}
				}
			}
		}
	}


	.SubmenuWrapper {
		position: absolute;
		width: 100%;
		left: 0;
		top: 83px;
		display: none;
		visibility: hidden;
		box-shadow: 0 3px 6px -4px #000;
		.borderLine {
			display: none;
		}
		.bgWrap {
			background: #FFF;
			padding: 20px 30px;
			//opacity: 0;
			transition: all 0.3s;
		}
		.flexBox {
			height: 374px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			.cols {
				//flex: 1 1 80px;
        width:calc( 100% / 3 );
			}
		}
		h2 {
			font-size: 22px;
			color: #1c3d6d;
			padding-bottom: 14px;
			text-transform: uppercase;
			a{
				color: inherit;
				&::after{
					display: none;
				}
			}
		}
		h3 {
			font-size: 19px;
			color: #3d3d3d;
			line-height: 22px;
			text-transform: uppercase;
			a {
				&::after {
					display: none;
				}
			}
		}
		ul {
			font-size: 17px;
			padding-top: 5px;
			margin-left: -9px;
	    text-transform: capitalize;
			li {
				float: none;
				padding: 0 12px 0 0;
				a {
					padding: 3px 11px 2px;
					&::after {
						display: none;
					}
					&:hover {
						background: #1c3d6d;
						color: #FFF;
					}
				}
			}
		}
		.cols {
			padding-bottom: 20px;
			+ .cols {

			}
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.flatNav {
		.SubmenuWrapper {
			&.col-3 {
				.flexBox {
					height: 220px;
				}
			}
			&.col-7 {
				.flexBox {
					height: 390px;
				}
			}
		}
	}

	.ie11 {
		.menuWrapper {
			.loginBlocks {
				transform: none;
			}
		}
	}

	// Mega Menu

	.mainNav {
		ul {
			li {
				//&:focus-within,
				&:focus,
				&:active,
				&:hover {
					.SubmenuWrapper {
						visibility: visible;
						display: block;
						.bgWrap {
							opacity: 1;
						}
					}
					&.shortNav {
						position: relative;
					}
					.subNav {
						display: block;
					}
				}
			}
		}
	}







}


@media screen and (min-width: $tab-lands-min) {


	//Sticky Nav

	header {
		&.stickyActive {
			.headerWrapper {
				.headBg {
					height: 82px;
				}
			}
		}
	}

	.headerWrapper {
		//width: calc(100% - 106px);
    //margin: 0 53px;
	}
	.logo {
		max-width: 227px;
		padding: 14px 0 10px 11px;
	}
	.headerNav {
		padding-top: 16px;
		.topNav {
			font-size: 12px;
			margin-right: 12px;
			ul {
				float: right;
				margin-right: 9px;
			}
			li {
				padding-right: 17px;
				&.iWantto {
					padding-right: 23px;
					.subNav {
						left: -15px;
						li {
							a {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
	.menuWrapper {
		width: calc(100% - 235px);
		.headerNav {
			width: calc(100% - 244px);
			padding-left: 13px;
		}
		.loginBlocks {
			width: 244px;
			.personalLogin,
			.businessLogin {
				min-width: 122px;
				max-width: 122px;
				padding: 5px 7px 0;
				h3 {
					font-size: 10px;
					margin-bottom: 4px;
				}
				.txtBox {
					font-size: 10px;
					height: 17px;
					margin-bottom: 6px;
				}
				button {
					font-size: 9px;
			    margin-bottom: 6px;
					height: 17px;
				}
				p {
					a {
						font-size: 9px;
					}
				}
			}
		}
	}
	.mainNav {
		font-size: 16px;
		float: right;
		margin-left: 0;
    margin-top: 20px;
		margin-right: 12px;
		a {
			line-height: 18px;
		}
		ul {
			li {
				padding-right: 13px;
				padding-bottom: 15px;
				a {
					&::after {
						top: 3px;
						right: -12px;
						height: 35px;
					}
				}
			}
		}
		.search {
			.submit {
				i {
					height: 17px;
				}
			}
			.txtBox {
				right: 250px;
		    margin-top: -7px;
			}
			&.searchOpen{
				.txtBox {
					width: 410px;
			    height: 40px;
					padding: 0 28px 0 15px;
				}
				.submit {
					margin-top: 4px;
				}
			}
		}
	}


	// Mega Menu

	.SubmenuWrapper {
		position: absolute;
		width: 100%;
		left: 0;
		top: 105px;
		//display: none;
		.bgWrap {
			padding: 29px 49px 0;
		}
		.flexBox {
			height: 510px;
			.cols {
        width:calc( 100% / 3 );
			}
		}
		h2 {
			font-size: 24px;
			padding-bottom: 25px;
		}
		h3 {
			font-size: 20px;
			line-height: 24px;
		}
		ul {
			font-size: 18px;
			padding-top: 9px;
			li {
				padding: 7px 0 0 0;
			}
		}
		.cols {
			padding-bottom: 36px;
			+ .cols {

			}
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.mainNav {
		.subNav {
			top: 45px;
		}
	}
	.flatNav {
		.SubmenuWrapper {
			&.col-3 {
				.flexBox {
					height: 310px;
				}
			}
			&.col-7 {
				.flexBox {
					height: 502px;
				}
			}
		}
	}
	.Windows {
		&.iOS {
			.flatNav {
				.SubmenuWrapper {
					&.col-7 {
						.flexBox {
							height: 502px;
						}
					}
				}
			}
		}
	}
	.iOS {
		.flatNav {
			.SubmenuWrapper {
				&.col-7 {
					.flexBox {
						height: 510px;
					}
				}
			}
		}
	}

	.ieEdge {
		.flatNav {
			.SubmenuWrapper {
				&.col-7 {
					.flexBox {
						height: 520px;
					}
				}
			}
		}
	}



}

@media screen and (min-width: $base) {

	//Sticky nav
	header {
		&.stickyActive {
			.headerWrapper {
				.headBg {
					height: 114px;
				}
			}
			.mainNav {
				ul {
					li {
						padding-bottom: 37px;
						a {
							span {
								&::after {
									bottom: -38px;
								}
							}
						}
					}
				}
			}
		}
	}

	header {
		margin-top: 26px;
		//transition: background, margin 0.25s;
		&.fixed {
			position: fixed;
			background: rgba(255,255,255,.92);
			z-index: 999999999;
			margin-top: 0;
			.headerWrapper {
				background: transparent;
			}
		}
	}

	.headerWrapper {
		width: calc(100% - 40px);
    margin: 0 20px;
	}
	.logo {
		max-width: 291px;
		margin-top: 20px;
		margin-left: 17px;
		padding: 0;
	}
	.headerNav {
		padding-top: 23px;
		.topNav {
			font-size: 16px;
			margin-right: 0;
			padding-right: 7px;
			ul {
				margin-right: 0;
			}
			li {
				padding-right: 26px;
				&.iWantto {
					padding-right: 36px;
					a {
						&::before {
							top: 7px;
							right: -16px;
						}
					}
					.subNav {
						min-width: 135px;
						padding-top: 4px;
						top: 29px;
						li {
							a {
								font-size: 16px;
								padding: 4px 7px 6px;
							}
						}
					}
				}
			}
		}
	}
	.menuWrapper {
		width: calc(100% - 316px);
		.headerNav {
			width: calc(100% - 348px);
			padding-right: 10px;
		}
		.loginBlocks {
			width: 346px;
			.personalLogin,
			.businessLogin {
				max-width: 173px;
				min-width: 173px;
				padding: 9px 10px 4px;
				h3 {
					font-size: 12px;
					margin-bottom: 8px;
				}
				p {
					display: flex;
			    flex-wrap: wrap;
			    justify-content: space-between;
					a {
						font-size: 11px;
					}
				}
				.txtBox {
					font-size: 13px;
				}
				button {
					font-size: 12px;
					margin-bottom: 8px;
				}
				.txtBox,
				button {
					height: 24px;
					margin-bottom: 10px;
				}
				button {
					margin-bottom: 8px;
				}
			}
			.businessLogin {
				//padding-bottom: 4px;
				p {
			    justify-content: flex-end;
					text-align: right;
					a {
						&:last-child {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.mainNav {
		font-size: 22px;
    margin-top: 28px;
		margin-right: 15px;
		a {
			line-height: 23px;
		}
		.search {
			width: 27px;
			margin-top: 11px;
			padding-left: 10px;
			.txtBox {
				right: 346px;
				margin-top: -11px;
			}
			.submit {
				transition: all 0.3s;
				i {
					width: 26px;
					height: 24px;
				}
			}
			&.searchOpen {
				.txtBox {
					width: 545px;
			    height: 53px;
					padding: 0 58px 0 15px;
				}
				.submit {
					//margin-top: 6px;
				}
			}

		}
		ul {
			li {
				padding-right: 19px;
				padding-bottom: 29px;
				a {
					&::after {
						height: 49px;
						right: -16px;
						top: 2px;
					}
					span {
						&::after {
							height: 5px;
							bottom: -28px;
						}
					}
				}
			}
		}

	}

	// Mega Menu

	.SubmenuWrapper {
		top: 148px;
		ul {
			margin-left: 0;
		}
		.bgWrap {
			//background: #FFF;
			padding: 23px 19px 0;
		}
		.borderLine {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			i {
				background: #b3b3b3;
				//background: #e5e5e5;
				width: 1px;
				min-height: 275px;
				position: absolute;
				top: 65px;
				&:nth-child(1) {
					//left: 235px;
					left: 19.8%;
				}
				&:nth-child(2) {
					//left: 482px;
					left: 39.7%;
				}
				&:nth-child(3) {
					//left: 729px;
					left: 59.6%;
				}
				&:nth-child(4) {
					//left: 977px;
					left: 79.5%;
				}
			}
		}
		.flexBox {
			height: 310px;
			.cols {
				//width: calc(100% / 5);
				width: 230px;
				&.extWidth {
					width: 235px;
				}
			}
		}
		h2 {
			//color: #1c3d6d;
			padding-bottom: 17px;
		}
		h3 {
			//color: #3d3d3d;
			line-height: 23px
		}
		h2,
		h3 {
			padding-left: 10px;
		}
		ul {
			padding-top: 9px;
			li {
				padding-top: 2px;
				padding-right: 0 !important;
				padding-bottom: 0 !important;
				a {
					display: block;
					padding: 3px 11px 0;
			    line-height: 22px !important;
					&:hover {
						background: #1c3d6d;
						color: #FFF;
					}
				}
			}
		}
	}
	.openAccount {
    top: 30%;
	}

	.mainNav {
		.subNav {
			top: 66px;
		}
	}

	.flatNav {
		.SubmenuWrapper {
			.borderLine {
				i {
					&:nth-child(1) {
						left: calc((100% / 5) - 5px);
					}
					&:nth-child(2) {
						left: calc((200% / 5) - 5px);
					}
					&:nth-child(3) {
						left: calc((300% / 5) - 5px);
					}
					&:nth-child(4) {
						left: calc((400% / 5) - 5px);
					}
				}
			}
			&.col-3 {
				.borderLine {
					i {
						min-height: 264px;
						&:nth-child(1) {
							//left: calc(100% - 944px);
						}
						&:nth-child(1) {
							//left: calc(100% - 944px);
						}
						&:nth-child(3),
						&:nth-child(4) {
							display: none;
						}
					}
				}
				.flexBox {
					width: calc((100% / 5) * 2);
					height: 300px;
					.cols {
						//width: 33.33%;
					}
				}
			}
			&.col-7 {
				.flexBox {
					height: 310px;
				}
			}
		}
	}

	.ieEdge {
		.flatNav {
			.SubmenuWrapper {
				&.col-7 {
					.flexBox {
						height: 310px;
					}
				}
			}
		}
	}



}

/*@media screen and (min-width: 1284px) {

	.flatNav {
		.SubmenuWrapper {
			.borderLine {
				i {
					&:nth-child(3) {
						left: calc(100% - 956px);
					}
					&:nth-child(4) {
						left: 946px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1286px) {

	.flatNav {
		.SubmenuWrapper {
			.borderLine {
				i {
					&:nth-child(3) {
						left: 710px;
					}
					&:nth-child(4) {
						left: 948px;
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1290px) {

	.flatNav {
		.SubmenuWrapper {
			.borderLine {
				i {
					&:nth-child(3) {
						left: 712px;
					}
					&:nth-child(4) {
						left: 950px;
					}
				}
			}
		}
	}
}*/
@media screen and (min-width: 1300px) {

	.headerWrapper {
		width: 100%;
    margin: 0;
	}
	.logo {
		max-width: 308px;
	}

	.menuWrapper {
		width: calc(100% - 333px);
	}
	.headerNav {
		padding-top: 23px;
		.topNav {
			padding-right: 17px;
			ul {
				//margin-right: 11px;
				li {
					padding-right: 33px;
					&.iWantto {
						padding-right: 45px;
						a {
							&::after {
								//top: 8px;
							}
						}
					}
				}
			}
		}
	}
	.mainNav {
		margin-top: 29px;
		ul {
			li {
				padding-right: 27px;
		    padding-bottom: 25px;
				a {
					line-height: 25px;
					span {
						&::after {
							bottom: -26px;
						}
					}
				}
			}
		}
		.search {
			.submit {
				i {
			    background-size: contain;
					width: 33px;
			    height: 31px;
				}
			}
			&.searchOpen {
				.submit {
					margin-top: 0;
				}
				.txtBox {
					width: 585px;
				}
			}
		}
	}

	// Mega Menu

	.SubmenuWrapper {
		.borderLine {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			i {
				background: #b3b3b3;
				//background: #e5e5e5;
				width: 1px;
				min-height: 274px;
				position: absolute;
				top: 65px;
				&:nth-child(1) {
					//left: 235px;
					//left: 19%;
					left: calc(100% - 950px);
				}
				&:nth-child(2) {
					//left: 482px;
					//left: 38.9%;
					left: calc(100% - 714px);
				}
				&:nth-child(3) {
					//left: 729px;
					//left: 58.7%;
					left: calc(100% - 477px);
				}
				&:nth-child(4) {
					//left: 977px;
					//left: 78.7%;
					left: calc(100% - 241px);
				}
			}
		}
		.flexBox {
			.cols {
				&.extWidth {
					width: 290px;
				}
			}
		}
	}

	.openAccount {
    top: 35%;
	}

	.flatNav {
		.SubmenuWrapper {
			.borderLine {
				i {
					&:nth-child(1) {
						left: calc(100% - 1004px);
					}
					&:nth-child(2) {
						left: calc(100% - 755px);
					}
					&:nth-child(3) {
						left: calc(100% - 507px);
					}
					&:nth-child(4) {
						left: calc(100% - 258px);
					}
				}
			}
		}
	}




}
