//variables
$img: '../images/home';

#wrapper_bgndVideo {
  min-height: 719px;
  //background-image: url('images/banner/banner_bg.jpg');
  z-index: 9 !important;
}

.bannerWrapper {
  min-height: 422px;
  .bannerWrap {
  }
  .bannerImage {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 422px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .bannerContent {
    padding-top: 161px;
    position: relative;
    z-index: 9;
    h1 {
      font-weight: 400;
      font-size: 23px;
      color: #FFF;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      span {
        display: block;
        &:nth-child(1) {
          letter-spacing: 1px;
        }
        &:nth-child(2) {
          letter-spacing: -0.5px;
        }

      }
      strong {
        font-weight: 700;
        display: inline-block;
        span {
          &:nth-child(1) {
            letter-spacing: 1.8px;
          }
          &:nth-child(2) {
            letter-spacing: 1.2px;
          }
          &:nth-child(3) {
            letter-spacing: 3px;
          }
        }
      }
    }
  }
}
.loginBlocks {
  margin-top: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  z-index: -9;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  min-width: 291px;
  max-width: 410px;
  transform: translateX(-50%);
  transition: all 0.3s;
  &.active {
    display: block;
    padding: 0 12px;
    top: 72px;
    opacity: 1;
    visibility: visible;
    z-index: 99999;
  }
  .personalLogin {
    background: #1268e5;
  }
  .businessLogin {
    background: #1b3d6e;
  }
  .personalLogin,
  .businessLogin {
    padding: 5px 25px 4px;
    h3 {
      font-size: 18px;
      font-weight: 700;
      color: #FFF;
      margin-bottom: 6px;
      text-transform: uppercase;
    }
    p {
      text-align: right;
      a {
        display: inline-block;
        color: #FFF;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &:last-child {
          margin-left: 24px;
        }
      }
    }
    .txtBox {
      display: block;
      background: #FFF;
      font-weight: 400;
      font-size: 16px;
      color: #363636;
      padding: 0 12px;
      width: 100%;
      height: 36px;
      margin-bottom: 15px;
      &.error {
        background: #f2dede;
        border: 1px solid red;
      }
    }
    ::-webkit-input-placeholder {
      color: #363636;
    }
   :-moz-placeholder {
      color:    #363636;
      opacity:  1;
    }
   :-ms-input-placeholder {
      color:    #363636;
    }
    button {
      display: block;
      background: none;
      font-weight: 400;
      font-size: 16px;
      color: #FFF;
      width: 100%;
      height: 36px;
      border: 1px solid #FFF;
      text-transform: uppercase;
    }
  }
  .businessLogin {
    p {
      display: block;
    }
  }
  .personalLogin {
    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.bankingServices {
  margin-top: -62px;
  position: relative;
  //z-index: 9999;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 100%;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
      }
      &:nth-child(3) {
        padding: 31px 22px 0;
        order: 3;
      }
      &:nth-child(4) {
        order: 4;
      }
      &:nth-child(5) {
        order: 4;
      }
      &:nth-child(6) {
        order: 6;
      }
    }
  }
  li {
    min-height: 228px;
    margin-bottom: 26px;
    position: relative;
    .imgBlock {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 228px;
      position: relative;
      &::after {
        content: '';
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      a {
        display: block;
        min-height: 100%;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 999999;
        font-size: 0;
        color: transparent;
      }
    }
    .serviceContent {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 9;
      .title {
        float: right;
        text-align: right;
        min-width: 173px;
        margin-bottom: 25px;
      }
    }
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #FFF;
      padding-right: 31px;
      padding-bottom: 9px;
      line-height: 30px;
      text-transform: uppercase;
      text-align: left;
      strong {
        display: block;
        font-weight: 400;
      }
    }
    h3 {
      font-size: 29px;
      font-weight: 400;
      color: #FFF;
      strong {
        font-weight: 700;
      }
    }
    &.didgitalCenter,
    &.bunisessBank {
      .serviceContent {
        .title {
          min-width: 177px;
        }
      }
    }
    &.mortage {
      .serviceContent {
        padding: 31px 20px 17px;
        margin-bottom: -5px;
      }
      h3 {
        font-size: 32px;
        font-weight: 700;
        color: #FFF;
        text-transform: uppercase;
        line-height: 30px;
        span {
          display: block;
          font-weight: 400;
        }
        i {
          display: inline-block;
          font-style: normal;
        }
        strong {
          font-size: 113px;
          display: inline-block;
          font-weight: 400;
          letter-spacing: -13px;
          line-height: 92px;
          margin-top: -22px;
          padding-left: 75px;
          width: 274px;
          span {
            font-size: 62px;
            vertical-align: top;
            margin-top: -22px;
            margin-left: -5px;
            display: inline-block;
            width: 26px;
          }
        }
      }
    }
    &.kasasa {
      border-right: none;
      border-left: 1px solid #FFF;
      .serviceContent {
        position: relative;
        min-height: 228px;
        .detailBlock {
          width: 187px;
          float: right;
          padding-top: 23px;
          padding-right: 16px;
          position: relative;
          z-index: 99;
        }
        h3 {
          font-size: 20px;
          margin-bottom: 12px;
          line-height: 20px;
          text-transform: uppercase;
          strong {
            font-size: inherit;
          }
        }
        .btnManasq {
          font-size: 12px;
          text-transform: uppercase;
          @include btnstyle();
          padding: 6px 30px;
          border-radius: 25px;
        }
      }
      figure {
        width: 129px;
        position: absolute;
        bottom: 0;
        img {
          margin-left: -11px;
          display: block;
        }
      }
    }
  }
}

// Blue bluePannel
.bluePannel {
  background: #1b3d6e;
  padding: 40px 18px;
  //margin-bottom: 41px;
  .wraps {
    padding: 12px 19px 0;
  }
  .detailsWrap {
    color: #FFF;
    padding-bottom: 14px;
    border: 1px solid #FFF;
    border-radius: 15px;
    position: relative;
    h2 {
      font-weight: 700;
      font-size: 19px;
      color: #FFF;
      line-height: 23px;
      text-transform: uppercase;
      + p {
        margin-top: 3px;
      }
      a {
        color: inherit;
      }
    }
    h3 {
      font-weight: 400;
      font-size: 16px;
      color: #FFF;
      margin-bottom: 3px;
      line-height: 17px;
      text-transform: uppercase;
      position: relative;
    }
    p {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
    }
    .btnManasq {
      display: inline-block;
      background: #1268e5;
      color: #FFF;
      font-weight: 700;
      font-size: 10px;
      padding: 4px 14px;
      margin-top: 12px;
      min-width: 125px;
      border: 1px solid #FFF;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      margin-left: 19px;
    }
  }
  figure {
    display: block;
    max-width: 122px;
    margin: 24px auto 19px;
  }
}

// Community Pannel

.communityPannel {
  .bgWraps {
    background: #fafafa;
    padding-top: 42px;
  }
  .imgBlock {
    padding-bottom: 23px;
    figure {
      background-size: auto 101%;
      background-repeat: no-repeat;
      background-position: center;
      width: 257px;
      margin: 0 auto;
      min-height: 257px;
      border-radius: 50%;
    }
  }
  .titleBlock {
    margin-bottom: -5px;
    h2 {
      font-weight: 700;
      font-size: 39px;
      color: #ec2c3a;
      padding-left: 20px;
      text-transform: uppercase;
      line-height: 35px;
    }
  }
  .redBlock {
    background: #ec2c3a;
    padding: 9px 0 17px;
    h2 {
      font-weight: 400;
      font-size: 39px;
      color: #FFF;
      padding-left: 20px;
      line-height: 32px;
    }
  }
  .detailBlock {
    padding: 10px 0 46px;
    .wraps {
      padding-left: 22px;
    }
    p {
      font-size: 18px;
      color: #17140e;
      margin-bottom: 14px;
      line-height: 21px;
    }
    .btnManasq {
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      color: #FFF;
      background: #1268e5;
      padding: 8px 17px;
      text-transform: uppercase;
      border-radius: 25px;
    }
  }
}

// App Pannel

.appPannel {
  background: #ec2c3a;
  padding: 38px 0 81px;
  .bgWraps {
    padding: 0 15px;
  }
  h2 {
    font-size: 47px;
    font-weight: 400;
    color: #FFF;
    padding-bottom: 22px;
    text-transform: uppercase;
    line-height: 52px;
  }
  p {
    color: #FFF;
    line-height: 18px;
  }
  .appStores {
    padding: 24px 0 2px;
    figure {
      max-width: 190px;
      display: block;
      margin-bottom: 25px;
      a {
        display: block;
      }
      &:last-child {
        margin-bottom: 12px;
      }
    }
  }
  .imgDesg {
    display: block;
    max-width: 288px;
  }
}

// Knowlege Pannel

.knowledgePannel {
  background: #1b3d6e;
  padding: 68px 0 49px;
  text-align: center;
  h2 {
    font-size: 42px;
    color: #FFF;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
  }
  ul {
    padding: 102px 0 53px;
    text-align: center;
    li {
      margin-bottom: 56px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    figure {
      padding-bottom: 27px;
    }
    h4 {
      font-size: 24px;
      font-weight: 700;
      color: #FFF;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .btnManasq {
    display: inline-block;
    background: #1268e5;
    font-size: 13px;
    color: #FFF;
    font-weight: 700;
    padding: 9px 22px;
    text-transform: uppercase;
    border: 1px solid #FFF;
    border-radius: 15px;
  }
}

// Events Pannel

.eventsPannel {
  background: #ec2c3a;
  padding: 40px 0 49px;
  h2 {
    font-weight: 700;
    color: #FFF;
    font-size: 43px;
    line-height: 40px;
    padding-bottom: 38px;
    text-align: center;
  }
  ul {
    li {
      background: #FFF;
      padding: 10px 6px 1px;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .eventHead {
    display: table;
    width: 100%;
    margin-bottom: 2px;
    .eventLogo {
      max-width: 103px;
      float: left;
    }
    .followShare {
      float: right;
      width: calc(100% - 103px);
      text-align: right;
      .follow {
        font-size: 10px;
        color: #4287d9;
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #4287d9;
        border-radius: 15px;
      }
    }
  }
  figure {
    padding: 5px 0 3px;
  }
  .eventDetails {
    padding-top: 5px;
    p {
      font-size: 15px;
      line-height: 16px;
      a {
        color: #00aced;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .venue {
      p {
        font-size: 12px;
        color: #778593;
      }
    }
  }
}


// Join Our Email

.joinEmail {
  background: #969696;
  padding: 50px 0 17px;
  h2 {
    font-weight: 700;
    font-size: 43px;
    color: #FFF;
    padding-bottom: 61px;
    text-align: center;
    line-height: 41px;
  }
  label {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 6px;
    text-transform: capitalize;
  }
  .txtBox {
    display: block;
    width: 100%;
    height: 60px;
    background: #FFF;
    font-size: 20px;
    color: #676767;
    padding: 0 15px;
    &.error {
      background: #f2dede;
      //border: 1px solid red;
    }
  }
  div {
    margin-bottom: 32px;
    &.containerWrapper {
      margin-bottom: 0;
    }
  }
  .groupCheckbox {
    margin-top: -6px;
    margin-bottom: 49px;
    div {
      margin-bottom: 29px;
      label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-bottom: 0;
      }
      label {
        font-size: 21px;
        padding-left: 30px;
        position: relative;
        user-select: none;
      }
      .checkbox {
        background: #FFF;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -11px;
        left: 0;
        transition: all 0.55s;
        &::after {
          content: '';
          width: 7px;
          height: 12px;
          position: absolute;
          left: 9px;
          top: 5px;
          opacity: 0;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg) scale(0);
          transition: all 0.55s;
        }
      }
      .chkBox {
        position: absolute;
        opacity: 0;
        &:checked {
          ~ .checkbox {
            background-color: #1b3d6e;
            &::after {
              opacity: 1;
              transform: rotate(45deg) scale(1);
            }
          }
        }
      }
    }
  }
  .submit {
    button {
      background: #1268e5;
      font-weight: 700;
      font-size: 27px;
      color: #FFF;
      padding: 3px 40px 0;
      border-radius: 25px;
      border: 1px solid #FFF;
      text-transform: uppercase;
    }
  }
}
.mobileSearchfield {
  display: none;
  &.active {
    display: block;
  }
}

.popUpWrapper {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 100%;
  z-index: 999;
  transform: translateX(-50%) translateY(11%);
  .popupWrap {
    margin: 0 12px;
    .wrap {
      background: #c5d9f4;
      max-width: 386px;
      padding: 20px;
      margin: 0 auto;
    }
    h2 {
      font-size: 20px;
      color: #1c3d6d;
      text-transform: uppercase;
    }
    p {
      color: #3d3d3d;
    }
    .popLnk {
      margin-top: 20px;
      text-align: center;
      a {
        background: #1268e5;
        font-weight: 700;
        font-size: 16px;
        color: #FFF;
        display: inline-block;
        padding: 9px 20px 8px;
        line-height: 17px;
        border-radius: 25px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
  .close {
    opacity: 1;
    i {
      display: block;
      width: 34px;
      height: 34px;
      position: relative;
      float: right;
      margin-top: -14px;
      &::after,
      &::before {
       content: '';
        background: #1b3d6e;
        width: 3px;
        height: 26px;
        transform-origin: center center;
        transition-delay: 0.1s;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -14px;
        margin-left: 13px;
       transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      &::after {
        transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }
      &:hover {
        opacity: 1;
          &::before {
            transform: rotate(135deg);
          }
         &::after {
          transform: rotate(45deg);
         }
      }
    }
  }
}
.alertsPannel {
  .alertsWrap {
    margin: 0 12px;
    .wrap {
      background: #da1627;
      max-width: 386px;
      padding: 5px 10px 5px 30px;
      margin: 0 auto;
      position: relative;
      &::before {
        content: '';
        background-image: url('#{$img}/alert_icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 7px;
        left: 5px;
      }
    }
    p {
      font-size: 12px;
      color: #FFF;
      line-height: 13px;
    }
  }
}
.floatingAlerts {
  position: fixed;
  bottom: 1%;
  left: 50%;
  width: 100%;
  z-index: 999999;
  transform: translateX(-50%) translateY(11%);
  .floatWrap {
    margin: 0 12px;
    .wrap {
      background: #ff9928;
      max-width: 386px;
      padding: 5px 10px 5px 30px;
      margin: 0 auto;
      position: relative;
      &::before {
        content: '';
        background-image: url('#{$img}/alert_icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 7px;
        left: 5px;
      }
    }
    p {
      font-size: 12px;
      color: #3d3d3d;
      line-height: 13px;
    }
  }
}

.popupWrap {
  .wrap {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s;
    &.Open {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.popUpOpen {
  .popUpWrapper {
    display: block;
  }
}

@media screen and (min-width: $tab-port-min) {


  .popUpWrapper {
    top: 10%;
    .popupWrap {
      .wrap {
        max-width: 460px;
        padding: 20px 30px;
      }
      h4 {
        font-size: 24px;
      }
    }
  }
  .alertsPannel {
    .alertsWrap {
      margin: 0;
      .wrap {
        padding: 5px 16px 5px 30px;
        max-width: 100%;
        &::before {
          top: 8px;
          left: 6px;
        }
      }
      p {
        font-size: 13px;
      }
    }
  }

  .floatingAlerts {
    .floatWrap {
      .wrap {
        padding: 8px 10px 8px 40px;
        max-width: 616px;
        &::after {
          width: 24px;
          height: 20px;
          top: 10px;
          left: 9px;
        }
      }
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .bannerWrapper {
    min-height: 432px;
    .loginBlocks {

    }
    .bannerImage {
      min-height: 432px;
    }
    .bannerContent {
      padding-top: 154px;
      h1 {
        font-size: 31px;
        line-height: 33px;
        text-align: left;
        span {
          &:nth-child(1) {
            letter-spacing: 1.5px;
          }
          &:nth-child(2) {
            letter-spacing: -0.4px;
          }
        }
        strong {
          span {
            &:nth-child(1) {
              letter-spacing: 2.7px;
            }
            &:nth-child(2) {
              letter-spacing: 1.9px;
            }
            &:nth-child(3) {
              letter-spacing: 4px;
            }
          }
        }
      }
    }
  }
  .bankingServices {
    max-width: calc(100% - 152px);
    padding-bottom: 61px;
    margin: -40px auto 0;
    .containerWrapper {
      padding: 0;
    }
    ul {
      display: table;
      width: 100%;
      li {
        //max-width: 171px;
        max-width: 27.923%;
        min-height: 154px;
        max-height: 154px;
        float: left;
        margin-bottom: 0;
        border: 1px solid #FFF;
        h2 {
          font-size: 20px;
          line-height: 19px;
        }
        .imgBlock {
          min-height: 154px;
        }
        .serviceContent {
          .title {
            min-width: 107px;
            max-width: 107px;
            margin-bottom: 0;
          }
        }
        &.bunisessBank {
          border-right: none;
        }
        &.mortage {
          border-left: none;
        }
        &.bunisessBank,
        &.mortage {
          margin-top: 12px;
        }
        &.didgitalCenter,
        &.bunisessBank {
          .serviceContent {
            .title {
              min-width: 105px;
              max-width: 105px;
            }
          }
        }
        &.clentService {
          .serviceContent {
            .title {
              min-width: 103px;
              max-width: 103px;
            }
          }
        }
        &.personalBank,
        &.didgitalCenter {
          //max-width: 271px;
          max-width: 44.123%;
          min-height: 166px;
          max-height: 166px;
          figure {
            min-height: 166px;
          }
          h2 {
            padding-right: 34px;
          }
          .serviceContent {
            .title {
              min-width: 128px;
              max-width: 128px;
            }
          }
        }
        &.mortage {
          padding: 0 26px;
          .serviceContent {
            position: static;
            padding: 22px 0 0;
          }
          h3 {
            font-size: 20px;
            line-height: 20px;
            strong {
              font-size: 40px;
              padding-left: 0;
              margin-top: 17px;
              line-height: 22px;
              letter-spacing: -1px;
              width: 100%;
              span {
                font-size: 30px;
                margin-top: -9px;
                margin-left: -9px;
              }
            }
          }
        }
        &.kasasa {
          .serviceContent {
            min-height: 154px;
            .detailBlock {
              width: 112px;
              padding-right: 5px;
              padding-top: 13px;
              h3 {
                font-weight: 400;
                font-size: 18px;
                line-height: 15px;
                margin-bottom: 6px;
                strong {
                  font-weight: 700;
                }
                sup {
                  top: 0;
                  font-size: 100%;
                }
              }
            }
            .btnManasq {
              font-weight: 700;
              font-size: 7px;
              padding: 3px 5px;
              margin-left: 4px;
            }
          }
          figure {
            width: 83px;
            bottom: -1px;
          }
        }
        &.clentService {
          border-left: none;
          border-top: none;
        }
      }
    }
  }
  // Blue Pannel

  .bluePannel {
    background: none;
    padding: 0;
    margin-bottom: 31px;
    .bgWrap {
      background: #1b3d6e;
      padding: 27px 24px;
      display: flex;
      flex-wrap: wrap;
      //align-items: center
    }
    .wraps {
      padding: 22px 24px 0;
      position: relative;
    }
    .detailsWrap {
      //max-width: calc(50% - 48.5px);
      //max-width: 43.165%;
      //max-width: 45.965%;
      max-width: 293px;
      display: inline-block;
      vertical-align: top;
      padding-bottom: 44px;
      margin-right: 3px;
      border-radius: 24px;
      h2 {
        font-size: 21px;
        margin-bottom: 1px;
        line-height: 26px;
        + p {
          margin-top: -3px;
        }
      }
      h3 {
        margin-bottom: 4px;
        + p {
          margin-top: -1px;
        }
      }
      p {
        font-size: 12px;
        line-height: 14px;
      }
      .btnManasq {
        font-size: 12px;
        padding: 3px 18px;
        margin-top: 0;
        position: absolute;
        bottom: 15px;
        left: 0;
      }
    }
    figure {
      max-width: 85px;
      display: inline-flex;
      align-items: center;
      + .detailsWrap {
        margin-left: 3px;
        margin-right: 0px;
      }
    }
  }

  // Community Pannel

  .communityPannel {
    position: relative;
    /*padding-left: 60px;
    padding-right: 60px;*/
    margin-bottom: 38px;
    .bgWraps {
      padding-top: 36px;
      padding-bottom: 13px;
      max-width: 728px;
      margin: 0 auto;
      position: relative;
    }
    .titleBlock {
      margin-bottom: -3px;
    }
    .imgBlock {
      position: absolute;
      right: 20px;
      top: 16px;
      z-index: 99;
      figure {
        width: 280px;
        height: 280px;
      }
    }
    .titleBlock,
    .redBlock,
    .detailBlock {
      h2,
      .wraps {
        padding-left: 62px;
      }
    }
    .redBlock,
    .titleBlock {
      h2 {
        font-size: 30px;
      }
    }
    .titleBlock {
      //max-width: calc(100% - 210px);
      //margin: 0 20px -4px;
      h2 {
        line-height: 27px;
      }
    }
    .redBlock {
      //margin: 0 20px;
      .containerWrapper {
        padding: 0;
      }
      h2 {
        line-height: 33px;
      }
    }
    .redBlock {
      padding: 12px 0 5px;
      max-width: calc(100% - 210px);
    }
    .detailBlock {
      padding-top: 11px;
      padding-bottom: 0;
      .wraps {
        max-width: 332px;
        padding-left: 60px;
      }
      p {
        font-size: 15px;
        line-height: 16px;
        margin-bottom: 12px;
      }
    }
  }

  // App Pannel

  .appPannel {
    background: none;
    padding-bottom: 80px;
    .bgWraps {
      background: #ec2c3a;
      padding-bottom: 15px;
      position: relative;
    }
    .imgDesg {
      max-width: 228px;
      position: absolute;
      top: -35px;
      left: -23px;
    }
    .appStores {
      padding: 14px 0 4px 0;
      figure {
        display: inline-block;
        max-width: 108px;
        margin-bottom: 0;
        margin-right: 3px;
        text-align: right;
        &:last-child {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    .appDetails {
      max-width: 502px;
      padding-top: 22px;
      padding-right: 24px;
      margin-left: auto; // TO align right
      text-align: right;
    }
    h2 {
      font-size: 52px;
      font-weight: 700;
      padding-bottom: 11px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
    }
  }

  // Knowledge Center

  .knowledgePannel {
    background: none;
    padding: 0;
    margin-bottom: 44px;
    .bgWraps {
      background: #1b3d6e;
      padding: 29px 0 17px;
    }
    h2 {
      font-size: 28px;
      line-height: 19px;
    }
    ul {
      padding: 29px 49px 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: top;
      justify-content: space-between;
      overflow: hidden;
      text-align: center;
      li {
        max-width: 25%;
        margin-bottom: 0;
        //float: left;
        &:nth-child(2) {

        }
      }
      figure {
        max-width: 69px;
        margin: 0 auto;
        padding: 0;
        min-height: 67px;
      }
      h4 {
        font-size: 16px;
      }
    }
    .btnManasq {
      font-size: 12px;
      padding: 4px 19px;
    }
  }

  // Events Pannel

  .eventsPannel {
    padding: 19px 0 17px;
    h2 {
      font-size: 28px;
      padding-bottom: 13px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      li {
        width: 33.13%;
        margin-bottom: 0;
      }
    }
  }


  // Join Our Email

  .joinEmail {
    padding: 24px 0 25px;
    h2 {
      font-size: 23px;
      padding-bottom: 1px;
      br {
        display: none;
      }
    }
    label {
      font-size: 16px;
      margin-bottom: -1px;
    }
    .txtBox {
      font-size: 16px;
      height: 31px;
    }
    .submit {
      margin-top: 8px;
      margin-bottom: 0;
      button {
        font-size: 12px;
        padding: 2px 21px 1px;
      }
    }
    form {
      div {
        display: inline-block;
        vertical-align: top;
        width: 30.03%;
        margin-right: 33px;
        margin-bottom: 3px;
        &:nth-child(3) {
          margin-right: 0;
        }
        &.submit {
          width: 100%;
          display: block;
          text-align: center;
        }
        &.groupCheckbox {
          width: 100%;
          max-width: 100%;
          //max-width: 96.6%;
          display: flex;
          flex-wrap: wrap;
          align-items: top;
          justify-content: space-between;
          margin: 0 auto;
          div {
            margin-bottom: 9px;
            margin-right: 0;
            .checkbox {
              width: 12px;
              height: 12px;
              top: -7px;
              &::after {
                width: 5px;
                height: 8px;
                left: 4px;
                top: 1px;
                border-width: 0 2px 2px 0;
              }
            }
            label {
              font-size: 16px;
              padding-left: 20px;
              margin-top: 2px;
            }
          }
        }
      }
    }
  }





}

@media screen and (min-width: $tab-lands-min) {



  // Alerts

  .popUpWrapper {
    top: 16%;
    .popupWrap {
      .wrap {
        padding: 21px 28px 20px;
        max-width: 620px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 4px;
      }
      p {
        line-height: 19px;
      }
      .popLnk {
        margin-top: 29px;
        a {
          font-size: 18px;
          line-height: 19px;
        }
      }
    }
  }

  .alertsPannel {
    .alertsWrap {
      p {
        font-size: 14px;
      }
    }
  }

  .floatingAlerts {
    .floatWrap {
      .wrap {
        max-width: 855px;
        padding: 13px 16px 21px 67px;
        &::before {
          top: 11px;
          left: 11px;
          width: 31px;
          height: 28px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }

  // Banner

  #wrapper_bgndVideo {
    min-height: 576px;
  }
  .bannerWrapper {
    min-height: 576px;
    .bannerImage {
      min-height: 576px;
    }
    .bannerContent {
      padding-top: 195px;
      h1 {
        font-size: 38px;
        line-height: 43px;
        padding-left: 44px;
        span {
          &:nth-child(1) {
            letter-spacing: normal;
          }
          &:nth-child(2) {
            letter-spacing: -1.8px;
          }
        }
        strong {
          span {
            &:nth-child(1) {
              letter-spacing: 1.5px;
            }
            &:nth-child(2) {
              letter-spacing: 0.7px;
            }
            &:nth-child(3) {
              letter-spacing: 3.3px;
            }
          }
        }
      }
    }
  }

  // Services

  .bankingServices {
    //max-width: 861px;
    max-width: 83.593%;
    margin-top: -92px;
    padding-bottom: 0;
    margin-bottom: 52px;
    .containerWrapper {
      padding: 0;
    }
    ul {
      li {
        //max-width: 243px;
        max-width: 28.224%;
        min-height: 223px;
        max-height: 223px;
        .serviceContent {
          .title {
            min-width: 150px;
            max-width: 150px;
          }
        }
        .imgBlock {
          min-height: 223px;
        }
        h2 {
          font-size: 28px;
          line-height: 26px;
          padding-bottom: 13px;
        }
        &.bunisessBank,
        &.mortage {
          margin-top: 16px;
        }
        &.personalBank,
        &.didgitalCenter {
          //max-width: 374px;
          max-width: 43.438%;
          min-height: 239px;
          max-height: 239px;
          .serviceContent {
            .title {
              min-width: 170px;
              max-width: 170px;
            }
          }
          .imgBlock {
            min-height: 239px;
          }
          h2 {
            padding-right: 47px;
          }
        }
        &.clentService,
        &.bunisessBank {
          .serviceContent {
            .title {
              min-width: 149px;
              max-width: 149px;
            }
          }
        }
        &.mortage {
          padding: 29px 0 0;
          h3 {
            font-size: 28px;
            line-height: 27px;
            strong {
              font-size: 56px;
              margin-top: 33px;
            }
          }
          .serviceContent {
            padding: 0 35px 0;
          }
        }
        &.kasasa {
          border-right: none;
          .serviceContent {
            .detailBlock {
              width: 150px;
              padding-top: 19px;
              h3 {
                font-size: 25px;
                margin-bottom: 5px;
                line-height: 20px;
              }
            }
            .btnManasq {
              font-size: 10px;
              padding: 5px 12px;
              border-radius: 20px;
            }
          }

          figure {
            width: 117px;
            bottom: 0;
          }
        }
      }
    }
  }

  // Blue Pannel

  .bluePannel {
    margin-bottom: 50px;
    .bgWrap {
      padding: 32px 29px;
    }
    .wraps {
      padding: 26px 19px 0;
    }
    .detailsWrap {
      max-width: 377px;
      padding-bottom: 54px;
      h2 {
        font-size: 26px;
        margin-bottom: 5px;
        line-height: 30px;
        + p {
          margin-top: -7px;
        }
      }
      h3 {
        font-size: 21px;
        margin-bottom: 5px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        a {
          font-size: inherit;
        }
      }
      .btnManasq {
        font-size: 15px;
        padding: 5px 27px;
        margin-top: 0;
        bottom: 16px;
        border-radius: 25px;
      }
    }
  }


  // Community Pannel

  .communityPannel {
    margin-bottom: 50px;
    .titleBlock,
    .redBlock,
    .detailBlock {
      h2,
      .wraps {
        padding-left: 70px;
      }
    }
    .bgWraps {
      padding-top: 30px;
      padding-bottom: 18px;
      max-width: 904px;
    }
    .titleBlock,
    .redBlock {
      max-width: calc(100% - 305px);
      padding: 14px 0 9px;
      //margin: 0 59px;
      h2 {
        font-size: 38px;
        line-height: 33px;
      }
    }
    .titleBlock {
      padding-bottom: 0;
      margin-bottom: -4px;
    }
    .detailBlock {
      padding-top: 12px;
      p {
        font-size: 18px;
        line-height: 19px;
        margin-bottom: 14px;
      }
    }
    .imgBlock {
      top: 18px;
      right: 0;
      figure {
        width: 348px;
        height: 348px;
      }
    }
    .redBlock {
      padding-top: 15px;
      padding-bottom: 6px;
      h2 {
        line-height: 39px;
      }
    }
  }

  // App Pannel

  .appPannel {
    padding-bottom: 108px;
    .bgWraps {
      padding-bottom: 20px;
      //margin-left: 34px;
    }
    .appDetails {
      max-width: 551px;
      padding-top: 32px;
      padding-right: 0;
      margin-right: 34px;
    }
    h2 {
      font-size: 62px;
      padding-bottom: 17px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
    .appStores {
      padding-top: 17px;
      figure {
        max-width: 126px;
        margin-right: 0;
      }
    }
    .imgDesg {
      max-width: 278px;
      top: -31px;
      left: -36px;
    }
  }

  // Knowledge Pannel

  .knowledgePannel {
    margin-bottom: 41px;
    .bgWraps {
      padding: 40px 0 22px;
    }
    h2 {
      font-size: 35px;
    }
    ul {
      padding: 46px 59px 20px;
      figure {
        max-width: 84px;
        min-height: 83px;
      }
      h4 {
        font-size: 20px;
      }
    }
    .btnManasq {
      font-size: 15px;
      padding: 6px 24px;
    }
  }

  // Current Events

  .eventsPannel {
    padding: 28px 0 34px;
    h2 {
      font-size: 35px;
      padding-bottom: 37px;
    }
    .eventHead {
      margin-bottom: 15px;
      .eventLogo {
        max-width: 164px;
      }
      .followShare {
        width: calc(100% - 164px);
        .follow {
          font-size: 11px;
          padding: 4px 14px;
        }
      }
    }
    .eventDetails {

      .venue {
        p {
          font-size: 14px;
          margin-bottom: 19px;
        }
      }
    }
  }

  // Join Email

  .joinEmail {
    padding: 40px 0 30px;
    h2 {
      font-size: 30px;
      padding-bottom: 9px;
    }
    label {
      font-size: 21px;
      margin-bottom: 0;
      line-height: 20px;
    }
    .txtBox {
      height: 41px;
    }
    form {
      div {
        width: 30.239%;
        margin-right: 39px;
        margin-bottom: 14px;
        &.groupCheckbox {
          width: 100%;
          div {
            width: auto;
            label {
              padding-left: 27px;
            }
            .checkbox {
              width: 16px;
              height: 16px;
              top: -10px;
              &::after {
                width: 6px;
                height: 10px;
                left: 5px;
                top: 1px;
              }
            }
          }
        }
        &.submit {
          margin-top: 17px;
          button {
            font-size: 16px;
            padding: 2px 29px 3px;
          }
        }
      }
    }
  }


}

@media screen and (min-width: 1263px) {

  .bluePannel {
    .detailsWrap {
      max-width: calc(50% - 77px);
    }
  }
}
@media screen and (min-width: $base - 16px) {

  .communityPannel {
    .titleBlock {
      h2 {
        padding-left: 60px;
      }
      .containerWrapper {
        padding: 0;
      }
    }
  }
  .bluePannel {
    figure {
      max-width: 147px;
    }
  }
}

@media screen and (min-width: $base) {


  .popUpWrapper {
    top: 246px;
  }
  .alertsPannel {
    .alertsWrap {
      .wrap {
        padding: 16px 16px 22px 67px;
        &::before {
          top: 11px;
          left: 11px;
          width: 31px;
          height: 28px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }
  .floatingAlerts {
    .floatWrap {
      .wrap {
        max-width: 1280px;
      }
    }
  }

  #wrapper_bgndVideo {
    min-height: 965px;
  }
  #controlBar_bgndVideo {
    display: none !important;
  }
  .bannerWrapper {
    min-height: 965px;
    .bannerImage {
      min-height: 965px;
    }
    .bannerContent {
      padding-top: 288px;
      h1 {
        font-size: 63px;
        line-height: 66px;
        padding-left: 0;
        span {
          &:nth-child(2) {
            letter-spacing: -3.3px;
          }
        }
        strong {
          span {
            &:nth-child(1) {
              letter-spacing: 2px;
            }
            &:nth-child(2) {
              letter-spacing: 1px;
            }
            &:nth-child(3) {
              letter-spacing: 5.1px;
            }
          }
        }
      }
    }
  }

  .bankingServices {
    max-width: 1240px;
    margin-top: -161px;
    margin-bottom: 112px;
    ul {
      li {
        max-width: 328px;
        min-height: 338px;
        max-height: 338px;
        overflow: hidden;
        .imgBlock {
          min-height: 338px;
          transition: all 0.75s;
        }
        .serviceContent {
          bottom: 16px;
          .title {
            min-width: 203px;
            max-width: 203px;
          }
        }
        &:hover {
          .imgBlock {
            transform: scale(1.1);
          }
          h2 {
            transform: translateY(-30px);
          }
        }
        h2 {
          font-size: 43px;
          line-height: 39px;
          transition: all 0.75s;
        }
        &.clentService,
        &.bunisessBank {
          .serviceContent {
            .title {
              min-width: 205px;
              max-width: 205px;
            }
          }
        }
        &.personalBank,
        &.didgitalCenter {
          max-width: 584px;
          min-height: 354px;
          max-height: 354px;
          .imgBlock {
            min-height: 354px;
          }
        }
        &.personalBank {
          .serviceContent {
            .title {
              min-width: 253px;
              max-width: 253px;
            }
          }
        }
        &.didgitalCenter {
          border-top: none;
          .serviceContent {
            bottom: 32px;
            .title {
              min-width: 252px;
              max-width: 252px;
            }
          }
        }
        &.mortage {
          .serviceContent {
            padding: 15px 0 0 27px;
          }
          h3 {
            font-weight: 700;
            font-size: 42px;
            line-height: 38px;
            span {
              font-weight: 400;
            }
            strong {
              font-size: 126px;
              padding-left: 60px;
              margin-top: 43px;
              text-align: left;
              span {
                font-size: 66px;
                margin-top: -23px;
                margin-left: -30px;
              }
            }
          }
        }
        &.kasasa {
          overflow: visible;
          border-top: none;
          .serviceContent {
            bottom: 0;
            .detailBlock {
              width: 202px;
              padding-top: 20px;
              h3 {
                font-size: 29px;
                margin-bottom: 17px;
                line-height: 29px;
              }
            }
            .btnManasq {
              font-size: 13px;
              padding: 10px 27px;
            }
          }
          figure {
            width: 182px;
            left: -10px;
          }
        }
      }
    }
  }

  //Blue Pannel

  .bluePannel {
    margin-bottom: 55px;
    .bgWrap {
      padding: 50px 41px;
    }
    .wraps {
      padding: 31px 45px 0;
    }
    .detailsWrap {
      max-width: calc(50% - 81.5px);
      padding-bottom: 95px;
      margin-right: 5px;
      border-radius: 35px;
      h2 {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: -1px;
        + p {
          margin-top: 5px;
        }
      }
      h3 {
        font-size: 31px;
        margin-bottom: 9px;
        line-height: 32px;
        + p {
          margin-top: 0;
        }
      }
      p {
        font-size: 18px;
        line-height: 22px;
      }
      .btnManasq {
        font-size: 19px;
        padding: 8px 41px 9px;
        border-radius: 23px;
        bottom: 25px;
        margin-left: 45px;
      }
    }
    figure {
      max-width: 147px;
      + .detailsWrap {
        margin-left: 5px;
      }
    }
  }

  // Community Pannel

  .communityPannel {
    margin-bottom: 128px;
    .bgWraps {
      max-width: 1280px;
      padding-bottom: 30px;
      margin: 0 auto;
      position: relative;
    }
    .titleBlock,
    .redBlock {
      h2 {
        font-size: 63px;
        line-height: 55px;
      }
    }
    .titleBlock {
      padding-top: 16px;
      padding-bottom: 0;
      margin: 0 20px -7px 2px;
      max-width: 100%;
      .containerWrapper {
        padding: 0;
      }
      h2 {
        padding-left: 96px;
      }
    }
    .redBlock {
      max-width: 1149px;
      padding-top: 18px;
      padding-bottom: 21px;
      margin: 0 auto;
      transform: translateX(-64px);
      h2 {
        padding-left: 98px;
        line-height: 51px;
      }
    }
    .detailBlock {
      padding-top: 26px;
      .wraps {
        margin-left: 116px;
        padding-left: 2px;
      }
      p {
        font-size: 18px;
        margin-bottom: 25px;
      }
      .btnManasq {
        font-size: 19px;
        padding: 10px 37px;
        border-radius: 20px;
      }
    }
    .imgBlock {
      top: 27px;
      right: 0;
      figure {
        width: 501px;
        height: 501px;
      }
    }
  }

  // App Pannel

  .appPannel {
    margin-bottom: 154px;
    padding-top: 0;
    padding-bottom: 0;
    .bgWraps {
      padding-bottom: 38px;
    }
    h2 {
      font-size: 81px;
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 37px;
    }
    p {
      font-size: 26px;
      line-height: 26px;
    }
    .appDetails {
      max-width: 731px;
    }
    .imgDesg {
      max-width: 408px;
      top: -56px;
      left: -55px;
    }
    .appStores {
      padding-top: 40px;
      figure {
        max-width: 185px;
      }
    }
  }

  // Knowledge Pannel

  .knowledgePannel {
    margin-bottom: 73px;
    .bgWraps {
      padding: 49px 0 31px;
    }
    h2 {
      font-size: 50px;
    }
    ul {
      padding: 89px 86px 40px;
      h4 {
        font-size: 24px;
      }
      figure {
        max-width: 116px;
        min-height: 112px;
      }
    }
    .btnManasq {
      font-size: 17px;
      padding: 11px 44px;
      border-radius: 22px;
    }
  }

  // Current Events

  .eventsPannel {
    padding: 38px 0 58px;
    h2 {
      font-size: 47px;
      padding-bottom: 45px;
    }
    ul {
      li {
        width: 32.73%;
        padding: 13px 8px 1px;
      }
    }
    figure {
      padding-bottom: 4px;
    }
    .eventHead {
      margin-bottom: 4px;
      .eventLogo {
        max-width: 148px;
      }
      .followShare {
        width: calc(100% - 148px);
        .follow {
          font-size: 11px;
          padding: 7px 23px;
        }
      }
    }
    .eventDetails {
      p {
        font-size: 18px;
        line-height: 20px;
      }
      .venue {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  // Join Email

  .joinEmail {
    padding: 43px 0 32px;
    h2 {
      font-size: 47px;
      padding-bottom: 32px;
    }
    label {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .txtBox {
      height: 60px;
    }
    form {
      div {
        width: 31.18%;
        margin-bottom: 32px;
        &.groupCheckbox {
          width: 100%;
          margin: 0;
          div {
            label {
              font-size: 22px;
              padding-left: 40px;
            }
            .checkbox {
              width: 24px;
              height: 24px;
              top: -14px;
              &::after {
                width: 8px;
                height: 14px;
                left: 8px;
                top: 3px;
                border-width: 0 3px 3px 0;
              }
            }
          }
        }
        &.submit {
          margin-top: 31px;
          button {
            font-size: 28px;
            padding: 3px 43px 5px;
          }
        }
      }
    }
  }


}


@media screen and (min-width: 1360px) {

  .bankingServices {
    max-width: 1280px;
    ul {
      li {
        max-width: 348px;
      }
    }
  }
}
