.full-width {
    width: 100%;
    float: left;
}

.containerWrapper {
    @include bp(landscape) {
        //padding: 0 60px;
    }
    @include bp(tablet) {
        //padding: 0 20px;
    }
    @include bp(mobile) {
        //padding: 0 15px;
    }
}
.ie11{
    .aboutUs{
        display: inline;
    }
}
.btn-mansq {
    display: inline-block;
    background: #1268e5;
    padding: 10px 45px;
    line-height: 16px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.heroBanner {
    min-height: 830px;
    margin-bottom: -230px;
    @include bp(landscape) {
        min-height: 571px;
        margin-bottom: -186px;
    }
    @include bp(tablet) {
        min-height: 500px;
        margin-bottom: -116px;
    }
    @include bp(mobile) {
        min-height: 420px;
        margin-bottom: -116px;
    }
    .bannerImage {
        min-height: 830px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include bp(landscape) {
            min-height: 571px;
        }
        @include bp(tablet) {
            min-height: 500px;
        }
        @include bp(mobile) {
            min-height: 420px;
        }
    }
}

.heroBlock {
    position: relative;
    width: 100%;
    ul,ol{
        list-style: disc;
        padding-left: 55px;
        margin-top: 12px;
        margin-bottom: 25px;
        @include bp(tablet) {
            margin-bottom: 20px;
        }
        @include bp(mobile) {
            padding-left: 49px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        li {
            display: list-item;
            color: #666666;
            font-size: 20px;
            padding-left: 17px;
            margin-bottom: -1px;
            @include bp(tablet) {
                font-size: 16px;
            }
        }
    }
    .bgWrap {
        width: 100%;
        background: #f1f1f1;
        padding: 50px 65px 40px 65px;
        min-height: 300px;
        @include bp(landscape) {
            padding: 45px 60px 20px 55px;
        }
        @include bp(tablet) {
            padding: 42px 60px 20px 60px;
        }
        @include bp(mobile) {
            padding: 50px 10px 0px 10px;
        }
    }
    h2,
    h1 {
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
        color: #1268e5;
        margin-bottom: 22px;
        @include bp(landscape) {
            font-size: 36px;
            margin-bottom: 10px;
        }
        @include bp(tablet) {
            font-size: 24px;
            margin-bottom: 5px;
        }
        @include bp(mobile) {
            font-size: 32px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    p {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 24px;
        color: #3d3d3d;
        @include bp(landscape) {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 22px;
        }
        @include bp(tablet) {
            line-height: 22px;
            margin-bottom: 16px;
        }
        @include bp(mobile) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 17px;
        }
    }
}

.aboutUs {
    display: contents;
    .heroBlock {
        .bgWrap {
            padding: 90px 100px 40px 100px;
            @include bp(landscape) {
                padding: 45px 85px 20px 85px;
            }
            @include bp(tablet) {
                padding: 42px 60px 20px 60px;
            }
            @include bp(mobile) {
                padding: 45px 10px 0 10px;
            }
        }
        h2 {
            @include bp(landscape) {
                margin-bottom: 20px;
            }
            @include bp(tablet) {
                margin-bottom: 18px;
            }
            @include bp(mobile) {
                margin-bottom: 20px;
            }
        }
    }
}

.heroLinks,ul.heroLinks {
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 22px;
    display: flex;
    justify-content: center;
    list-style: none;
    @include bp(landscape) {
        padding-top: 18px;
    }
    @include bp(tablet){
        padding-top: 26px;
    }
    @include bp(mobile) {
        flex-direction: column;
        padding-top: 7px;
    }
    li {
        list-style: none;
        padding: 0;
        a {
            position: relative;
            background: #1268e5;
            display: flex;
            min-width: 240px;
            min-height: 83px;
            font-size: 27px;
            color: #fff;
            padding: 6px 22px 10px 105px;
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px 11px;
            text-decoration: none;
            line-height: 33px;
            letter-spacing: 1px;
            transition: all 0.3s;
            @include bp(landscape) {
                font-size: 18px;
                min-width: 160px;
                min-height: 56px;
                line-height: 25px;
                padding: 3px 8px 3px 70px;
                margin: 0 14px;
                margin-bottom: 0px;
            }
            @include bp(mobile) {
                line-height: 25px;
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
                width: max-content;
            }
            .heroLinksText {
                display: flex;
                align-items: center;
                transition: all 0.3s;
            }
            &:hover {
                background: #1b3d6e;
                .heroLinksText {
                    transform: translateX(5px);
                }
            }
            .heroLinksImage {
                position: absolute;
                width: 60px;
                height: 60px;
                left: 20px;
                top: 11px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
                @include bp(landscape) {
                    background-size: cover !important;
                    width: 42px;
                    height: 39px;
                    top: 8px;
                    left: 15px;
                }
                @include bp(mobile) {
                    background-size: cover !important;
                    width: 50px;
                    height: 39px;
                    top: 8px;
                }
            }
        }
    }
    .client-service {
        a {
            background: #1268e5;
            &:hover {
                background: #195dc1;
            }
        }
    }
    .find-us {
        a {
            background: #1a3d6e;
            &:hover {
                background: #0f2b52;
            }
        }
    }
    .call-us {
        a {
            background: #eb2837;
            &:hover {
                background: #cd2a3e;
            }
        }
    }
}

.ContentBlk1 {
    width: 100%;
    .bgWrap {
        padding: 45px 0px;
        background: #dcdada;
        @include bp(mobile) {
            background: #fff;
        }
        .flexWrapper {
            background: #fff;
            display: flex;
            @include bp(mobile) {
                display: flex;
                flex-direction: column;
            }
            .ContentImageWrap {
                width: 44%;
                float: left;
                min-height: 450px;
                position: relative;
                @include bp(landscape) {
                    width: 40.8%;
                    min-height: 330px;
                    display: flex;
                }
                @include bp(tablet) {
                    width: 34%;
                    min-height: 330px;
                    display: flex;
                    background-position: left;
                    background-size: auto;
                }
                @include bp(mobile) {
                    width: 100%;
                    min-height: 238px;
                    display: flex;
                }
                .contentImg {
                    padding: 100px 0px;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    transition: .55s all;
                    @include bp(landscape) {
                        padding: 40px 0;
                    }
                    @include bp(tablet) {
                        padding: 40px 0;
                    }
                    @include bp(mobile) {
                        padding: 10px 0px;
                        height: 238px;
                    }
                }
                &:hover {
                    .contentImg {
                        // transform: scale(1.1);
                    }
                }
                &:after {
                    position: absolute;
                    content: '';
                    bottom: -25px;
                    left: 0;
                    width: 120px;
                    height: 25px;
                    background: #eb2837;
                    @include bp(landscape) {
                        bottom: -15px;
                        width: 102px;
                        height: 15px;
                    }
                    @include bp(mobile) {
                        display: none;
                    }
                }
                .figureContent {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    display: inline-table;
                    width: 255px;
                    border: 3px solid #fff;
                    color: #fff;
                    padding: 27px 46px;
                    @include bp(landscape) {
                        padding: 40px 48px;
                        width: 61%;
                    }
                    @include bp(tablet) {
                        padding: 40px 26px 27px 26px;
                        width: 73%;
                    }
                    @include bp(mobile) {
                        margin: 20px auto;
                        padding: 38px 50px;
                        width: 226px;
                    }
                    h4 {
                        font-size: 40px;
                        line-height: 55px;
                        text-transform: uppercase;
                        position: relative;
                        @include bp(landscape) {
                            font-size: 36px;
                            line-height: 43px;
                        }
                        @include bp(tablet) {
                            font-size: 28px;
                            line-height: 35px;
                        }
                        @include bp(mobile) {
                            font-size: 36px;
                            line-height: 42px;
                        }
                        &:after {
                            position: absolute;
                            content: "";
                            bottom: -8px;
                            width: 30px;
                            height: 9px;
                            background: #eb2837;
                            left: 0;
                            @include bp(tablet) {
                                width: 28px;
                                height: 8px;
                            }
                        }
                    }
                }
            }
            .ContentParaWrap {
                padding: 30px 10px 0px 35px;
                width: 56%;
                float: left;
                @include bp(landscape) {
                    padding: 16px 30px 5px 30px;
                }
                @include bp(tablet) {
                    width: 66%;
                    padding: 22px 30px 3px 30px;
                }
                @include bp(mobile) {
                    width: 100%;
                    padding: 42px 10px 0 10px;
                }
                .SingleContentBlk {
                    h4 {
                        font-size: 23px;
                        font-weight: bold;
                        color: #666666;
                        text-transform: uppercase;
                        margin-bottom: 11px;
                        letter-spacing: 0.7px;
                        @include bp(landscape) {
                            margin-bottom: 0px;
                            font-size: 18px;
                        }
                        @include bp(mobile) {
                            margin-bottom: 5px;
                            font-size: 18px;
                        }
                    }
                    p {
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 15px;
                        @include bp(landscape) {
                            line-height: 20px;
                            margin-bottom: 14px;
                        }
                        @include bp(mobile) {
                            line-height: 19px;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    &.ltAlign {
        .bgWrap {
            padding-top: 80px;
            @include bp(landscape) {
                padding-top: 60px;
                padding-bottom: 0;
            }
            @include bp(tablet) {
                padding-top: 40px;
            }
            @include bp(mobile){
                padding-top: 58px;
            }
        }
    }
    &.rtAlign {
        .bgWrap {
            padding-bottom: 80px;
            @include bp(landscape) {
                padding: 60px 0px;
            }
            @include bp(tablet) {
                padding-top: 40px;
                padding-bottom: 40px;
            }
            @include bp(mobile) {
                padding: 0;
            }
            .flexWrapper {
                .ContentImageWrap {
                    min-height: 523px;
                    @include bp(landscape) {
                        min-height: 330px;
                        width: 31%;
                    }
                    @include bp(tablet) {
                        order: 1;
                        width: 33%;
                    }
                    @include bp(mobile) {
                        width: 100%;
                        order: 1;
                        min-height: 400px;
                    }
                    .contentImg {
                        padding: 57px 0 71px 0px;
                        @include bp(landscape) {
                            padding: 30px 0px;
                        }
                        @include bp(tablet) {
                            padding: 40px 0;
                        }
                        @include bp(mobile) {
                            padding: 10px 0px;
                            min-height: 400px;
                        }
                    }
                    .figureContent {
                        width: 285px;
                        padding: 22px 25px 23px 25px;
                        @include bp(landscape) {
                            width: 78%;
                            padding: 11px 18px;
                        }
                        @include bp(tablet) {
                            width: 92%;
                            padding: 17px 17px 15px 20px;
                        }
                        @include bp(mobile) {
                            width: 225px;
                            padding: 15px 22px;
                        }
                        h4 {
                            @include bp(tablet) {
                                font-size: 36px;
                            }
                        }
                        p {
                            font-size: 20px;
                            line-height: 23px;
                            margin-top: 24px;
                            @include bp(landscape) {
                                font-size: 18px;
                                line-height: 22px;
                            }
                            @include bp(mobile) {
                                font-size: 18px;
                                margin-top: 17px;
                            }
                        }
                    }
                }
                .contentLeft {
                    padding-left: 0;
                    @include bp(landscape) {
                        width: 69%;
                        padding-left: 30px;
                    }
                    @include bp(tablet) {
                        padding-left: 20px;
                    }
                    @include bp(mobile) {
                        width: 100%;
                        order: 2;
                        padding-left: 10px;
                        padding-top: 25px;
                    }
                }
            }
        }
    }
}
.firefox,.ie11{ 
    .ContentBlk1 {
        .bgWrap {
            .flexWrapper {
                .ContentImageWrap {
                    .figureContent {
                        margin-top: 112px;
                        bottom: auto;
                        display: inline-block;
                        @include bp(landscape){
                            margin-top: 95px;
                        }
                        @include bp(tablet){
                            margin-top: 115px;
                        }
                        @include bp(mobile){
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
        &.rtAlign{
            .bgWrap {
                .flexWrapper {
                    .ContentImageWrap {
                        .figureContent {
                            margin-top: 77px;
                            @include bp(landscape){
                                margin-top: 25px;
                            }
                            @include bp(tablet){
                                margin-top: 40px;
                            }
                            @include bp(mobile){
                                margin-top: 33px;
                            }
                        }
                    }
                }
            }   
        }
    }
}


.titleWrap {
    h3 {
        font-size: 36px;
        padding-bottom: 36px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        @include bp(landscape) {
            font-size: 24px;
            padding-bottom: 15px;
        }
        @include bp(tablet) {
            font-size: 22px;
            padding-bottom: 15px;
        }
        @include bp(mobile) {
            font-size: 22px;
            padding-bottom: 0;
        }
    }
}

.boardDirectors {
    .bgWrap {
        background: #1268e5;
        padding: 56px 100px 12px 100px;
        @include bp(landscape) {
            padding: 22px 85px 13px 85px;
        }
        @include bp(tablet) {
            padding: 20px 40px 10px 40px;
        }
        @include bp(mobile) {
            padding: 22px 10px 0 10px;
        }
        .table {
            @include bp(tablet) {
                margin-bottom: 0;
            }
            @include bp(mobile) {
                margin-bottom: 0;
            }
            tbody {
                tr {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #5794ed;
                    @include bp(mobile-large) {
                        width: 50%;
                        float: left;
                        display: block;
                    }
                    @include bp(mobile) {
                        display: block;
                        border: none;
                    }
                    td {
                        min-width: 27%;
                        display: inline-block;
                        padding: 15px 0px;
                        color: #fff;
                        border: none;
                        @include bp(mobile) {
                            border: none;
                            padding: 9px 0px;
                            display: block;
                        }
                        h5 {
                            font-size: 20px;
                            font-weight: bold;
                            @include bp(landscape) {
                                font-size: 16px;
                            }
                            a{
                                color: #fff;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        p {
                            line-height: initial;
                            font-size: 20px;
                            @include bp(landscape) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.memberFlexWrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    @include bp(mobile) {
        flex-direction: column;
        margin-top: 17px;
    }
    .memberFlex {
        margin-bottom: 80px;
        width: 26.7%;
				margin-top: 0px;
				margin-right: 9.8%;
				@include bp(desktop) {

					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tablandscape) {
					width: 27.1%;
					margin-right: 9.35%;
					margin-top: 0px;
					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tabportrait) {
					width: 30%;
					margin-right: 5%;
					margin-top: 0px;
					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-top:0px;
				}
        // @include bp(mobile) {
        //     width: 100%;
        // }
        h5 {
            font-size: 20px;
            font-weight: bold;
            @include bp(landscape) {
                font-size: 16px;
            }
            a{
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        p {
            line-height: initial;
            @include bp(landscape) {
                font-size: 16px;
            }
        }
        .memberFlexIcons {
            margin-top: 12px;
            a {
                display: inline-block;
                margin-right: 14px;
                @include bp(mobile){
                    margin-right: 21px;
                }
                img {
                    max-width: 40px;
                    @include bp(landscape) {
                        max-width: 30px;
                    }
                }
            }
        }
    }
}

.execManage {
    .bgWrap {
        background: #3b88f7;
        padding: 31px 100px 35px 100px;
        .titleWrap {
            h3 {
                @include bp(landscape) {
                    padding-bottom: 28px;
                }
                @include bp(tablet) {
                    padding-bottom: 38px;
                }
                @include bp(mobile) {
                    padding-bottom: 0px;
                }
            }
        }
        @include bp(landscape) {
            padding: 30px 84px 17px 84px;
        }
        @include bp(tablet) {
            padding: 21px 40px 19px 40px;
        }
        @include bp(mobile) {
            padding: 22px 10px 0 10px;
        }
        .memberFlexWrap {
            color: #fff;
            @include bp(mobile){
                margin-top: 20px;
            }
            .memberFlex{
                margin-bottom: 20px;
            }
        }
    }
}

.snrManage {
    .bgWrap {
        background: #cce1ff;
        padding: 35px 100px 6px 100px;
        color: #1a3d6e;
        @include bp(landscape) {
            padding: 35px 85px 42px 85px;
        }
        @include bp(tablet) {
            padding: 21px 40px 0px 40px;
        }
        @include bp(mobile) {
            padding: 30px 10px 0px 10px;
        }
        .titleWrap {
            h3 {
                @include bp(landscape) {
                    padding-bottom: 38px;
                }
                @include bp(tablet) {
                    padding-bottom: 40px;
                }
                @include bp(mobile) {
                    padding-bottom: 0px;
                }
                color: #1a3d6e;
            }
        }
        .memberFlexWrap {
            .memberFlex {
                margin-bottom: 80px;
                @include bp(landscape) {
                    margin-bottom: 43px;
                }
                @include bp(mobile) {
                    margin-bottom: 20px;
                }
                h5{
                    a{
                        color: #1a3d6e;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.historyTimeline {
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
    margin-top: -140px;
    position: relative;
    z-index: -1;
    @include bp(landscape) {
        height: 690px;
        margin-top: -80px;
    }
    @include bp(tablet) {
        height: 508px;
        margin-top: -89px;
    }
    @include bp(mobile) {
        height: 215px;
        margin-top: -20px;
    }
    .bgWrap {
        .titleWrap {
            margin-top: 292px;
            text-align: center;
            @include bp(landscape) {
                margin-top: 170px;
            }
            @include bp(tablet) {
                margin-top: 134px;
            }
            @include bp(mobile) {
                margin-top: 35px;
            }
            h3 {
                font-size: 66px;
                line-height: normal;
                padding-bottom: 20px;
                @include bp(landscape) {
                    font-size: 36px;
                    margin-bottom: 28px;
                    padding-bottom: 0;
                }
                @include bp(tablet) {
                    font-size: 24px;
                    margin-bottom: 0px;
                    padding-bottom: 15px;
                }
                @include bp(mobile) {
                    font-size: 22px;
                    margin-bottom: 5px;
                    padding-bottom: 0;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            a {
                @extend .btn-mansq;
                font-size: 24px;
                padding: 16px 48px;
                border: 1px solid #fff;
                color: #fff;
                @include bp(landscape) {
                    padding: 4px 27px;
                    letter-spacing: 0;
                    line-height: initial;
                    font-size: 16px;
                }
            }
        }
    }
}

.joinEmail,.contactFormWrap {
    form {
        .grecaptcha-badge {
            margin-right: 0;
            z-index: 10;
            display: none;
        }
    }
}

.contactUs+.joinEmail .captchaBlock,.re-order+.joinEmail .captchaBlock {
    visibility: hidden;
    position: absolute
}
.captchaBlock{
    position: absolute;
}

#joinEmail,.joinEmail {
    #joinSuccess {
        width: 100%;
    }
    form {
        #joinSuccess {
            width: 100%;
        }
    }
}
#joinSuccess {
    width: 100%;
}