// UI Selectbox
.ui-widget {
    font-family: inherit;
}

.ui-selectmenu-button {
    &.ui-button {
        background: #fff;
        span {
            &.ui-icon {
                background: url("../images/careers/down-arrow.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position-y: 5px;
            }
        }
    }
}

.ui-menu {
    .ui-menu-item {
        padding: 0;
        .ui-menu-item-wrapper {
            font-size: 16px;
            padding: .3em .7em;
        }
    }
    .ui-state-active {
        background: #1268e5;
        color: #fff;
    }
}

.ui-selectmenu-button {
    &.ui-button {
        border-radius: 0px;
        font-size: 18px;
        border: 1px solid #ccc;
        font-family: inherit;
        .ui-selectmenu-text {
            padding: 0.6em 2.1em 0.6em .7em;
        }
    }
}

.careers {
    .heroBlock {
        .heroCareer {
            display: table;
            width: 100%;
            margin-bottom: 17px;
            @include bp(tablet) {
                margin-bottom: 7px;
            }
            @include bp(mobile) {
                display: flex;
                flex-direction: column;
            }
            img {
                float: left;
                margin-right: 37px;
                max-width: 92px;
                @include bp(landscape) {
                    margin-right: 21px;
                }
                @include bp(mobile) {
                    display: inline-block;
                    margin: auto;
                    margin-bottom: 20px;
                }
            }
            p {
                display: block;
            }
            &.charityHero{
                margin-bottom: 0;
                display: block;
                h4{
                    margin-bottom: 35px;
                    margin-top: 12px;
                    font-size: 24px;
                    color: #3d3d3d;
                    @include bp(tablet){
                        font-size: 18px;
                        margin-bottom: 15px;
                        line-height: 24px;
                    }
                }
                p{
                    display: inline-flex;
                    align-items: flex-start;
                    margin-bottom: 11px;
                    color: #3e3e3e;
                    @include bp(tablet){
                        flex-direction: column;
                    }
                }
                img{
                    max-width: 390px;
                    @include bp(tablet){
                        margin: auto;
                        max-width: 220px;
                        margin-bottom: 15px;
                    }
                }   
            }
        }
        .bgWrap {
            padding: 50px 65px 80px 65px;
            @include bp(landscape) {
                padding: 45px 20px 40px 19px;
            }
            @include bp(tablet) {
                padding: 45px 20px 20px 19px;
            }
            @include bp(mobile) {
                padding: 25px 10px 3px 10px;
            }
        }
        h2 {
            @include bp(mobile) {
                line-height: 36px;
                margin-bottom: 15px;
            }
        }
        p {
            @include bp(mobile) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

.heroFlex {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    .flexLinkWrap {
        height: 330px;
        width: 340px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0px;
        width: 29.7%;
				margin-top: 0px;
                margin-right: 5.45%;
				@include bp(desktop) {

					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tablandscape) {
					width: 29.7%;
					margin-right: 6.05%;
					margin-top: 0px;
					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tabportrait) {
					width: 43%;
					margin-right: 6%;
					margin-top:0px;
					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-top:0px;
				}
        @include bp(landscape) {
            height: 243px;
            width: 253px;
        }
        @include bp(tablet) {
            height: 195px;
            width: 202px;
        }
        @include bp(mobile) {
            height: 242px;
            width: 253px;
            margin: auto;
            margin-bottom: 21px;
        }
        .flexLinks {
            display: inline-block;
            .flexImage {
                height: 330px;
                width: 340px;
                margin-bottom: 50px;
                background-size: cover;
                transition: .2s all;
                @include bp(landscape) {
                    height: 243px;
                    width: 253px;
                }
            }
        }
        .heroFlexheading {
            position: absolute;
            bottom: 43px;
            left: 0;
            background: #eb2837;
            color: #fff;
            font-size: 30px;
            padding: 12px 20px;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 0;
            width: 79%;
            @include bp(landscape) {
                padding: 9px 16px;
                padding-bottom: 0;
                bottom: 32px;
                font-size: 22px;
            }
            @include bp(tablet) {
                padding: 5px 12px;
                padding-bottom: 0;
                bottom: 26px;
                font-size: 18px;
            }
            @include bp(mobile) {
                padding: 5px 14px;
                padding-bottom: 0;
                bottom: 35px;
                font-size: 22px;
            }
        }
        &:hover {
            .flexLinks {
                .flexImage {
                    transform: scale(1.3);
                    transition: .3s all;
                }
            }
        }
    }
}

.openPosition {
    margin-top: 70px;
    @include bp(landscape) {
        margin-top: 62px;
    }
    @include bp(tablet) {
        margin-top: 42px;
    }
    .bgWrap {
        background: #c5d9f4;
        padding: 19px 20px 40px 20px;
        @include bp(landscape) {
            padding: 19px 20px 18px 20px;
        }
        @include bp(mobile) {
            padding: 19px 10px 18px 10px;
        }
        .titleWrap {
            h3 {
                color: #666666;
                @include bp(landscape) {
                    padding-bottom: 40px;
                }
                @include bp(tablet) {
                    padding-bottom: 17px;
                }
            }
        }
        .careerSearch {
            display: flex;
            justify-content: center;
            @include bp(mobile) {
                flex-direction: column;
            }
            .form-group {
                margin-bottom: 0;
                margin-right: 30px;
                @include bp(landscape) {
                    margin-right: 40px;
                }
                @include bp(mobile) {
                    margin: auto;
                    text-align: center;
                }
                .form-control {
                    min-width: 340px;
                    height: 45px;
                    border-radius: 0px;
                }
            }
            .btnManasq {
                @extend .btn-mansq;
                border: 3px solid #fff;
                font-size: 24px;
                font-weight: normal;
                padding: 10px 38px;
                @include bp(landscape) {
                    padding: 10px 38px;
                }
                @include bp(mobile) {
                    width: 170px;
                    margin: auto;
                }
            }
        }
        .ui-selectmenu-button {
            &.ui-button {
                min-width: 340px;
                height: 45px;
                @include bp(mobile) {
                    min-width: 268px;
                    margin-bottom: 21px;
                    display: inline-block;
                }
            }
        }
    }
}

.bluePanel {
    .bgWrap {
        background: #c5d9f4;
        padding: 40px;
        margin: 30px 0px;
        @include bp(landscape) {
            margin: 20px 0;
            padding: 20px;
        }
        @include bp(landscape) {
            margin: 12px 0;
        }
        @include bp(mobile) {
            padding: 11px;
        }
        .bluePanelInner {
            padding: 25px 30px 14px 30px;
            background: #fff;
            border: 1px solid #979797;
            @include bp(landscape) {
                padding: 25px 10px 17px 18px;
            }
            @include bp(tablet) {
                padding: 21px 25px 17px 18px;
            }
            @include bp(mobile) {
                padding: 20px 8px 12px 8px;
            }
            .carblk {
                display: flex;
                @include bp(mobile) {
                    flex-direction: column;
                }
                .carLft {
                    width: 45.2%;
                    float: left;
                    @include bp(landscape) {
                        width: 50.2%;
                    }
                    @include bp(tablet) {
                        width: 47.2%;
                    }
                    @include bp(mobile) {
                        width: 100%;
                    }
                    h4 {
                        text-transform: uppercase;
                        font-size: 24px;
                        margin-bottom: 7px;
                        @include bp(tablet) {
                            font-size: 20px;
                        }
                        @include bp(mobile) {
                            font-size: 16px;
                        }
                    }
                    p {
                        font-size: 20px;
                        @include bp(tablet) {
                            font-size: 18px;
                        }
                    }
                }
                .carRgt {
                    width: 54.8%;
                    float: left;
                    @include bp(landscape) {
                        width: 50.8%;
                    }
                    @include bp(mobile) {
                        width: 100%;
                    }
                    p {
                        line-height: 22px;
                        @include bp(tablet) {
                            line-height: 20px;
                        }
                        @include bp(mobile) {
                            line-height: 19px;
                            margin-top: 18px;
                        }
                    }
                }
                .btn-carApply {
                    font-size: 24px;
                    background: #1c3d6d;
                    color: #fff;
                    padding: 4px 32px;
                    text-transform: uppercase;
                    display: inline-block;
                    @extend .btnManasq;
                }
                .btn-Lmore {
                    color: #3d3d3d;
                    text-transform: uppercase;
                    font-size: 20px;
                    vertical-align: bottom;
                    display: inline-block;
                    margin-top: 12px;
                    letter-spacing: 2.3px;
                    &:hover{
                        text-decoration: underline;
                        color: #000;
                    }
                    @include bp(tablet) {
                        letter-spacing: 0.6px;
                        font-size: 18px;
                        padding: 0;
                    }
                    @include bp(mobile) {
                        margin-top: 21px;
                        letter-spacing: initial;
                    }
                    &:after,
                    &:before {
                        display: none;
                    }
                }
                &.carApply {
                    margin-top: 45px;
                    @include bp(landscape) {
                        margin-top: 34px;
                    }
                    @include bp(tablet) {
                        margin-top: 47px;
                    }
                    @include bp(mobile) {
                        margin-top: 40px;
                        text-align: center;
                    }
                }
                &.carLst {
                    margin-top: 55px;
                    flex-direction: column;
                    @include bp(landscape) {
                        margin-top: 35px;
                        margin-bottom: 0;
                    }
                    @include bp(tablet) {
                        margin-top: 49px;
                        margin-bottom: 54px;
                    }
                    @include bp(mobile) {
                        margin-top: 30px;
                    }
                    h4 {
                        font-size: 24px;
                        margin-bottom: 11px;
                        margin-top: 15px;
                        @include bp(tablet) {
                            font-size: 20px;
                        }
                        @include bp(mobile) {
                            font-size: 16px;
                        }
                    }
                    ul {
                        list-style: disc;
                        padding-left: 52px;
                        @include bp(landscape) {
                            padding-left: 56px;
                        }
                        @include bp(mobile) {
                            padding-left: 22px;
                        }
                        li {
                            font-size: 18px;
                            padding-left: 19px;
                            display: list-item;
                            margin-bottom: 1px;
                            @include bp(tablet) {
                                font-size: 16px;
                            }
                            @include bp(mobile) {
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.careerGrey {
    ul {
        margin-top: 30px;
        @include bp(landscape) {
            margin-top: 37px;
        }
        @include bp(mobile) {
            margin-top: 28px;
        }
        display: flex;
        justify-content: space-between;
        width: 77%;
        margin: auto;
        flex-wrap: wrap;
        @include bp(landscape) {
            width: 90%;
        }
        @include bp(mobile) {
            width: 100%;
            flex-direction: column;
        }
        li {
            width: 45%;
            float: left;
            font-size: 24px;
            margin-bottom: 13px;
            @include bp(tablet) {
                font-size: 20px;
                width: 48%;
                margin-bottom: 10px;
            }
            @include bp(mobile) {
                width: 100%;
            }
            &:nth-child(odd) {
                width: 55%;
                @include bp(tablet) {
                    width: 50%;
                }
                @include bp(mobile) {
                    width: 100%;
                }
            }
        }
    }
}

.careerGrey {
    .bgWrap {
        padding: 48px 125px 65px 125px;
        @include bp(landscape) {
            padding: 23px 19px 1px 21px;
        }
        @include bp(mobile) {
            padding: 21px 12px 1px 12px;
        }
        .titleWrap {
            h3 {
                padding-bottom: 21px;
                @include bp(landscape) {
                    padding-bottom: 18px;
                }
                @include bp(mobile) {
                    padding-bottom: 7px;
                }
            }
        }
        .contentBlock{
            p{
                color: #3d3d3d;
                b,strong{
                    display: block;
                    margin-top: 35px;
                    margin-bottom: 18px;
                    font-size: 24px;
                    line-height: initial;
                    @include bp(landscape){
                        margin-top: 27px;
                        margin-bottom: 20px;
                    }
                    @include bp(tablet){
                        font-size: 18px;
                        margin-bottom: 10px;
                        margin-top: 15px;
                    }
                    @include bp(mobile){
                        margin-top: 30px;
                    }
                }
            }
            ul{
                width: 100%;
                padding-left: 27px;
                @include bp(landscape){
                    margin-top: 33px;
                }
                @include bp(tablet){
                    margin-top: 15px;
                }
                @include bp(mobile){
                    margin-top: 15px;
                }
                + p{
                    b,strong{
                        margin-top: 23px;
                        @include bp(tablet){
                            margin-top: 15px;
                        }
                    }
                }
                li{
                    font-size: 20px;
                    position: relative;
                    color: #3d3d3d;
                    width: 100%;
                    margin-bottom: 7px;
                    @include bp(tablet){
                        font-size: 18px;
                    }
                    &:after{
                        position: absolute;
                        background: #3d3d3d;
                        content: '';
                        left: -10px;
                        width: 5px;
                        height: 5px;
                        top: 10px;
                        border-radius: 50%;
                    }
                }
            }
            ol{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                max-width: 66%;
                padding-left: 27px;
                @include bp(mobile){
                    max-width: 100%;
                    padding-left: 27px;
                }
                li{
                    width: 50%;
                    font-size: 20px;
                    position: relative;
                    color: #3d3d3d;
                    margin-bottom: 7px;
                    @include bp(tablet){
                        font-size: 18px;
                    }
                    @include bp(mobile){
                        width: 100%;
                    }
                    &:after{
                        position: absolute;
                        background: #3d3d3d;
                        content: '';
                        left: -10px;
                        width: 5px;
                        height: 5px;
                        top: 10px;
                        border-radius: 50%;
                    }
                }
                + p{
                    margin-top: 23px;
                    b,strong{
                        margin-top: 23px;
                    }
                }
            }
        }
        p {
            font-size: 18px;
            line-height: 22px;
            @include bp(tablet) {
                font-size: 16px;
            }
            @include bp(mobile) {
                line-height: 20px;
            }
            b {
                font-size: 18px;
                @include bp(tablet) {
                    font-size: 16px;
                }
            }
        }
        .browsePos {
            display: flex;
            align-items: center;
            border-top: 1px solid #666666;
            border-bottom: 1px solid #666666;
            padding: 20px 0;
            margin: 40px -45px 0 -45px;
            @include bp(landscape) {
                margin: 0;
                padding: 21px 0 20px 0;
            }
            @include bp(tablet) {
                margin-top: 28px;
            }
            @include bp(mobile) {
                flex-direction: column;
                padding: 10px 0 20px 0;
            }
            .browsePosLft {
                width: 71%;
                float: left;
                @include bp(landscape) {
                    width: 65%;
                }
                @include bp(mobile) {
                    width: 100%;
                }
                p {
                    font-size: 20px;
                    font-weight: bold;
                    color: #1c3d6d;
                    text-align: right;
                    line-height: 24px;
                    margin-bottom: 0;
                    @include bp(landscape) {
                        font-size: 20px;
                        line-height: 22px;
                    }
                    @include bp(tablet) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    @include bp(mobile) {
                        text-align: center;
                        margin-bottom: 24px;
                    }
                }
            }
            .browsePosRgt {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include bp(mobile) {
                    text-align: center;
                }
                .btnManasq {
                    @extend .btn-mansq;
                    width: 250px;
                    height: 62px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 0px;
                    margin-left: 20px;
                    font-weight: normal;
                    letter-spacing: 0px;
                    font-size: 24px;
                    color: #fff;
                    text-decoration: none;
                    @include bp(landscape) {
                        margin-left: 54px;
                        margin-top: 0px;
                    }
                    @include bp(tablet) {
                        margin-left: 44px;
                        margin-top: 0px;
                        font-size: 20px;
                        width: 202px;
                        height: 54px;
                        vertical-align: middle;
                        display: flex;
                    }
                    @include bp(mobile) {
                        padding: 0;
                        margin: auto;
                    }
                }
            }
        }
        .empStory {
            display: block;
            margin: 50px -45px 0 -45px;
            @include bp(landscape) {
                margin: 26px 0;
            }
            @include bp(tablet) {
                margin: 42px 0;
                margin-bottom: 12px;
            }
            @include bp(mobile) {
                margin: 0;
            }
            h4 {
                color: #1c3d6d;
                font-size: 24px;
                margin-bottom: 19px;
                @include bp(tablet) {
                    margin-bottom: 8px;
                    font-size: 22px;
                }
                @include bp(mobile) {
                    margin-top: 24px;
                    font-size: 22px;
                }
            }
            .empStoryImg {
                min-width: 360px;
                margin-right: 40px;
                display: initial;
                float: left;
                @include bp(tablet) {
                    min-width: auto;
                    max-width: 281px;
                    margin-right: 21px;
                }
                @include bp(mobile) {
                    min-width: auto;
                    max-width: 100%;
                    margin-right: 0;
                }
                img {
                    margin: 0px;
                    @include bp(landscape) {
                        margin-bottom: 0;
                    }
                    @include bp(tablet){
                        margin-top: 33px;
                    }
                    @include bp(mobile) {
                        margin: 10px 0px;
                        margin-bottom: 20px;
                    }
                }
            }
            .empStoryCont {
                color: #666666;
                display: inline-block;
                width: calc(100% - 400px);
                @include bp(tablet) {
                    width: calc(100% - 302px);
                }
                @include bp(mobile) {
                    width: 100%;
                }
                h5 {
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-top: 36px;
                    margin-bottom: 30px;
                    @include bp(landscape) {
                        margin-top: 24px;
                        margin-bottom: 25px;
                    }
                    @include bp(tablet) {
                        font-size: 16px;
                    }
                    @include bp(mobile) {
                        margin-top: 0;
                        margin-bottom: 30px;
                    }
                }
                p {
                    line-height: 24px;
                    @include bp(landscape) {
                        line-height: 20px;
                    }
                    b {
                        font-size: 20px;
                        color: #666666;
                        @include bp(tablet){
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.cultureWrap {
    @extend .careerGrey;
    margin-bottom: 0px;
    @include bp(landscape){
        margin-bottom: 100px;
    }
    .bgWrap {
        padding: 23px 80px 170px 81px;
        @include bp(landscape) {
            padding: 23px 19px 24px 20px;
        }
        @include bp(mobile) {
            padding: 23px 10px 24px 10px;
        }
        .titleWrap {
            h3 {
                padding-bottom: 35px;
                @include bp(landscape) {
                    padding-bottom: 34px;
                }
                @include bp(mobile){
                    padding-bottom: 16px;
                }
            }
        }
        .cultureBlk {
            p{
                font-size: 20px;
                color: #3d3d3d;
                @include bp(tablet){
                    font-size: 18px;
                }
                b{
                    font-size: 20px;
                    @include bp(landscape){
                        font-size: 18px;
                    }
                }
            }
            .cultureSingle {
                display: flex; // border-bottom: 1px solid #666666;
                // padding-bottom: 56px;
                @include bp(mobile) {
                    flex-direction: column;
                }
                .cultureImg {
                    min-width: 360px;
                    margin-right: 40px;
                    @include bp(landscape) {
                        margin-right: 30px;
                    }
                    @include bp(tablet) {
                        margin-right: 20px;
                    }
                    @include bp(mobile) {
                        margin-right: 0px;
                        min-width: auto;
                        order: 1;
                        margin-bottom: 19px;
                    }
                }
                .cultureContent {
                    h4{
                        font-size: 24px;
                        margin-bottom: 21px;
                        color: #3d3d3d;
                        @include bp(tablet){
                            font-size: 20px;
                            margin-bottom: 15px;
                        }
                    }
                    p {
                        color: #3d3d3d;
                        margin-bottom: 22px;
                        @include bp(landscape){
                            margin-bottom: 15px;
                        }
                        b{
                            font-size: 20px;
                            @include bp(landscape){
                                font-size: 18px;
                            }
                        }
                    }
                    @include bp(mobile) {
                        order: 2;
                    }
                }
                &.imgRgt {
                    // padding-top: 64px;
                    border-bottom: none;
                    .cultureImg {
                        margin-right: 0;
                        order: 2;
                    }
                    .cultureContent{
                        padding-right: 30px;
                        @include bp(landscape){
                            padding-right: 10px;
                        }
                        @include bp(mobile){
                            padding-right: 0;
                        }
                        p{
                            padding-right: 10px;
                            @include bp(tablet){
                                padding-right: 20px;
                                text-align: right;
                            }
                            @include bp(mobile){
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .browsePos {
            margin: 0;
            @include bp(landscape) {
                margin: 21px 0 0 0;
            }
        }
        .cultImgWrap {
            margin: 60px 0px;
            display: flex;
            justify-content: space-between;
            @include bp(landscape) {
                margin: 42px 0px;
            }
            @include bp(mobile) {
                flex-direction: column;
                margin: 22px 0;
                margin-bottom: 0;
            }
            .cultImg {
                max-width: 48.2%;
                @include bp(tablet) {
                    max-width: 48.8%;
                }
                @include bp(mobile) {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        .br-line {
            display: block;
            margin: 50px 0;
            border-top: 1px solid #666666;
            @include bp(landscape) {
                margin: 35px 0;
            }
            @include bp(tablet) {
                margin: 20px 0;
            }
        }
    }
}
.greyPanel {
    &.charityFound{
        margin-bottom: 100px;
        .bgWrap{
            padding-left: 65px;
            padding-right: 65px;
            padding-bottom: 80px;
            color: #3d3d3d;
            @include bp(landscape){
                padding: 20px 20px 50px 20px;
            }
            @include bp(mobile){
                padding: 20px 10px 50px 10px;
            }
            ul{
                padding-left: 10px;
                li{
                    font-size: 18px;
                    position: relative;
                    @include bp(mobile){
                        font-size: 16px;
                        line-height: 22px;
                    }
                    &:after{
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 4px;
                        background: #3d3d3d;
                        border-radius: 50%;
                        left: -10px;
                        top: 9px;
                    }
                }
            }
            h3 {
                font-size: 36px;
                padding-bottom: 22px;
                text-align: center;
                text-transform: uppercase;
                color: #1268e5;
                @include bp(landscape) {
                    font-size: 24px;
                    padding-bottom: 15px;
                }
                @include bp(tablet) {
                    font-size: 22px;
                    padding-bottom: 15px;
                }
                @include bp(mobile) {
                    font-size: 22px;
                    padding-bottom: 10px;
                }
            }
            hr{
                border-top-color: #666;
                margin: 57px auto 67px auto;
                width: calc(100% - 30px);
                @include bp(landscape){
                    margin: 35px 0px;
                    width: 100%;
                }
            }
            .FoundSponsers{
                display: flex;
                @include bp(tablet){
                    flex-direction: column;
                }
                .lft{
                    width: 31.4%;
                    @include bp(landscape){
                        width: 60%;
                    }
                    @include bp(tablet){
                        width: 100%;
                    }
                    img{
                        margin-bottom: 6px;
                        @include bp(tablet){
                            width: 100%;
                        }
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px;
                        strong,b{
                            font-size: 18px;
                            line-height: 26px;
                            @include bp(mobile) {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                        +p{
                            margin-top: 7px;
                        }
                    }
                    +.rgt{
                        width: calc(100% - 31.4%);
                        padding-left: 40px;
                        @include bp(tablet){
                            width: 100%;
                            padding-left: 0;
                        }
                    }
                }
                .rgt{
                    width: 100%;
                    h4{
                        font-size: 20px;
                        text-transform: uppercase;
                        @include bp(landscape){
                            font-size: 18px;
                        }
                    }
                    p{
                        font-size: 18px;
                        line-height: 24px;
                        @include bp(mobile){
                            font-size: 16px;
                            line-height: 22px;
                        }
                        +h4{
                            margin-top: 15px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .selectCriteria{
                display: flex;
                @include bp(tablet){
                    flex-direction: column;
                }
                .ContentBlk{
                    width: calc(100% - 540px);
                    padding-right: 40px;
                    @include bp(landscape){
                        width: 60%;
                        padding-right: 10px;
                    }
                    @include bp(tablet){
                        width: 100%;
                        padding-right: 0px;
                    }
                    h4{
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 18px;
                        @include bp(mobile){
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
                figure{
                    width: 540px;
                    @include bp(landscape){
                        width: 380px;
                    }
                    @include bp(tablet){
                        width: 100%;
                    }
                    img{
                        @include bp(tablet){
                            width: 100%;
                        }
                    }
                }
            }
            .orgAbility{
                display: flex;
                @include bp(tablet){
                    flex-direction: column;
                }
                .ContentBlk{
                    width: calc(100% - 540px);
                    padding-left: 40px;
                    @include bp(landscape){
                        width: 60%;
                        padding-left: 30px;
                    }
                    @include bp(tablet){
                        width: 100%;
                        padding-left: 0;
                    }
                    ul{
                        +p{
                            margin-top: 39px;
                        }
                    }
                }
                figure{
                    width: 540px;
                    @include bp(landscape){
                        width: 380px;
                    }
                    @include bp(tablet){
                        width: 100%;
                    }
                    img{
                        margin-bottom: 12px;
                        @include bp(tablet){
                            width: 100%;
                        }
                    }
                    figcaption{
                        font-size: 16px;
                        @include bp(tablet){
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            .btnManasq{
                @extend .btn-mansq;
                font-size: 14px;
                padding: 5px 14px;
                text-transform: none;
                font-weight: normal;
                vertical-align: text-bottom;
                margin-left: 5px;
            }
        }
    }
}