.catLanding{
	.heroBlock{
		.bgWrap{
			padding: 41px 58px 9px 58px;
		}
	}
	.heroFlex{
		.flexLinkWrap{
			width: 361px;
			height: 325px;
			margin-bottom: 43px;
			.flexLinks{
				.flexImage{
					width: 361px;
					height: 325px;
				}	
			} 
			.heroFlexheading{

			}
		}
	}
	.bluePannel{
		margin: 75px 0px;
	}
	.realAlerts{
		.bgWrap{
			h4{
				font-size: 53px;
			}
			p{
				font-size: 23px;
			}
		}
	}
}