
table{

    margin:0 auto;
    thead{
        th{
            text-align: center !important;
        }
    }
     tbody{
        tr{
            td{
                &:nth-child(2){
                    display: block !important;
                }
            }
            }
        }

}
table.checking  tbody tr td:nth-child(2) {
  display: table-cell !important;
}
.tableSection{
    +.heroLinks{
        margin-top: 0px !important;
    }
}
.categoryBlock {
    @include bp(mobile) {
        margin-bottom: -14px;
    }
    .bgWrap {
        @include bp(desktop) {
            padding: 41px 58px 20px 58px;
        }
        @include bp(tablandscape) {
            padding: 45px 20px 20px 20px;
        }
        @include bp(tabportrait) {
            padding: 42px 20px 40px 20px;
        }
        p {
            &+.tableSection {
                @include bp(desktop) {
                    margin-top: 53px;
                }
            }
        }
        &.heroLinks {
            padding-top: 14px;
        }
    }
    &+.categorySection {
        @include bp(tablandscape) {
            margin-top: -5px;
        }
        @include bp(tabportrait) {
            margin-top: -16px;
        }
        @include bp(mobile) {
            margin-top: 53px;
        }
    }
}

.tableClass {
    .bgWrap {
        table {
            thead {
                tr {
                    th {
                        border-bottom: 4px solid #f1f1f1;
                        border-right: 4px solid #f1f1f1;
                        background: #5678bf;
                        color: #fff;
                        font-size: 15px;
                        text-transform: uppercase;
                        text-align: center;
                        vertical-align: middle;
                        font-weight: 500;
                        @include bp(desktop) {
                            padding: 10px 7px 12px;
                        }
                        @include bp(tablandscape) {
                            font-size: 15px;
                            padding: 11px 9px 6px 9px;
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                        @include bp(tabportrait) {
                            font-size: 20px;
                            color: #fff;
                        }
                        &:last-child {
                            border-right: 0px;
                        }
                        a {
                          color: inherit;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-bottom: 4px solid #f1f1f1;
                        border-right: 4px solid #f1f1f1;
                        border-top: 0px;
                        background: #d9e0ea;
                        color: #2d5aa7;
                        font-size: 15px;
                        font-weight: 500;
                        text-align: center;
                        vertical-align: middle;
                        @include bp(desktop) {
                            padding-top: 20px;
                            padding-bottom: 18px;
                        }
                        @include bp(tablandscape) {
                            font-size: 15px;
                            padding: 19px 10px;
                            &:nth-child(2) {
                                display: none;
                            }
                        }
                        @include bp(tabportrait) {
                            font-size: 20px;
                        }
                        &:nth-child(1) {
                            background: #2d5aa7;
                            color: #fff;
                            text-transform: uppercase;
                            text-align: center;
                            @include bp(tablandscape) {
                                text-align: left;
                            }
                        }
                        &:nth-child(2) {
                            text-align: left;
                        }
                        &:last-child {
                            border-right: 0px;
                        }
                        a {
                          color: inherit;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: 0px;
                        }
                    }
                }
            }
            &.checking {
                &.responsive_table {
                    @include bp(desktop) {
                        display: block;
                    }
                    @include bp(tablandscape) {
                        display: block;
                    }

                }
            }
            &.responsive_table {
                @include bp(desktop) {
                    display: none;
                }
                @include bp(tablandscape) {
                    display: none;
                }
                @include bp(tabmax) {
                    background: #2c5aa7;
                    margin-bottom: 19px;
                    width: 100%;
                }
                @include bp(mobile) {
                    margin-bottom: 35px;
                }
                tr {
                    &:last-child {
                        td {
                            border-bottom: 0px;
                        }
                    }
                    td {
                        @include bp(tabmax) {
                            font-size: 20px;
                            color: #2d5aa7;
                            border-bottom: 5px solid #f1f1f1;
                            border-right: 5px solid #f1f1f1;
                            background: #d9e0ea;
                            padding-top: 12px;
                            padding-bottom: 12px;
                            vertical-align: middle;
                        }
                        @include bp(mobile) {
                            font-size: 16px;
                            padding-top: 17px;
                            padding-bottom: 18px;
                        }
                        img {
                            @include bp(mobile) {
                                width: 30px;
                            }
                        }
                        &:nth-child(1) {
                            @include bp(tabmax) {
                                color: #fff;
                                width: 43.4%;
                                text-transform: uppercase;
                                font-weight: 500 !important;
                                padding-top: 11px;
                                padding-bottom: 7px;
                                padding-left: 30px;
                            }
                            @include bp(mobile) {
                                width: 64.1%;
                                padding-left: 10px;
                                padding-top: 15px;
                                padding-bottom: 12px;
                            }
                        }
                        &:last-child {
                            @include bp(tabmax) {
                                border-right: 0px;
                                text-align: center;
                            }
                        }
                    }
                    &:nth-child(1) {
                        @include bp(tabmax) {
                            background: #2c5aa7;
                            color: #fff;
                        }
                        td {
                            @include bp(tabmax) {
                                background: #2c5aa7;
                                color: #fff;
                                border: none;
                                text-align: left;
                                text-transform: uppercase;
                                padding-top: 9px;
                                padding-bottom: 8px;
                                padding-left: 30px;
                                @include bp(mobile) {
                                    font-size: 20px;
                                    padding-top: 10px;
                                    text-align: center;
                                }
                            }
                            &:nth-child(1) {
                                @include bp(tabmax) {
                                    display: none;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        td {
                            @include bp(tabmax) {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(3) {
                        td {
                            @include bp(tabmax) {
                                border-top: 5px solid #f1f1f1;
                            }
                        }
                    }
                    &.blueBg {
                        @include bp(tabmax) {
                            display: table-caption;
                        }
                        td {
                            &:nth-child(2) {
                                @include bp(tabmax) {
                                    display: block;
                                    width: 100%;
                                    border-collapse: collapse;
                                    padding-left: 30px !important;
                                }
                                @include bp(mobile) {
                                    padding-left: 10px !important;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    @include bp(tabportrait) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .tableSection {
            @include bp(desktop) {
                margin-bottom: 59px;
            }
            @include bp(tablandscape) {
                margin-top: -5px;
                margin-bottom: -5px;
            }
            @include bp(tabportrait) {
                margin-top: 17px;
            }
            @include bp(mobile) {
                margin-left: -10px;
                margin-right: -10px;
                margin-top: -5px;
            }
            .table-responsive {
                @include bp(mobile) {
                    border: none;
                    margin-bottom: 0px;
                }
            }
            &+ul {
                &.heroLinks {
                    margin-top: -7px;
                }
            }
        }
    }
    &.categoryBlock {
        .bgWrap {
            .tableSection {
                @include bp(tabportrait) {
                    margin-bottom: 22px;
                }
            }
        }
    }
}

.categorySection {
    display: block;
    @include bp(mobile) {
        display: table;
        width: 100%;
        margin-top: 52px;
    }
    .bgWrap {
        background: #f1f1f1;
        @include bp(mobile) {
            display: table;
            width: 100%;
        }
        .flexWrap {
            display: flex;
            width: 100%;
            margin-top: 71px;
            margin-left: 3px;
            position: relative;
            @include bp(tablandscape) {
                margin-left: 0px;
                margin-top: 75px;
            }
            @include bp(tabportrait) {
                margin-left: 0px;
                margin-top: 55px;
            }
            @include bp(mobile) {
                display: table;
                width: 100%;
                margin-top: 0px;
                margin-left: 0px;
            }
            .imgSection {
                width: 48.985%;
                min-height: 550px;
                float: left;
                margin-top: 3px;
                margin-bottom: 1px;
                order: 1;
                background-size: cover;
                @include bp(tablandscape) {
                    width: 50%;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    background-position: center;
                    min-height: 390px;
                }
                @include bp(tabportrait) {
                    width: 38.187%;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    background-position: center;
                    min-height: 390px;
                }
                @include bp(mobile) {
                    width: 100%;
                    min-height: 250px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -12px;
                    left: 0;
                    width: 232px;
                    height: 13px;
                    background: #eb2837;
                    @include bp(tablandscape) {
                        width: 20.576%;
                        height: 13px;
                        bottom: -13px;
                    }
                    @include bp(tabportrait) {
                        width: 25.55%;
                        height: 13px;
                        bottom: -13px;
                    }
                    @include bp(mobile) {
                        width: 40.204%;
                        height: 14px;
                        bottom: -13px;
                    }
                }
            }
            .contentSection {
                width: 51.015%;
                min-height: 550px;
                position: relative;
                float: left;
                order: 2;
                /*padding: 42px 52px 35px 48px;*/
                padding: 42px 47px 200px 48px;
                @include bp(tablandscape) {
                    width: 50%;
                    min-height: 390px;
                    padding: 16px 28px 130px 30px;
                }
                @include bp(tabportrait) {
                    width: 61.814%;
                    min-height: 390px;
                    padding: 20px 28px 143px 30px;
                }
                @include bp(mobile) {
                    width: 100%;
                    min-height: auto;
                    padding: 19px 11px 16px 11px;
                }
                h2 {
                    font-size: 36px;
                    font-weight: 700;
                    color: #3c3c3c;
                    text-transform: uppercase;
                    margin-left: -1px;
                    margin-bottom: 19px;
                    @include bp(tablandscape) {
                        font-size: 24px;
                        margin-left: -0px;
                        margin-bottom: -2px;
                    }
                    @include bp(tabportrait) {
                        font-size: 24px;
                        margin-left: -0px;
                        margin-bottom: 1px;
                    }
                    @include bp(mobile) {
                        font-size: 22px;
                        margin-bottom: -3px;
                    }
                }
                h3 {
                    color: #666666;
                    font-size: 32px;
                    margin-top: 24px;
                    margin-bottom: 5px;
                    @include bp(tablandscape) {
                        font-size: 24px;
                        margin-bottom: -2px;
                        margin-top: 19px;
                    }
                    @include bp(tabportrait) {
                        font-size: 24px;
                        margin-bottom: -2px;
                        margin-top: 20px;
                    }
                    @include bp(mobile) {
                        font-size: 20px;
                        margin-top: 16px;
                        margin-bottom: -3px;
                    }
                }
                p {
                    font-size: 24px;
                    color: #666666;
                    line-height: 30px;
                    @include bp(tablandscape) {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    @include bp(tabportrait) {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    @include bp(mobile) {
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
                p+ul {
                    margin-top: 10px;
                }
                ul {
                    list-style-type: disc;
                    position: relative;
                    @include bp(desktop) {
                        display: none;
                    }
                    @include bp(mobile) {
                        padding-right: 10px;
                    }
                    li {
                        font-size: 18px;
                        list-style-type: disc;
                        padding-left: 9px;
                        margin-bottom: 1px;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            background: #3d3d3d;
                            border-radius: 8px;
                            margin-top: 10px;
                            left: 0;
                        }
                    }
                }
                .contentBottom {
                    position: absolute;
					bottom: 33px;
					width: 86%;
                    @include bp(tablandscape) {
                        bottom: 16px;
                    }
                    @include bp(tabportrait) {
                        bottom: 20px;
                    }
                    @include bp(mobile) {
                        position: static;
						bottom: auto;
						width: 100%;
                    }
                }
                .icon-section {
                    display: block;
                    width: 100%;
                    margin-right: 20px;
                    /*margin-top: 26px;
					margin-bottom: 20px;*/
                    @include bp(desktop) {
                        margin-top: 42px;
                        margin-bottom: 36px;
                    }
                    @include bp(tablandscape) {
                        margin-top: 29px;
                        margin-bottom: 10px;
                    }
                    @include bp(tabportrait) {
                        margin-top: 29px;
                        margin-bottom: 10px;
                    }
                    @include bp(mobile) {
                        margin-top: 39px;
                    }
                    a {
                        display: inline-block;
                        @include bp(mobile) {
                            display: block;
                            width: 100%;
                        }
                        span {
                            font-size: 24px;
                            img {
                                &.deskView {
                                    display: none;
                                    @include bp(desktop) {
                                        display: block;
                                    }
                                }
                                &.otherView {
                                    display: block;
                                    @include bp(desktop) {
                                        display: none;
                                    }
                                    @include bp(tabportrait) {
                                        width: 24px;
                                    }
                                    @include bp(mobile) {
                                        width: 24px;
                                    }
                                }
                            }
                            &.text {
                                position: relative;
                                /*top: -27px;*/
                                top: -9px;
                                padding-left: 16px;
                                color: #666;
                                font-size: 24px;
                                text-transform: uppercase;
                                &:hover{
                                    text-decoration: underline;
                                }
                                @include bp(tablandscape) {
                                    font-size: 18px;
                                    font-weight: bold;
                                    top: -9px;
                                    padding-left: 5px;
                                }
                                @include bp(tabportrait) {
                                    font-size: 18px;
                                    font-weight: bold;
                                    top: -6px;
                                    padding-left: 5px;
                                }
                                @include bp(mobile) {
                                    font-weight: 700;
                                    font-size: 18px;
                                    padding-left: 6px;
                                    top: -9px;
                                }
                                &.location {
                                    top: -28px;
                                }
                            }
                        }
                        &.location {
                            margin-left: 68px;
                            @include bp(macview) {
                                margin-left: 6%;
                            }
                            @include bp(tablandscape) {
                                margin-left: 45px;
                            }
                            @include bp(tabportrait) {
                                margin-left: 45px;
                            }
                            @include bp(mobile) {
                                margin-left: 0px;
                                margin-top: -4px;
                            }
                            span {
                                img {
                                    position: relative;
                                    /*top: 6px;*/
                                    @include bp(desktop) {
                                        top: 0px;
                                    }
                                    @include bp(tablandscape) {
                                        top: 0px;
                                    }
                                    @include bp(tabportrait) {
                                        top: -1px;
                                        width: 20px;
                                    }
                                    @include bp(mobile) {
                                        width: 20px;
                                        top: 6px;
                                    }
                                }
                                &.text {
                                    /*top:-28px;*/
                                    top: -9px;
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                    @include bp(tablandscape) {
                                        top: -9px;
                                    }
                                    @include bp(tabportrait) {
                                        top: -6px;
                                    }
                                    @include bp(mobile) {
                                        top: -2px;
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                    span {
                        display: inline-block;
                        font-size: 24px;
                        img {
                            float: left;
                        }
                        a {
                            display: inline-block;
                            float: left;
                            padding-left: 20px;
                            color: #666666;
                            font-size: 24px;
                            padding-top: 18px;
                            text-transform: uppercase;
                        }
                        &.location-icon {
                            margin-left: 68px;
                            img {
                                position: relative;
                                top: 4px;
                            }
                            a {
                                text-transform: uppercase;
                                padding-left: 17px;
                            }
                        }
                    }
                }
                a {
                    &.applyBtn {
                        font-size: 27px;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        padding: 10px 46px 11px 42px;
                        display: inline-block;
                        border: 1px solid #fff;
                        border-radius: 21px;
                        @include bp(tablandscape) {
                            font-size: 18px;
                            padding: 5px 26px 4px 26px;
                        }
                        @include bp(tabportrait) {
                            font-size: 18px;
                            padding: 7px 25px 6px 26px;
                        }
                        @include bp(mobile) {
                            font-size: 18px;
                            padding: 9px 26px 4px 26px;
                            margin: 0 auto;
                            width: 63%;
                            display: block;
                            text-align: center;
                            margin-top: 29px;
                        }
                    }
                    &.learnBtn {
                        color: #1268e5;
                        font-size: 24px;
                        text-transform: uppercase;
                        float: right;
                        font-weight: bold;
                        padding-top: 22px;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                          color: #0b3b81;
                            //text-decoration: underline;
                        }
                        @include bp(tablandscape) {
                            font-size: 16px;
                            padding-right: 7px;
                        }
                        @include bp(tabportrait) {
                            font-size: 16px;
                            padding-right: 5px;
                        }
                        @include bp(mobile) {
                            display: block;
                            margin: 0 auto;
                            text-align: center;
                            font-size: 16px;
                            float: none;
                            padding-top: 11px;
                        }
                        &:hover{
                            @include bp(tablet){
                                text-decoration: none;
                            }
                        }
                        img {
                            position: relative;
                            top: -5px;
                            left: 7px;
                            @include bp(tablandscape) {
                                display: inline-block;
                                width: 16px;
                                top: -5px;
                                left: 5px;
                            }
                            @include bp(tabportrait) {
                                display: inline-block;
                                width: 16px;
                                top: -5px;
                                left: 5px;
                            }
                            @include bp(mobile) {
                                display: inline-block;
                                width: 16px;
                                top: -5px;
                                left: 5px;
                            }
                        }
                        &.active{
                          color: #0b3b81;
                            img{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
        &.colbgWrap{
            padding: 48px 50px;
            padding-bottom: 39px;
            background: #e7e7e7;
            display: none;
            @include bp(landscape){
                padding: 48px 25px;
                padding-bottom: 18px;
            }
            @include bp(tablet){
                padding: 48px 22px;
                padding-bottom: 33px;
            }
            @include bp(mobile){
                padding: 44px 10px;
                padding-bottom: 15px;
            }
            .catCollapse{
                p{
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 27px;
                    color: #3d3d3d;
                    @include bp(landscape){
                        font-size: 18px;
                        line-height: 21px;
                        margin-bottom: 17px;
                    }
                }
                ul{
                    list-style: disc;
                    padding-left: 25px;
                    margin-bottom: 42px;
                    @include bp(landscape){
                        margin-bottom: 11px;
                    }
                    li{
                        display: list-item;
                        font-size: 26px;
                        color: #3d3d3d;
                        @include bp(landscape){
                            font-size: 18px;
                        }
                    }
                }
                .catLearn{
                    display: inline-block;
                    a{
                        text-transform: uppercase;
                        font-size: 16px;
                        color: #1b3d6e;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        &:hover{
                            color: #1268e5;
                        }
                        img{
                            width: 10px;
                            margin-left: 6px;
                            height: 16px;
                        }
                    }
                }
            }
        }
    }
    &.rightImg {
        .bgWrap {
            .flexWrap {
                .imgSection {
                    width: 50.157%;
                    order: 2;
                    @include bp(tabportrait) {
                        width: 38.187%;
                    }
                    @include bp(mobile) {
                        width: 100%;
                    }
                    &:after {
                        left: auto;
                        right: 0;
                        @include bp(mobile) {
                            left: 0;
                        }
                    }
                }
                .contentSection {
                    width: 49.844%;
                    order: 1;
                    @include bp(desktop) {
                        padding: 42px 44px 200px 43px;
                    }
                    @include bp(tablandscape) {
                        //padding: 16px 28px 20px;
                    }
                    @include bp(tabportrait) {
                        width: 61.814%; //padding: 16px 28px 20px;
                    }
                    @include bp(mobile) {
                        width: 100%;
                    }
                    a {
                        &.learnBtn {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
}

.categoryApp {
    margin-top: 139px;
    margin-bottom: 159px;
    @include bp(tablandscape) {
        margin-top: 67px;
        margin-bottom: 54px;
    }
    @include bp(tabportrait) {
        margin-top: 51px;
        margin-bottom: 24px;
    }
    @include bp(mobile) {
        margin-top: 52px;
        margin-bottom: 99px;
    }
}

@media screen and (min-width: $base) {
    .MacOS {
        .categorySection {
            .bgWrap {
                .flexWrap {
                    .contentSection {
                        a {
                            &.learnBtn {
                                img {
                                    top: -2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.heroBlock {
    table {
        >tbody {
            >tr {
                &:nth-of-type(odd) {
                    td {
                        background-color: #d9e0ea;
                        border-right: 4px solid #f1f1f1;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
                td {
                    border-right: 4px solid #f1f1f1;
                    padding: 20px;
                    @include bp(mobile) {
                        padding: 5px;
                    }
                    &:last-child {
                        border-right: 0;
                    }
                }
            }
        }
        p {
            margin-bottom: 0;
            line-height: 30px;
            font-weight: 500;
            @include bp(mobile) {
                line-height: 22px;
            }
        }
        ul {
            padding-left: 20px;
            @include bp(mobile) {
                padding-left: 5px;
            }
            li {
                font-weight: 500;
                font-size: 20px;
                margin: 10px 0px;
                color: #3d3d3d;
                position: relative;
                padding-left: 10px;
                @include bp(landscape) {
                    font-size: 18px;
                    line-height: 22px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background: #3d3d3d;
                    border-radius: 8px;
                    top: 9px;
                    left: 0;
                }
            }
        }
    }
}
