.service-section {
	margin-top:59px;
	margin-bottom:66px;
	@include bp(tablandscape) {
		margin-top:60px;
		margin-bottom:60px;
	}
	@include bp(tabportrait) {
		margin-top:39px;
		margin-bottom:39px;
	}
	@include bp(mobile) {
		margin-top:40px;
		margin-bottom:40px;
	}
	.bgWrap {
		background:#e0e8f4;
		padding:28px 16px 44px 38px;
		@include bp(tablandscape) {
			padding: 16px 22px 25px 27px;
		}
		@include bp(tabportrait) {		
    		padding: 19px 12px 13px 12px;
		}
		@include bp(mobile) {
			padding:19px 39px 18px;
		}
		h2 {
			font-size:40px;
			font-weight:700;
			color:#616161;
			text-align:center;
			text-transform: uppercase;
			margin-bottom:44px;
			transition: all .3s;
			@include bp(tablandscape) {
				font-size:24px;
				margin-bottom: 24px;
			}
			@include bp(tabportrait) {
				font-size:22px;
				margin-bottom: 16px;
			}
			@include bp(mobile) {
				font-size:22px;
				margin-bottom:16px;
			}
		}
		ul {
		    display: flex;
		    flex-wrap: wrap;
			li {
    			width: 20.834%;
    			margin-top:50px;
    			/*margin-right: 5.55%;*/
    			margin-right: 4.98%;
				@include bp(tablandscape) {
					width: 22.834%;
					margin-right: 2.33%;
				}
				@include bp(tabportrait) {
					width: 20.8%;
					margin-right: 5.6%;
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-top:39px;
				}
				figure {
					width: 155px;
					height: 155px;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin: auto;
					border-radius: 50%;
					padding: 10px;
					background: #fff;
					transition: all .3s;
					@include bp(landscape){
						width: 110px;
						height: 110px;
					}
					img {
						display: block;
						margin: 0 auto;
						@include bp(landscape){
							max-width: 75%;
							max-height: 75%;
						}
						@include bp(landscape){
							max-width: 60%;
							max-height: 60%;
						}
					}
				}
				span {
					font-family: "manasquan";
					font-size: 21px;
					font-weight: 600;
					color:#616161;
					display:block;
					text-align:center;
					text-transform: uppercase;
					margin-top: 40px;
					transition: all .3s;
					@include bp(tablandscape) {
						font-size:16px;
						margin-top: 21px;
					}
					@include bp(tabportrait) {
						font-size:15px;
						margin-top:20px;
					}
					@include bp(mobile) {
						font-size:16px;
						margin-top:22px;
					}
				}
				&:hover {
					figure {
						transform: scale(.9);
					}
					span {
						color:#1a3d6e;
						transform: scale(1.1);
					}
				}
				&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
					margin-top:0px;
				}
				&:nth-child(4n) {
					margin-right:0px;
				}
				@include bp(mobile) {
					&:nth-child(2),&:nth-child(3),&:nth-child(4) {
					margin-top:39px;
				}
				}
			}
		}

		&.clients {
			background:#c5d8f4;
			margin-top:0px;
		}
		&.help-info {
			background:#adc6eb;
			margin-top:0px;
		}
	}
	&.clients {
		.bgWrap {
			background:#c5d8f4;
		}
	}
	&.help-info {
		.bgWrap {
			background:#adc6eb;
		}
	}
}
.csheorBlk {
	@include bp(desktop) {
		.bgWrap {
			.heroLinks {
				.find-us {
					a {
						// padding-left: 81px;
					}
				}
				.client-service {
					a {
						span {
							.hoverImage {
								display:none;
							}
						}
						&:hover {
							span {
								.nrmlImage {
									display:none;
								}
								.hoverImage {
									display:block;
								}
							}	
						}
					}
				}
			}
		}
	}
}
.servie-bluePannel {
	margin-bottom:99px;
	@include bp(desktop) {
		margin-bottom:81px;
	}
}