.contactPadding {
    padding: 41px 141px 31px 141px;
    @include bp(landscape) {
        padding: 45px 21px 24px 21px;
    }
    @include bp(mobile) {
        padding: 32px 11px 25px 11px;
    }
}

.contactUs {
    p {
        color: #3d3d3d;
    }
    .heroBlock {
        h1,
        h2 {
            margin-bottom: 13px;
            @include bp(landscape) {
                margin-bottom: 20px;
            }
            @include bp(tablet) {
                margin-bottom: 15px;
            }
            @include bp(mobile) {
                margin-bottom: 20px;
            }
        }
        p {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 5px;
            color: #3d3d3d;
            @include bp(landscape) {
                font-size: 18px;
                line-height: 23px;
                margin-bottom: 13px;
            }
            @include bp(mobile) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 18px;
            }
            b {
                font-size: 24px;
                @include bp(landscape) {
                    font-size: 18px;
                }
            }
        }
        .bgWrap {
            @extend .contactPadding
        }
        .heroLinks {
            @include bp(mobile) {
                padding-top: 0;
            }
            li {
                a {
                    margin: 0 28px;
                    @include bp(landscape) {
                        margin: 0 14px;
                    }
                }
                &:first-child {
                    a {
                        @include bp(mobile) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

.greyPanel {
    margin-top: 68px;
    display: table;
    width: 100%;
    @include bp(landscape) {
        margin-top: 60px;
    }
    @include bp(tablet) {
        margin-top: 34px;
    }
    @include bp(mobile) {
        margin-top: 38px;
    }
    .bgWrap {
        background: #f1f1f1;
        @extend .contactPadding;
        padding-top: 37px;
        padding-bottom: 60px;
        @include bp(landscape) {
            padding-top: 21px;
            padding-bottom: 38px;
        }
        @include bp(landscape) {
            padding-bottom: 20px;
        }
        p {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 5px;
            @include bp(landscape) {
                line-height: 22px;
                font-size: 18px;
                margin-bottom: 15px;
            }
            @include bp(mobile) {
                font-size: 16px;
                line-height: 19px;
            }
            b {
                font-size: 24px;
                @include bp(landscape) {
                    font-size: 18px;
                }
            }
        }
        .titleWrap {
            h3 {
                color: #1268e5;
                padding-bottom: 13px;
                @include bp(landscape) {
                    padding-bottom: 17px;
                }
                @include bp(tablet) {
                    padding-bottom: 20px;
                }
                @include bp(mobile) {
                    padding-bottom: 17px;
                }
            }
        }
    }
}

.contactForm {
    padding: 5px 30px;
    padding-bottom: 13px;
    width: 86%;
    margin: auto;
    margin-top: 30px;
    background: #c5d9f4;
    @include bp(landscape) {
        width: 100%;
        padding: 9px 43px;
        padding-bottom: 6px;
    }
    @include bp(tablet) {
        margin-top: 0;
        padding: 5px 31px;
        padding-bottom: 6px;
    }
    @include bp(mobile) {
        width: calc(100% + 20px);
        margin-left: -10px;
        padding: 21px 10px;
    }
    .form-group {
        position: relative;
        @include bp(tablet) {
            margin-bottom: 9px;
        }
        .checkbox {
            margin-top: 10px;
            @include bp(tablet) {
                margin-top: 10px;
            }
            @include bp(mobile) {
                margin-top: 6px;
            }
            label {
                margin-bottom: 11px;
                position: relative;
                @include bp(tablet) {
                    margin-bottom: 7px;
                }
            }
            input {
                opacity: 0;
            }
        }
        label {
            font-size: 18px;
            color: #626262;
            font-weight: normal;
            display: block;
            @include bp(tablet) {
                font-size: 16px;
            }
        }
        .errorSpan {
            position: absolute;
            top: 17px;
            right: -7px;
            width: 25px;
            height: 25px;
            background: #a41f36;
            border-radius: 50%;
            color: #fff;
            font-size: 48px;
            text-align: center;
            line-height: 48px;
            @include bp(tablet){
                width: 20px;
                height: 20px;
                line-height: 38px;
                font-size: 38px;
            }
            &.f-success {
                background: #4caf50;
            }
        }
        label {
            &.error {
                color: #a41f36;
                font-size: 14px;
                margin-top: 5px;
            }
        }
        &.successForm {
            .form-control {
                border-color: #4caf50;
            }
        }
        &.errorForm {
            .form-control {
                border-color: #a41f36;
            }
        }
    }
    .form-control {
        border-radius: 0;
        border: 1px solid transparent;
        height: 42px;
        font-size: 18px;
        box-shadow: none;
        @include bp(tablet) {
            height: 32px;
        }
        &.txtArea {
            height: auto;
            resize: none;
            @include bp(tablet) {
                max-height: 91px;
            }
        }
    }
    .lftfield {
        padding-right: 47px;
        @include bp(landscape) {
            padding-right: 41px;
        }
        @include bp(tablet) {
            padding-right: 32px;
        }
        @include bp(mobile) {
            padding-right: 15px;
        }
    }
    .rtfield {
        padding-left: 37px;
        padding-right: 26px;
        @include bp(landscape) {
            padding-left: 25px;
        }
        @include bp(mobile) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .mob-flex {
        @include bp(mobile) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .rtfield {
            @include bp(mobile) {
                order: 1;
            }
        }
        .lftfield {
            @include bp(mobile) {
                order: 2;
            }
        }
        .btn-mansq {
            @include bp(mobile) {
                order: 3;
            }
        }
    }
    .btn-mansq {
        min-height: 48px;
        min-width: 200px;
        font-size: 20px;
        margin-right: 30px;
        @include bp(tablet) {
            min-height: auto;
            min-width: 157px;
            font-size: 14px;
            margin-top: 7px;
        }
        @include bp(mobile) {
            max-width: max-content;
            margin: auto;
            margin-top: 30px;
        }
    }
}

.specNeed {
    margin-bottom: 94px;
    .bgWrap {
        padding-bottom: 44px;
        @include bp(tablet) {
            padding-bottom: 21px;
        }
        @include bp(mobile) {
            padding-bottom: 0;
        }
        .titleWrap {
            h3 {
                padding-bottom: 27px;
                @include bp(landscape) {
                    padding-bottom: 18px;
                }
            }
        }
        .heroLinks {
            padding-top: 28px;
            @include bp(landscape) {
                padding-top: 21px;
            }
        }
    }
}