.heroBlock {
	&.generalBanner {
		ul{
			    padding-left: 26px;
			    
		}
		&+.general-template {
			margin-top:100px;
		}
		&+.joinEmail {
			margin-top:100px;
			@include bp(tablandscape) {
				margin-top:59px;
			}
			@include bp(tabportrait) {
				margin-top:39px;
			}
			@include bp(mobile) {
				margin-top:99px;
			}
		}
		p {
			&+h2 {
				margin-top: 22px;
			}
			&+h3 {
				margin-top: 23px;
			}
			&+h4 {
				margin-top: 79px;
				@include bp(tablandscape) {
					margin-top: 37px;
				}
				@include bp(tabportrait) {
					margin-top: 30px;
				}
				@include bp(mobile) {
					margin-top: 28px;
				}
			}
			&+.lrImg {
				margin-top: -15px;
				@include bp(tablandscape) {
					margin-top: 48px;
				}
				@include bp(tabportrait) {
					margin-top: 28px;
				}
				@include bp(mobile) {
					margin-top: 19px;
				}
			}
			&+ul {
				margin-top: 15px;
				margin-bottom: 15px;
				
				@include bp(landscape) {
				margin-top: 10px;
				margin-bottom: 10px;
				}
				@include bp(mobile) {
				margin-top: 10px;
				margin-bottom: 10px;
				}
			}
		}
		.lrImg {
			display:flex;
			width:100%;
			@include bp(tabportrait) {
				display:table;
			}
			@include bp(mobile) {
				display:table;
			}
			.imgSec1 {
				width:46.783%;
				float:left;
				margin-right:6.259%;
				@include bp(tablandscape) {
					width: 48.163%;
					margin-right: 3.674%;
				}
				@include bp(tabportrait) {
					width:100%;
					margin-right:0%;
					margin-bottom:20px;
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-bottom:20px;
				}
				img {
					@include bp(tabportrait) {
						width:100%;
					}
					@include bp(mobile) {
						width:100%;
					}
				}
			}
			.imgSec2 {
				width:46.958%;
				float:left;
				@include bp(tablandscape) {
					width: 48.163%;
				}
				@include bp(tabportrait) {
					width:100%;
				}
				@include bp(mobile) {
					width:100%;
				}
				img {
					@include bp(tabportrait) {
						width:100%;
					}
					@include bp(mobile) {
						width:100%;
					}
				}
			}
			&+p {
				margin-top: 51px;
				@include bp(tablandscape) {
					margin-top: 41px;
				}
				@include bp(tabportrait) {
					margin-top: 22px;
				}
				@include bp(mobile) {
					margin-top: 20px;
				}
			}
		}
		table {
			display:table;
			width:100%;
			&.responsive_table {
				&:last-child {
					@include bp(tabportrait) {
						margin-bottom: 20px;
					}
				}
			}
			td{
				font-size: 18px;
				@include bp(mobile){
					font-size: 16px;
				}
			}
			thead{
				tr{
					th{
						border-bottom: 4px solid #f1f1f1;
						border-right: 4px solid #f1f1f1;
						background: #5678bf;
						color: #fff;
						font-size: 15px;
						text-transform: uppercase;
						text-align: center;
						vertical-align: middle;
						font-weight: 500;
					}
				}
			}
			&.responsive_table{
				tr{
					td{
						&:nth-child(1) {
                            @include bp(tabmax) {
                                color: #fff;
                                width: 43.4%;
                                text-transform: uppercase;
                                font-weight: 500 !important;
                                padding-top: 11px;
                                padding-bottom: 7px;
                                padding-left: 30px;
                            }
                            @include bp(mobile) {
                                width: 64.1%;
                                padding-left: 10px;
                                padding-top: 15px;
                                padding-bottom: 12px;
                            }
                        }
                        &:last-child {
                            @include bp(tabmax) {
                                border-right: 0px;
                                text-align: center;
                            }
                        }
					}
				}
			}
		}
		h1 {
			text-transform:uppercase;
			color: #1268e5;
			font-size:52px;
			@include bp(tablandscape) {
				font-size:48px;
			}
			@include bp(tabportrait) {
				font-size:36px;
			}
			@include bp(mobile) {
				font-size:36px;
			}
			&+h2 {
				color: #666666;
			}
			&+h2 , &+h2 , &+h3 , &+h4 , &+h5{
				margin-top: 25px;
				@include bp(tablandscape) {
					margin-top: 20px;
				}
			}

			&+p {
				margin-top:14px;
			}
		}
		h2 {
			font-size: 48px;
		    line-height: 40px;
		    text-transform: uppercase;
		    color: #1268e5;
		    @include bp(tablandscape) {
				font-size:36px;
				margin-bottom: 18px;
			}
			@include bp(tabportrait) {
				font-size:24px;
				margin-bottom: 30px;
			}
			@include bp(mobile) {
				font-size:32px;
				margin-bottom: 17px;
			}
		    &+h3 {
		    	margin-top:24px;
		    	@include bp(tablandscape) {
					margin-top: 17px;
				}
		    }
		    &+h4 {
		    	margin-top:25px;
		    	@include bp(tablandscape) {
					margin-top: 18px;
				}
		    }
		    &+h5 {
		    	margin-top:23px;
		    	@include bp(tablandscape) {
					margin-top: 20px;
				}
		    }
		    &+ul {
		    	margin-top: 8px;
		    }
		    &+p {
		    	margin-top: 13px;
		    	@include bp(tabportrait) {
		    		margin-top: 8px;
		    	}
		    }
		}
		h3 {
			font-size: 36px;
			text-transform:uppercase;
			color: #666666;
			@include bp(tablandscape) {
				font-size:24px;
			}
			@include bp(tabportrait) {
				font-size:22px;
			}
			@include bp(mobile) {
				font-size:22px;
			}
			&+h4 {
				margin-top: 20px;
				@include bp(tablandscape) {
					margin-top: 15px;
				}
			}
			&+h5 {
				margin-top: 18px;
			}
			&+p {
				margin-top: 13px;
			}
			&+ul {
				margin-top: 9px;
			}
		}
		h4 {
			font-size: 23px;
			text-transform:uppercase;
			color: #666666;
			@include bp(tablandscape) {
				font-size:18px;
			}
			@include bp(tabportrait) {
				font-size:18px;
			}
			@include bp(mobile) {
				font-size:18px;
			}
			&+h5 {
				margin-top:8px;
			}
			&+p {
				margin-top: 3px;
			}
			&+ul {
				margin-top: 9px;
				@include bp(tabportrait) {
					margin-top: 7px;
				}
				@include bp(mobile) {
					margin-top: 3px;
				}
			}
		}
		h5 {
			font-size: 20px;
			text-transform:uppercase;
			color: #666666;
			@include bp(tablandscape) {
				font-size: 16px;
			}
			@include bp(tabportrait) {
				font-size: 16px;
			}
			@include bp(mobile) {
				font-size: 16px;
			}
		}
		ul {
		    font-size: 20px;
		    margin-top: 19px;
		    margin-bottom: 30px;
		    color: #3d3d3d;
			position:relative;
			list-style: none;
		    @include bp(tabportrait) {
		        font-size: 16px;
		    }
		    @include bp(mobile) {
		        font-size: 18px;
		        padding-right: 10px;
		    }
		    li {
		        padding-left: 10px;
		        &::before {
		            content: "";
		            position: absolute;
		            width: 5px;
		            height: 5px;
		            background: #3d3d3d;
		            border-radius: 8px;
		            margin-top: 10px;
		            left: 0;
		        }
		        ul {
		            margin-top: 0px;
		            li {
		                &:before {
		                    content: "";
		                    position: absolute;
		                    width: 5px;
		                    height: 1px;
		                    background: #3d3d3d;
		                    margin-top: 12px;
		                    left: 0;
		                }
		            }
		        }
		    }
		    &+ul {
		        margin-top: -14px;
		    }
		    &+h2 {
		        margin-top: -3px;
		        @include bp(tabportrait) {
		            margin-top: -11px;
		        }
		    }
		    &+h3 {
		        margin-top: -3px;
		        @include bp(tabportrait) {
		            margin-top: -4px;
		        }
		    }
		    &+h4 {
		        margin-top: -3px;
		    }
		    &+h5 {
		        margin-top: -3px;
		    }
		    &+table {
		        margin-top: 95px;
		        @include bp(tablandscape) {
		            margin-top: 32px;
		        }
		        @include bp(tabportrait) {
		            margin-top: 15px;
		        }
		        @include bp(mobile) {
		            margin-top: 16px;
		        }
		        &+.responsive_table {
		        	@include bp(tabportrait) {
		        		margin-top: -14px;
		        	}
		        	@include bp(mobile) {
		        		margin-top: -14px;
		        	}
		        }
		    }
		    &.heroLinks {
		    	li {
		    		&:before {
		    			display:none;
		    		}
		    	}
		    }
		}
	}
}
.general-template {
	h1 {
		text-transform:uppercase;
		color: #1268e5;
		font-size:52px;
		@include bp(tablandscape) {
			font-size:48px;
		}
		@include bp(tabportrait) {
			font-size:36px;
		}
		@include bp(mobile) {
			font-size:36px;
		}
		&+h2 {
			color: #666666;
		}
		&+h2 , &+h2 , &+h3 , &+h4 , &+h5{
			margin-top: 25px;
			@include bp(tablandscape) {
				margin-top: 20px;
			}
		}

		&+p {
			margin-top:14px;
		}
	}
	h2 {
		font-size: 48px;
	    line-height: 40px;
	    text-transform: uppercase;
	    color: #1268e5;
	    @include bp(tablandscape) {
			font-size:36px;
		}
		@include bp(tabportrait) {
			font-size:24px;
		}
		@include bp(mobile) {
			font-size:32px;
		}
	    &+h3 {
	    	margin-top:24px;
	    	@include bp(tablandscape) {
				margin-top: 17px;
			}
	    }
	    &+h4 {
	    	margin-top:25px;
	    	@include bp(tablandscape) {
				margin-top: 18px;
			}
	    }
	    &+h5 {
	    	margin-top:23px;
	    	@include bp(tablandscape) {
				margin-top: 20px;
			}
	    }
	    &+ul {
	    	margin-top: 8px;
	    }
	    &+p {
	    	margin-top: 13px;
	    	@include bp(tabportrait) {
	    		margin-top: 8px;
	    	}
	    }
	}
	h3 {
		font-size: 36px;
		text-transform:uppercase;
		color: #666666;
		@include bp(tablandscape) {
			font-size:24px;
		}
		@include bp(tabportrait) {
			font-size:22px;
		}
		@include bp(mobile) {
			font-size:22px;
		}
		&+h4 {
			margin-top: 20px;
			@include bp(tablandscape) {
				margin-top: 15px;
			}
		}
		&+h5 {
			margin-top: 18px;
		}
		&+p {
			margin-top: 13px;
		}
		&+ul {
			margin-top: 9px;
		}
	}
	h4 {
		font-size: 23px;
		text-transform:uppercase;
		color: #666666;
		@include bp(tablandscape) {
			font-size:18px;
		}
		@include bp(tabportrait) {
			font-size:18px;
		}
		@include bp(mobile) {
			font-size:18px;
		}
		&+h5 {
			margin-top:8px;
		}
		&+p {
			margin-top: 3px;
		}
		&+ul {
			margin-top: 9px;
		}
	}
	h5 {
		font-size: 20px;
		text-transform:uppercase;
		color: #666666;
		@include bp(tablandscape) {
			font-size: 16px;
		}
		@include bp(tabportrait) {
			font-size: 16px;
		}
		@include bp(mobile) {
			font-size: 16px;
		}
	}
	p {
		&+h2 {
			margin-top: 22px;
		}
		&+h3 {
			margin-top: 23px;
		}
		&+h4 {
			margin-top: 21px;
		}
		+.ContentBlk1 {
			margin-top: 25px;
		}
	}
	ul {
	    font-size: 18px;
	    margin-top: 19px;
	    margin-bottom: 30px;
	    position: relative;
	    @include bp(tabportrait) {
	        font-size: 16px;
	    }
	    @include bp(mobile) {
	        font-size: 16px;
	        padding-right: 10px;
	    }
	    li {
	        padding-left: 10px;
	        &::before {
	            content: "";
	            position: absolute;
	            width: 5px;
	            height: 5px;
	            background: #3d3d3d;
	            border-radius: 8px;
	            margin-top: 10px;
	            left: 0;
	        }
	        ul {
	            margin-top: 0px;
	            li {
	                &:before {
	                    content: "";
	                    position: absolute;
	                    width: 5px;
	                    height: 1px;
	                    background: #3d3d3d;
	                    margin-top: 12px;
	                    left: 0;
	                }
	            }
	        }
	    }
	    &+ul {
	        margin-top: -14px;
	    }
	    &+h2 {
	        margin-top: -3px;
	        @include bp(tabportrait) {
	            margin-top: -11px;
	        }
	    }
	    &+h3 {
	        margin-top: -3px;
	        @include bp(tabportrait) {
	            margin-top: -4px;
	        }
	    }
	    &+h4 {
	        margin-top: -3px;
	    }
	    &+h5 {
	        margin-top: -3px;
	    }
	}
}
