.generalBanner {
	@extend .general-template;
	.bgWrap {
		.tableSection {
			+ul {
				&.normalList {
					margin-top:-39px;
				}
				&.dotlist {
					margin-top:-39px;
				}
				&.arrowList {
					margin-top:-39px;
				}
			}
		}
		ul {

		}
	}
}
.generalBanner + .general-template {
	margin-top:50px;
	@extend .general-template;
}

.general-template {
	h1 {
		text-transform:uppercase;
		color: #666666;
		font-size:52px;
		&+p {
			margin-top:14px;
		}
	}
	h2 {
		font-size: 48px;
	    line-height: 40px;
	    text-transform: uppercase;
	    color: #666;
	    &+ul {
	    	margin-top: 6px;
	    }
	    &+p {
	    	margin-top: 13px;
	    }
	}
	h3 {
		font-size: 36px;
		text-transform:uppercase;
		color: #666666;
		&+p {
			margin-top: 13px;
		}
	}
	h4 {
		font-size: 23px;
		text-transform:uppercase;
		color: #666666;
		&+p {
			margin-top: 3px;
		}
	}
	h5 {
		font-size: 20px;
		text-transform:uppercase;
		color: #666666;
	}
	p {
		&+h2 {
			margin-top: 22px;
		}
		&+h3 {
			margin-top: 23px;
		}
		&+h4 {
			margin-top: 21px;
		}
		+.ContentBlk1 {
			margin-top: 25px;
		}
	}
	ul {
		font-size: 18px;
		margin-top: 19px;
    	margin-bottom: 30px;
    	position:relative;
    	&.dotlist {
    		li {
    			padding-left: 10px;
    			&::before {
    				content: "";
				    position: absolute;
				    width: 5px;
				    height: 5px;
				    background: #3d3d3d;
				    border-radius: 8px;
				    margin-top: 10px;
				    left: 0;
    			}
    			ul {
    				margin-top:0px;
    				li {
    					&:before {
    						content: "";
						    position: absolute;
						    width: 5px;
						    height: 1px;
						    background: #3d3d3d;
						    margin-top: 12px;
						    left: 0;
    					}
    				}
    			}
    		}
    	}
    	&.arrowList {
    		li {
    			padding-left:15px;
    			&:before {
    				content: "";
				    border-top: 5px solid transparent;
				    border-bottom: 4px solid transparent;
				    border-left: 8px solid #666666;
				    position: absolute;
				    width: 0;
				    height: 0;
				    margin-top: 8px;
				    left: 0;
				    right: 13px;
    			}
    			ul {
    				margin-top:0px;
    				li {
    					&:before {
    						content: "";
						    position: absolute;
						    width: 5px;
						    height: 1px;
						    background: #3d3d3d;
						    margin-top: 12px;
						    left: 0;
						    border: none;
    					}
    				}
    			}
    		}
    	}
    	&+ul {
    		margin-top: -14px;
    	}
    	&+h2{
    		margin-top: -3px;
    	}
    	&+h3{
    		margin-top: -3px;
    	}
    	&+h4{
    		margin-top: -3px;
    	}
    	&+h5{
    		margin-top: -3px;
    	}
	}
	
}