.heroBlock { 
	&.locationDetailBlk {
		.bgWrap {
			padding:40px 0px 0px 0px;
			h2 {
				margin-left:50px;
				margin-bottom: 43px;
				@include bp(tablandscape) {
					margin-bottom: 28px;
				}
				@include bp(tabportrait) {
					margin-left:18px;
					margin-bottom: 15px;
				}
				@include bp(mobile) {
					margin-left:0px;
					margin-bottom:19px;
				}
			}
			.contentSection {
				display:flex;
				flex-wrap: wrap;
				width:100%;
				clear: both;
				.imgSection {
					width: 53.204%;
					float: left;
					background: url(../images/location-detail/location-hero-image.jpg) no-repeat;
					background-size: cover;
					min-height:749px;
					img {
						display:none;
					}
					@include bp(tablandscape) {
						width: 47.456%;
						min-height: 475px;
					}
					@include bp(tabportrait) {
						width: 60.577%;
						min-height: 489px;
					}
					@include bp(mobile) {
						width:100%;
						min-height: 319px;
					}
				}
				.addrSection {
					width:46.796%;
					min-height:749px;
					float: left;
					position: relative;
					@include bp(tablandscape) {
						width: 52.544%;
						min-height: 475px;
					}
					@include bp(tabportrait) {
						width: 39.4230%;
						min-height: 489px;
					}
					@include bp(mobile) {
						width:100%;
					}
					.fullWrap {
						display:table;
						width:100%;
						.lftSec {
							width:51%;
							float:left;
							padding-left: 34px;
							@include bp(macview) {
								padding-left:28px;
							}
							.pnoneNumber {
								display:table;
								width:100%;
								margin-bottom:22px;
								@include bp(tablandscape) {
									margin-bottom:31px;
								}
								@include bp(tabportrait) {
									margin-bottom:22px;
								}
								@include bp(mobile) {
									margin-bottom:11px;
								}
								img {
									float:left;
									@include bp(tablandscape) {
										width:32px;
									}
									@include bp(tabportrait) {
										width:32px;
									}
									@include bp(mobile) {
										width:32px;
									}
								}
								div {
									&.detail {
										display:block;
										width: 85%;
										float:left;
										padding-left: 20px;
										padding-top: 10px;
										@include bp(tablandscape) {
											width: 83.40%;
											padding-left:11px;
											padding-top:10px;
										}
										@include bp(tabportrait) {
											padding-top:10px;
											padding-left:9px;
										}
										@include bp(mobile) {
											width:87.5%;
											padding-top:11px;
											padding-left:9px;
										}
										p {
											margin-bottom:0px;
											line-height: 23px;
											color:#666666;
											@include bp(tablandscape) {
												font-size:16px;
												line-height:17px;
											}
											@include bp(tabportrait) {
												font-size:16px;
												line-height: 18px;
											}
											@include bp(mobile) {
												font-size:16px;
												line-height:17px;
											}
											strong {
												display:block;
												margin-bottom: 1px;
												@include bp(desktop) {
													margin-bottom:0px;
												}
												@include bp(tablandscape) {
													margin-bottom: 2px;
												}
												@include bp(tabportrait) {
													margin-bottom: -1px;
												}
											}
											a {
												text-decoration:none;
												&:hover {
													color:inherit;
												}
											}
										}
										p+p strong {
											margin-top:7px;
											@include bp(mobile) {
												margin-top:6px;
											}
										}
									}
								}
							}
							.locationAddr {
								@extend .pnoneNumber;
								@include bp(tablandscape) {
									margin-bottom: 28px;
								}
								@include bp(tabportrait) {
									margin-bottom: 18px;
								}
								div {
									&.detail {
										padding-top: 0px;
    									margin-top: 2px;
    									@include bp(tabportrait) {
    										margin-top: 0px;
    									}
									}
								}
							}
							.mailMember {
								@extend .pnoneNumber;
								margin-top: 70px;
								@include bp(tablandscape) {
									margin-top:24px;
								}
								@include bp(tabportrait) {
									margin-top: 1px;
								}
								@include bp(mobile) {
									margin-top: 18px;
								}
								div {
									&.detail {
										padding-top:0px;
										margin-top: -1px;
										@include bp(tablandscape) {
											margin-top:0px;
										}
										@include bp(tabportrait) {
											margin-top:1px;
										}
										@include bp(mobile) {
											margin-top:2px;
										}
									}
								}
							}
							.printIcon {
								@extend .pnoneNumber;
								margin-top: 73px;
								@include bp(tablandscape) {
									margin-top: -5px;
								}
								@include bp(tabportrait) {
									margin-top: -4px;
								}
								@include bp(mobile) {
									margin-top: 18px;
								}
								div {
									&.detail {
										@include bp(mobile) {
											padding-top:10px;
										}
									}
								}
							}

							@include bp(tablandscape) {
								width:55%;
								padding-left:19px;
							}
							@include bp(tabportrait) {
								width:100%;
								padding-left: 19px;
								margin-bottom:76px !important; 
							}
							@include bp(mobile) {
								width:100%;
								padding: 20px 20px 23px !important;
							}
						}
						.rgtSec {
							width:49%;
							float:left;
							padding-left: 42px;
							padding-right:20px;
							@include bp(macview) {
								padding-left:22px;
							}
							@include bp(tablandscape) {
		    					width:45%;
		    					padding-left: 13px;
		    				}
		    				@include bp(tabportrait) {
		    					width:100%;
		    					padding-left: 19px;
		    				}
		    				@include bp(mobile) {
								width:100%;
								padding-left:19px;
							}
							.walkAtm {
								display:table;
								width:100%;
								margin-bottom:15px;
								@include bp(tablandscape) {
									margin-bottom: 27px;
								}
								@include bp(tabportrait) {
									margin-bottom: 18px;
								}
								@include bp(mobile) {
									margin-bottom: 6px ;
								}
								img {
									float:left;
									margin-top:3px;
									@include bp(tablandscape) {
										width:34px;
										margin-top:0px;
									}
									@include bp(tabportrait) {
										width:34px;
										margin-top:0px;
									}
									@include bp(mobile) {
										width:34px;
									}
								}
								div {
									&.detail {
										display:block;
										width: 81.8%;
										float:left;
										padding-left: 18px;
										padding-top: 16px;
										@include bp(tablandscape) {
											width: 81%;
											padding-left: 9px;
    										padding-top: 9px;
										}
										@include bp(tabportrait) {
											padding-top: 10px;
											padding-left: 10px;
										}
										@include bp(mobile) {
											padding-top: 13px;
											padding-left: 10px;
										}
										p {
											font-size:18px;
											color: #ababab;
	    									text-transform: uppercase;
											margin-bottom:0px;
											line-height: 23px;
											@include bp(tablandscape) {
				    							font-size:16px;
				    						}
				    						@include bp(tabportrait) {
				    							font-size:16px;
					    					}
					    					@include bp(mobile) {
				    							font-size:16px;
					    					}
											strong {
												display:block;
												margin-bottom: 1px;
											}
											a {
												text-decoration:none;
											}
										}
										p+p strong {
											margin-top:7px;
										}
									}
								}
							}
							.hoursSec {
								@extend .walkAtm;
								@include bp(tablandscape) {
									margin-bottom: 28px;
								}
								@include bp(tabportrait) {
									margin-bottom: 17px;
								}
								@include bp(mobile) {
									margin-bottom: 5px;
								}
								div {
									&.detail {
										@include bp(tablandscape) {
											padding-top:10px;
										}
										@include bp(tabportrait) {
											padding-top:9px;
										}
										@include bp(mobile) {
											padding-top:12px;
										}
									}
								}
							}
							.boxSec {
								@extend .walkAtm;
								div {
									&.detail {
										@include bp(tabportrait) {
											padding-top:9px;
										}
										@include bp(mobile) {
											padding-top:12px;
										}
									}
								}
							}
						}
					}
					.timehrsSection {
						display: table;
    					width: 100%;
						background:#1268e5;
						padding: 23px 22px 48px 61px;
						margin-top: 61px;
						position:absolute;
						bottom:0;
						@include bp(tablandscape) {
							margin-top: 8px;
							padding: 19px 23px 30px 19px;
						}
						@include bp(tabportrait) {
							display:none;
						}
						@include bp(mobile) {
							margin-top:13px;
							padding: 20px 20px 17px 20px;
							position:relative;
						}
						.lobbbyHrs {
							width: 50%;
    						float: left;
    						@include bp(mobile) {
								width:100%;
							}
    						h4 {
    							font-size:20px;
    							color:#ffffff;
    							margin-bottom: 23px;
    							font-weight: 400;
    							@include bp(tablandscape) {
    								font-size:16px;
    								margin-bottom:11px;
    							}
    							@include bp(mobile) {
    								font-size:16px;
    								margin-bottom: -1px;
    							}
    						}
    						p {
    							color:#fff;
    							font-size:20px;
    							margin-bottom:-1px;
    							@include bp(tablandscape) {
			    					font-size:16px;
			    					margin-bottom:-5.6px;
			    				}
			    				@include bp(mobile) {
    								font-size:16px;
    							}
    						}
						}
						.driveHrs {
							@extend .lobbbyHrs;
							padding-left:13px;
							@include bp(tablandscape) {
								padding-left: 37px;
							}
							@include bp(mobile) {
								padding-left: 0px;
								margin-top: 34px;
							}
						}
					}
				}
			}
		}
		.cloneTimeHrs {
			.timehrsSection {
				display: table;
    			width: 100%;
				background:#1268e5;
				padding: 19px 77px 16px 140px;
				@include bp(desktop) {
					display:none;
				}
				@include bp(tablandscape) {
					display:none;
				}
				@include bp(tabportrait) {
					padding: 19px 108px 15px 140px;
				}
				@include bp(mobile) {
					display:none;
				}
				.lobbbyHrs {
					width: 50%;
    				float: left;
    				h4 {
    					font-size:20px;
    					color:#ffffff;
    					margin-bottom: 24px;
    					@include bp(tabportrait) {
    						font-size:16px;
    						margin-bottom: 14px;
    					}
    				}
    				p {
    					color:#fff;
    					font-size:16px;
    					margin-bottom: -3px;
    				}
				}
				.driveHrs {
					@extend .lobbbyHrs;
					padding-left:34px;
					@include bp(tablandscape) {
						padding-left: 39px;
					}
				}
			}
		}
	}
}
.mapSection {
	margin-top: 73px;
    margin-bottom: 73px;
    @include bp(tablandscape) {
    	margin-top: 60px;
    	margin-bottom: 60px;
    }
    @include bp(tabportrait) {
    	margin-top: 40px;
    	margin-bottom: 40px;
    }
    @include bp(mobile) {
    	margin-top: 40px;
  		margin-bottom: 40px;
    }
    #map_div {
    	height:548px;
    	@include bp(tablandscape) {
    		height:412px;
    	}
    	@include bp(tabportrait) {
    		height:412px;
    	}
    	@include bp(mobile) {
    		height:163px;
    	}
    }
	img {
		width:100%;
	}
}
.alertSection {
	margin-bottom:84px;
	@include bp(tablandscape) {
		margin-bottom: 60px;
	}
	@include bp(tabportrait) {
		margin-bottom: 40px;
	}
	@include bp(mobile) {
		margin-bottom: 40px;
	}
	.bgWrap {
		background: url(../images/location-detail/alertImage.jpg) no-repeat;
		background-size:cover;
		width:100%;
		min-height:487px;
		padding:44px 30px 30px 60px;
		@include bp(tablandscape) {
			background-position: 76% 56%;
			min-height:344px;
			padding:58px 30px 30px 60px;
		}
		@include bp(tabportrait) {
			background-position: 65% 78%;
			min-height: 278px;
			padding:40px 30px 30px 40px;
		}
		@include bp(mobile) {
			min-height: 592px;
			background-size:cover;
			background-position: 62% 0%;
			padding:29px 20px 30px 20px;
		}
		.contentSec {
			display:table;
			width:40%;
			@include bp(tabportrait) {
				width: 40.7%;
			}
			@include bp(mobile) {
				width:100%;
			}
			h2 {
				font-size:36px;
				font-weight:bold;
				color:#fff;
				margin-bottom:92px;
				text-transform: uppercase;
				@include bp(tablandscape) {
					font-size:24px;
					margin-bottom:83px;
				}
				@include bp(tabportrait) {
					font-size:22px;
					margin-bottom: 55px;
				}
				@include bp(mobile) {
					font-size:26px;
					margin-bottom:247px;
				}
			}
			p {
				font-size:34px;
				color:#ffffff;
				margin-bottom: 44px;
				&:last-child {
					margin-bottom:44px;
				}
				@include bp(desktop) {
					line-height: 40px;
    				margin-bottom: 0px;
				}
				@include bp(tablandscape) {
					font-size:18px;
					margin-bottom:11px;
				}
				@include bp(tabportrait) {
					font-size:18px;
					margin-bottom: 13px;
				}
				@include bp(mobile) {
					width: 60%;
					font-size:20px;
					margin-bottom: 49px;
				}
			}
			a {
				font-size:19px;
				font-weight:800;
				color:#fff;
				background:#1268e5;
				display:inline-block;
				padding: 8px 28px 8px 31px;
				border:1px solid #fff;
				border-radius:21px;
				text-transform: uppercase;
				@include bp(desktop) {
					margin-top: 40px;
				}
				@include bp(tablandscape) {
					font-size:17px;
					padding: 7px 19px 5px 19px;
				}
				@include bp(tabportrait) {
					font-size:17px;
					padding:8px 20.4px 3.2px 20px;
					font-weight:500;
				}
				@include bp(mobile) {
					font-size:17px;
					padding:7px 21px 6px 20px;
					font-weight:500;
				}
			}
		}
	}
}

.lcdetailPannel {
	@include bp(desktop) {
		margin-bottom:100px;
	}
	@include bp(landscape) {
		margin-bottom:59px;
	}
	@include bp(tabportrait) {
		margin-bottom:39px;
	}
	@include bp(mobile) {
		margin-bottom:99px;
	}
}

.loacationMap {
	.mapBlock {
		height: 464px;
    	width: 100%;
	}
}