.heroBlock {
	&.locationBlk {
		.bgWrap {
			&.mapLocation {
				@include bp(tabportrait) {
					padding: 41px 18px 21px 20px;

				}
				@include bp(mobile) {
					padding: 33px 0px 1px 0px;
				}
				#map_div2 {
					height:384px;
					margin-top: 29px;
					margin-bottom: 25px;
					@include bp(tablandscape) {
						height: 244px;
						margin-top: 17px;
						margin-bottom: 20px;
					}
					@include bp(tabportrait) {
						height: 225px;
	    				margin-top: 15px;
	    				margin-bottom: 0px;
					}
					@include bp(mobile) {
						height: 261px;
	    				margin-top: -3px;
	    				margin-bottom: 18px;
					}
				}
			}
		}
	}
}
.locationSection {
	&.dlview {
		padding-top: 87px;
		padding-bottom: 76px;
	    @include bp(tablandscape) {
	    	padding-bottom: 60px;
	    	padding-top: 60px;
	    }
	    @include bp(tabportrait) {
	    	display:none;
	    }
	    @include bp(mobile) {
	    	display:none;
	    }
		.locationBgWrap {
			.locationBox {
				display: flex;
	    		flex-wrap: wrap;
				width:100%;
				.locationDetail {
					width: 24.532%;
					margin-right: 13.204%;
	    			float: left;
	    			margin-top:50px;
	    			@include bp(tablandscape) {
	    				width: 30.974%;
	    				margin-right:3.539%;
	    			}
	    			@include bp(tabportrait) {
						width: 44.304%;
						margin-right: 11.392%;
						&:nth-child(2n+2) {
							margin-right:0%;
						}
					}
	    			@include bp(mobile) {
						width:100%;
						margin-right:0%;
						margin-top: 36px;
					}
					img {
						@include bp(mobile) {
							width:100%;
						}
					}
					h3 {
						font-size:25px;
						font-weight: 700;
						color:#666666;
						text-transform:uppercase;
						margin-top: 12px;
						margin-bottom: 5px;
						@include bp(tablandscape) {
							font-size:22px;
							margin-top:10px;
							margin-bottom: 4px;
						}
						@include bp(tabportrait) {
							font-size:22px;
							margin-top:11px;
							margin-bottom: 8px;
						}
						@include bp(mobile) {
							font-size:22px;
							margin-bottom: 7px;
						}
					}
					p {
						font-size:20px;
						color:#666666;
						line-height: 24px;
						a {
							text-decoration: none;
							&:hover {
								color:#666;
							}
						}
						@include bp(tablandscape) {
							font-size:18px;
							line-height: 21px;
						}
						@include bp(tabportrait) {
							line-height: 20px;
							font-size:18px;
						}
						@include bp(mobile) {
							font-size:18px;
							line-height: 20px;
						}
					}
					p+p {
						@include bp(tablandscape) {
							margin-top: 3px;
						}
						@include bp(tabportrait) {
							margin-top: 4px;
						}
						@include bp(mobile) {
							margin-top: 3px;
						}
					}
					.directionLink {
						font-size:20px;
						font-weight:700;
						color:#666666;
						text-transform:uppercase;
						display: block;
						margin-top: 30px;
						margin-bottom: 13px;
						@include bp(tablandscape) {
							font-size: 18px;
							margin-top: 28px;
							margin-bottom: 7px;
						}
						@include bp(tabportrait) {
							font-size: 18px;
							margin-top: 28px;
							margin-bottom: 7px;
						}
						@include bp(mobile) {
							font-size: 18px;
							margin-top: 27px;
							margin-bottom: 6px;
						}
						a {
							color:inherit;
							img {
								margin-left: 1px;
	    						position: relative;
	    						top: -2px;
	    						@include bp(tablandscape) {
	    							margin-left:0px;
	    							    top: -3px;
	    						}
	    						@include bp(tabportrait) {
	    							margin-left: 0px;
									top: -3px;
	    						}
	    						@include bp(mobile) {
	    							margin-left: 0px;
									top: -3px;
									width:auto;
	    						}
							}
						} 				
					}
					.viewButtonLink {
						background:#1268e5;
						color:#fff;
						font-size:14px;
						font-weight:700;
						text-transform: uppercase;
						display: inline-block;
						padding: 4px 17px 6px 20px;
						border-radius: 16px;
						border: 1px solid #fff;
						@include bp(desktop) {
							padding:6.4px 18px 6px 22px;
						}
						@include bp(landscape) {
							font-size:16px;
							padding:4px 15px 2px 15px;
							/*padding:3px 15px 3px 15px;*/
						}
						@include bp(tabportrait) {
							font-size:16px;
							/*padding:3px 14px 3px 14px;*/
							padding:5px 14px 2px 15px;
						}
						@include bp(mobile) {
							font-size:16px;
							padding:3px 14px 3px 14px;
						}
					}
					&:nth-child(3n+3) {
						margin-right:0%;
					}
					@include bp(desktop) {
						&:nth-child(1), &:nth-child(2),&:nth-child(3){
						margin-top:0px;
						}
					}
					@include bp(tablandscape) {
						&:nth-child(1), &:nth-child(2),&:nth-child(3){
						margin-top:0px;
						}
					}
					@include bp(tabportrait) {
						&:nth-child(1), &:nth-child(2),&:nth-child(3){
						margin-top:0px;
						}
					}
					@include bp(mobile) {
						&:nth-child(1){
						margin-top:0px;
						}
					}
				}
			}
		}
		&.grey {
			background: #f1f1f1;
	    	padding-top: 37px;
	    	padding-bottom: 31px;
	    	@include bp(tablandscape) {
	    		padding-top: 20px;
    			padding-bottom: 37px;
	    	}
	    	&+.branchService {
	    		margin-top:56px !important;
	    	}
		}
	}
	&.pmView {
		@extend .dlview;
		padding-top: 59px;
    	padding-bottom: 39px;
		@include bp(desktop) {
			display:none;
		}
		@include bp(tablandscape) {
			display:none;
		}
		@include bp(tabportrait) {
			display:block;
    		padding:60px 69px 40px 67px;
		}
		@include bp(mobile) {
			display:block;
			padding-top:19px;
			padding-bottom: 40px;
		}
		&.grey {
			padding-top: 20px;
			padding-bottom: 38px;
    		@include bp(mobile) {
    			padding-top: 22px;
    		}
    		&+.branchService {
		    	@include bp(desktop) {
		    		margin-top:56px !important;
		    	}
	   		}
		}
		&+.branchService {
	    	@include bp(desktop) {
	    		margin-top:-26px ;
	    	}
	   	}
	}
}
.locationSection.pmView.grey+section.branchService {
	@include bp(tabportrait) {
		margin-top:39px;
	}
	@include bp(mobile) {
		margin-top:39px;
	}
}
.locationSection.pmView+section.branchService {
	@include bp(tabportrait) {
		margin-top: 0px;
	}
	@include bp(mobile) {
		margin-top: 35px;
	}
}
.branchService {
	margin-top: 23px;
	@include bp(desktop) {
		margin-top: -26px;
	}
	@include bp(tablandscape) {
		margin-top: -4px;
	}
	.serviceBgWrap {
		background:#f1f1f1;
		display:table;
		width:100%;
		padding: 37px 16px 35px 92px;
		@include bp(tablandscape) {
			padding:18px 30px 32px 30px;
		}
		@include bp(tabportrait) {
			padding:21px 80px 32px 80px;
		}
		@include bp(mobile) {
			padding: 61px 19px 16px 19px;
		}
		h2 {
			font-family: "opensans";
			font-size:48px;
			font-weight:700;
			color:#1268e5;
			text-align:center;
			text-transform: uppercase;
			margin-bottom:46px;
			@include bp(tablandscape) {
				font-size:24px;
				margin-bottom: 54px;
			}
			@include bp(tabportrait) {
				font-size:24px;
				margin-top:0px;
				margin-bottom: 33px;
			}
			@include bp(mobile) {
				font-size:24px;
				margin-bottom:36px;
			}
		}
		.serviceContent {
			display:flex;
			flex-wrap: wrap;
			/*justify-content: space-between;*/
			width:100%;
			@include bp(tablandscape) {
				justify-content: normal;
			}
			.serviceDetail {		
    			width: 22.1%;
    			margin-right: 3.866%;
				float: left;
				margin-top: 75px;
				@include bp(desktop) {
					&:nth-child(4n+4) {
						margin-right:0%;
					}
				}
				@include bp(tablandscape) {
					width: 30%;
					margin-top: 74px;
					margin-right: 5%;

					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tabportrait) {
					width: 44%;
					margin-right:12%;
					margin-top: 56px;
					&:nth-child(2n+2) {
						margin-right:0%;
					}
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-top: 39px;
				}
				img {
					display:block;
					margin:0 auto ;
				}
				h4 {
					font-size:24px;
					font-weight:700;
					color:#666666;
					text-transform: uppercase;
					margin-top:32px;
					margin-bottom:7px;
					text-align:center;
					min-height: 43px;
					@include bp(desktop) {
						margin-bottom: 11px;
					}
					@include bp(tablandscape) {
						margin-top: 24px;
    					min-height:43px;
    					margin-bottom: 18px;
					}
					@include bp(tabportrait) {
						margin-top: 23px;
    					margin-bottom: 20px;
    					min-height:43px;
					}
					@include bp(mobile) {
						font-size:20px;
						margin-top:21px;
						margin-bottom: 33px;
						min-height: auto;
					}
				}
				p {
					font-size:20px;
					color:#666666;
					@include bp(desktop) {
						line-height: 25px;
					}
					@include bp(mobile) {
						font-size:18px;
					}
				}
				p+p {
					@include bp(desktop) {
						margin-top:19px;
					}
					@include bp(tablandscape) {
						margin-top:21px;
					}
					@include bp(tabportrait) {
						/*margin-top:28px;*/
						margin-top:24px;
					}
				}
				&:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4) {
					margin-top:0px;
				}
				@include bp(tablandscape) {
					&:nth-child(4) { 
						margin-top:74px;
					}
				}
				@include bp(tabportrait) {
					&:nth-child(3),&:nth-child(4) {
						margin-top: 55px;
					}
				}
				@include bp (mobile) {
					&:nth-child(2),&:nth-child(3),&:nth-child(4) {
					margin-top:36px;
				}
				}
			}
		}
	}
}
.branchMangers {
    margin-top:46px;
	margin-bottom: 100px;
	@include bp(tablandscape) {
		margin-top:60px;
		margin-bottom:59px;
	}
	@include bp(tabportrait) {
		margin-top: 39px;
		margin-bottom:39px;
	}
	@include bp(mobile) {
		margin-top:40px;
		margin-bottom:99px;
	}
	.mangerBgWrap {
		background:#f1f1f1;
		display:table;
		width:100%;
		padding: 45px 103px 65px 121px;
		@include bp(tablandscape) {
			padding:18px 25px 61px 30px;
		}
		@include bp(tabportrait) {
			padding:21px 99px 40px 100px;
		}
		@include bp(mobile) {
			padding:21px 14px 19px 14px;
		}
		h2 {
			font-family: "opensans";
			font-size:48px;
			font-weight:700;
			color:#1268e5;
			text-align:center;
			text-transform: uppercase;
			margin-bottom:85px;
			@include bp(tablandscape) {
				font-size:24px;
				margin-bottom:35px;
			}
			@include bp(tabportrait) {
				font-size:24px;
				margin-bottom:36px;
			}
			@include bp(mobile) {
				font-size:24px;
				margin-bottom:38px;
			}
		}
		.managerContent {
			display:flex;
			flex-wrap: wrap;
			width:100%;
			@include bp(mobile) {
				display:block;
			}
			.managerDetail {
				width: 26.7%;
				margin-top: 89px;
				margin-right: 9.8%;
				@include bp(desktop) {

					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tablandscape) {
					width: 27.1%;
					margin-right: 9.35%;
					margin-top: 58px;
					&:nth-child(3n+3) {
						margin-right:0%;
					}
				}
				@include bp(tabportrait) {
					width: 43%;
					margin-right: 14%;
					margin-top:59px;
					&:nth-child(2n+2) {
						margin-right:0%;
					}
				}
				@include bp(mobile) {
					width:100%;
					margin-right:0%;
					margin-top:41px;

					&:nth-child(1) {
						margin-top: 30px;
					}
				}
				h4 {
					font-size:20px;
					font-weight:bold;
					color:#666666;
					@include bp(tablandscape) {
						font-size:16px;
						margin-bottom: -1px;
					}
					@include bp(tabportrait) {
						font-size:16px;
						margin-bottom: -1px;
					}
					@include bp(mobile) {
						font-size:16px;
						margin-bottom: 0px;
					}
				}
				p {
					font-size:20px;
					color:#666666;
					display:block;
					line-height: 24px;
					@include bp(tablandscape) {
						font-size:16px;
						line-height: 17px;
					}
					@include bp(tabportrait) {
						font-size:16px;
						line-height:18px;
					}
					@include bp(mobile) {
						font-size:16px;
						line-height:18px;
					}
					a {
						display: inline-block;
						margin-right:16px;
						margin-top: 5px;
						@include bp(tablandscape) {
							margin-top:18px;
						}
						@include bp(tabportrait) {
							margin-top: 17px;
						}
						@include bp(mobile) {
							margin-top:17px;
							margin-right: 15.5px;
						}
					}
				}
				span {
					font-size:20px;
					color:#666666;
					display:block;
					line-height: 24px;
					@include bp(tablandscape) {
						font-size:16px;
						line-height: 17px;
					}
					@include bp(tabportrait) {
						font-size:17px;
						line-height:16px;
					}
					@include bp(mobile) {
						font-size:16px;
						line-height:17px;
					}
					a {
						display: inline-block;
						margin-right:16px;
						margin-top: 19px;
						@include bp(tablandscape) {
							margin-top:18px;
						}
						@include bp(mobile) {
							margin-right: 15.5px;
						}
					}
				}
				p + span {
					a {
						margin-top:0px;
					}
				}
				@include bp(desktop) {
					&:nth-child(1),&:nth-child(2),&:nth-child(3) {
					margin-top:0px;
					}
				}
				@include bp(tablandscape) {
					&:nth-child(1),&:nth-child(2),,&:nth-child(3) {
						margin-top:0px;
					}
				}
				@include bp(tabportrait) {
					&:nth-child(1),&:nth-child(2) {
						margin-top:0px;
					}
				}
				@include bp(phone) {
					&:nth-child(1) {
						margin-top:0px;
					}
				}
			}
		}
	}
}