.heroBlock { 
	&.locationDetailBlk {
		.bgWrap {
			padding:40px 0px 0px 0px;
			h2 {
				margin-left:50px;
				margin-bottom: 43px;
			}
			.contentSection {
				display:table;
				width:100%;
				.imgSection {
					width: 53.204%;
					float: left;
					@include bp(tablandscape) {
						width: 47.456%;
					}
				}
				.addrSection {
					width:46.796%;
					float: left;
					@include bp(tablandscape) {
						width: 52.544%;
					}
					.fullWrap {
						display:table;
						width:100%;
						.lftSec {
						width:51%;
						float:left;
						padding-left: 34px;
						@include bp(tablandscape) {
							width:55%;
							padding-left:19px;
						}
							p {
								font-size:20px;
								color:#666666;
								@include bp(tablandscape) {
									font-size:16px;
								}
								&.pnoneNum {
									&:before {
										content: "";
									    display: inline-block;
									    background: url(../images/location-detail/phone-icon.png) no-repeat top right;
									    width: 40px;
									    height: 40px;
									    margin: 0 20px 0 0;
									    float: left;
									    position: relative;
									    @include bp(tablandscape) {
									    	width:32px;
									    	height:32px;
									    	background-size:cover;
									    	margin: 0 9px 0 0;
									    }
									}
									a {
										position:relative;
										top:10px;
										@include bp(tablandscape) {
											top: 7px;
										}
									}
								}
								&.locationAddr {
									margin-top:38px;
									@include bp(tablandscape) {
										margin-top:39px;
									}
									&:before {
										@extend .pnoneNum, :before;
									    background: url(../images/location-detail/address-icon.png) no-repeat top right;
									    top: 1px;
									    @include bp(tablandscape) {
									    	background-size:cover;
									    }
									}
									span {
										display:block;
										position: relative;
	    								top: 0px;
	    								padding-left: 60px;
	    								@include bp(tablandscape) {
									    	margin-bottom: -5px;
									    	padding-left: 41px;
									    }
									}
								}
								&.mailMember {
									margin-top: 66px;
									&:before {
										@extend .pnoneNum, :before;
									    background: url(../images/location-detail/mail-icon.png) no-repeat top right;
									    top:1px;
									    @include bp(tablandscape) {
									    	background-size:cover;
									    }
									}
									strong {
										display:block;
										padding-left: 60px;
										position: relative;
									    top: -1px;
									    margin-bottom: 2px;
									}
									span {
										display:block;
										padding-left: 60px;
										margin-bottom: 3px;
										@include bp(tablandscape) {
									    	
									    }
									}
								}
								&.printIcon {
									margin-top: 67px;
									&:before {
										@extend .pnoneNum, :before;
									    background: url(../images/location-detail/print-icon.png) no-repeat top right;
									    top: 4px;
									    @include bp(tablandscape) {
									    	background-size:cover;
									    }
									}
									a {
										position:relative;
										top:14px;
									}
								}
							}
						}
						.rgtSec {
						width:49%;
						float:left;
						padding-left: 42px;
						@include bp(tablandscape) {
	    					width:45%;
	    				}
							p {
								font-size:18px;
								color: #ababab;
	    						text-transform: uppercase;
	    						@include bp(tablandscape) {
	    							font-size:16px;
	    						}
								&.walkAtm {
									margin-top:3px;
									&::before {
										content: "";
									    display: inline-block;
									    background: url(../images/location-detail/atm-icon.png) no-repeat top right;
									    width: 42px;
									    height: 42px;
									    margin: 0 19px 0 0;
									    float: left;
									    position: relative;
									    @include bp(tablandscape) {
									    	width:34px;
									    	height:34px;
									    	background-size: cover;
									    }
									}
									a {
										position:relative;
										top:12px;
									}
								}
								&.hoursSec {
									@extend .walkAtm;
									margin-top:36px;
									&::before {
										background: url(../images/location-detail/hours-icon.png) no-repeat top right;
										@include bp(tablandscape) {
									    	background-size: cover;
									    }
									}
								}
								&.boxSec {
									@extend .walkAtm;
									@extend .hoursSec;
									&::before {
										background: url(../images/location-detail/box-icon.png) no-repeat top right;
										@include bp(tablandscape) {
									    	background-size: cover;
									    }
									}
								}
							}
						}
					}
					.timehrsSection {
						display: table;
    					width: 100%;
						background:#1268e5;
						padding: 23px 20px 39px 60px;
						margin-top: 61px;
						.lobbbyHrs {
							width: 50%;
    						float: left;
    						h4 {
    							font-size:20px;
    							color:#ffffff;
    							margin-bottom: 24px;
    						}
    						table {
    							tbody {
    								tr {
    									td {
    										display:block;
    										color:#fff;
    										font-size:20px;
    										padding: 0px;
    									}
    								}
    							}
    						}
						}
						.driveHrs {
							@extend .lobbbyHrs;
							padding-left:13px;
						}
					}
				}
			}
		}
	}
}
.mapSection {
	margin-top: 73px;
    margin-bottom: 73px;
	img {
		width:100%;
	}
}
.alertSection {
	margin-bottom:84px;
	.bgWrap {
		background: url(../images/location-detail/alertImage.jpg) no-repeat;
		width:100%;
		min-height:487px;
		padding:44px 30px 30px 60px;
		@include bp(tablandscape) {
			background-position: 76% 56%;
			min-height:344px;
			padding:58px 30px 30px 60px;
		}
		.contentSec {
			display:table;
			width:40%;
			h2 {
				font-size:36px;
				font-weight:bold;
				color:#fff;
				margin-bottom:96px;
				text-transform: uppercase;
				@include bp(tablandscape) {
					font-size:24px;
					margin-bottom:83px;
				}
			}
			p {
				font-size:34px;
				color:#ffffff;
				margin-bottom: 44px;
				&:last-child {
					margin-bottom:44px;
				}
				@include bp(tablandscape) {
					font-size:18px;
					margin-bottom:11px;
				}
			}
			a {
				font-size:19px;
				font-weight:800;
				color:#fff;
				background:#1268e5;
				display:inline-block;
				padding: 9px 28px 9px 30px;
				border:1px solid #fff;
				border-radius:21px;
				text-transform: uppercase;
				@include bp(tablandscape) {
					font-size:17px;
					padding: 7px 19px 5px 19px;
				}
			}
		}
	}
}