.persLending {
    .greyPanel {
        .bgWrap {
            padding: 0;
        }
        &.bContent {
            margin-bottom: 60px;
            @include bp(tablet){
                margin: 45px 0px;
            }
        }
    }
    .flexWrapper {
        display: flex;
        .flexImage {
            background-image: url("../images/personal-lending/lending1.jpg");
            background-size: cover;
            width: 533px;
            height: 370px;
            position: relative;
            @include bp(landscape) {
                width: 343px;
                height: 237px;
            }
            &:after {
                position: absolute;
                content: '';
                bottom: -18px;
                left: 0;
                width: 180px;
                height: 18px;
                background: #eb2837;
                @include bp(landscape) {
                    width: 149px;
                    height: 16px;
                    bottom: -16px;
                }
            }
        }
        .flexContent {
            padding-left: 40px;
            padding-top: 58px;
            padding-right: 25px;
            width: calc(100% - 533px);
            @include bp(landscape) {
                width: calc(100% - 343px);
                padding-top: 27px;
            }
            h3 {
                text-transform: uppercase;
                color: #666;
                font-size: 36px;
                margin-bottom: 19px;
            }
            p {
                color: #666;
                margin-bottom: 23px;
            }
            ul {
                display: list-item;
                padding-left: 20px;
                li {
                    display: list-item;
                    list-style: disc;
                    font-size: 20px;
                    color: #666;
                    margin-bottom: 6px;
                    @include bp(landscape) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .profDisplayWrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        .profDisplay {
            width: 222px;
            margin: 0 2.6%;
            margin-right: 6%;
            padding-bottom: 20px;
            @include bp(landscape) {
                width: 183px;
                margin: 0 2.6%;
                margin-right: 2%;
                padding-bottom: 17px;
            }
            @include bp(tablet) {
                margin: 0 7%;
                margin-right: -1.7%;
            }
            .profImage {
                width: 100%;
                height: 275px;
                border: 1px solid #979797;
                background-size: cover;
                background-position: top center;
                margin-bottom: 10px;
                @include bp(landscape) {
                    height: 228px;
                }
            }
            .consult-btn {
                .btnManasq {
                    text-transform: uppercase;
                    color: #fff;
                    background: #1c3d6d;
                    display: block;
                    padding: 21px 20px;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 12px;
                    @include bp(landscape) {
                        font-size: 15px;
                        padding: 16px 20px;
                    }
                }
            }
            .profContent {
                h5 {
                    color: #666;
                    font-size: 20px;
                    @include bp(landscape) {
                        font-size: 17px;
                    }
                }
                p {
                    color: #666;
                    font-size: 18px;
                    @include bp(landscape) {
                        font-size: 15px;
                        margin-bottom: 6px;
                    }
                }
                .profPhone {
                    display: flex;
                    align-items: baseline;
                    @include bp(landscape) {
                        margin-bottom: 0;
                    }
                    img {
                        margin-right: 18px;
                        position: relative;
                        bottom: -3px;
                        @include bp(landscape) {
                            margin-right: 8px;
                            max-width: 17px;
                        }
                    }
                }
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
    .div-line {
        display: block;
        border-top: 3px solid #ababab;
        @include bp(landscape) {
            margin-left: -26px;
            margin-right: -26px;
        }
        @include bp(tablet){
            margin: 0;
        }
    }
    .homeStartWrap {
        padding: 0px 34px;
        h4 {
            font-size: 48px;
            display: flex;
            align-items: baseline;
            color: #1c3d6d;
            margin-bottom: 16px;
            padding-top: 34px;
            img {
                @include bp(landscape) {
                    max-width: 63px;
                }
            }
        }
        .homeStart {
            display: flex;
            justify-content: space-between;
            padding-bottom: 34px;
            align-items: center;
            @include bp(landscape) {
                padding-bottom: 25px;
            }
            @include bp(tablet) {
                flex-direction: column;
                align-items: flex-start;
                padding-bottom: 22px;
            }
            .homeStartCont {
                width: 55%;
                @include bp(landscape) {
                    width: 67%;
                }
                @include bp(tablet){
                    width: 100%;
                }
                p {
                    @include bp(landscape) {
                        font-size: 18px;
                    }
                }
            }
            .homeStartBtn {
                display: flex;
                align-items: flex-end;
                a {
                    @extend .btn-mansq;
                    font-size: 26px;
                    padding: 21px 47px;
                    @include bp(landscape) {
                        font-size: 22px;
                        padding: 16px 36px;
                    }
                }
            }
        }
    }
    .flexDisWrap {
        display: flex;
        margin-top: 52px;
        @include bp(landscape) {
            margin-top: 30px;
        }
        .flexDisCont {
            width: 533px;
            padding-left: 33px;
            @include bp(tablet){
                width: 420px;
                padding-left: 25px;
            }
            h5 {
                font-weight: 700;
                font-size: 20px;
                color: #1c3d6d;
                margin-bottom: 23px;
            }
            p {
                font-weight: 600;
                font-size: 20px;
                color: #1c3d6d;
                margin-bottom: 23px;
            }
            &.full-width {
                width: 100%;
                padding-right: 33px;
                padding-bottom: 11px;
                h5 {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 10px;
                    @include bp(landscape) {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                }
                p {
                    font-weight: 400;
                    color: #666;
                    font-size: 20px;
                    @include bp(landscape) {
                        font-size: 18px;
                        margin-bottom: 17px;
                    }
                }
            }
        }
        .profDisplayWrap {
            padding-left: 40px;
            padding-bottom: 34px;
            width: calc(100% - 533px);
            margin-top: 0;
            @include bp(tablet){
                width: calc(100% - 420px);
                justify-content: center;
                padding-left: 26px;
                padding-bottom: 0;
            }
            .profDisplay {
                margin: 0;
            }
        }
    }
}