.proDetail {
    .heroBlock {
        margin-bottom: 97px;
        .bgWrap {
            padding: 45px 68px 22px 68px;
            h4 {
                font-size: 24px;
                color: #666666;
                margin-top: 61px;
            }
            ul {
                list-style: disc;
                padding: 12px 0 0 55px;
                li {
                    display: list-item;
                    color: #666666;
                    font-size: 20px;
                    padding-left: 17px;
                    margin-bottom: 2px;
                }
            }
            .btn-mansq {
                margin-top: 68px;
                margin-bottom: 75px;
                font-size: 28px;
                padding: 20px 30px;
                min-width: 249px;
                text-align: center;
                color: #fff;
            }
            .back-btn{
                font-weight: bold;
                margin-top: 28px;
            }
        }
    }
}