.greyPanel {
	&.rates{
		@extend .heroBlock;
		margin-top: 80px;
			@include bp(mobile) {
				margin-bottom: 40px;
			}
	.bgWrap {
		    padding: 38px 40px 40px 40px;
		    .tableSection{
		    	margin-top: 7px;
		    	margin-bottom: 21px;
					    @include bp(tablandscape) {
					    	margin-top: 0px;					}		    	
		    }
		    @include bp(tablandscape) {
		    	    padding: 22px 22px 22px 22px;
		    }
		   	@include bp(mobile) {
				    padding: 38px 10px 40px 10px;
				}
		table{
			 thead{
			 	tr{
			 		th{
			 			text-align: left;
			 			background-color: #2c5aa7;
			 			font-size: 18px;
			 			padding-left: 13px;
			 			line-height: 21px;
			 			padding-top: 18px;
    					padding-bottom: 18px;
    					&:last-child{
			 				width: 20%;

			 			}

    					 @include bp(tablandscape) {
    					 	    font-size: 14px;
    							line-height: 16px;
    							padding-left: 7px;
    							padding-top: 15px;
    							padding-bottom: 15px;
    					 	&:nth-child(2) {
							    display: table-cell;
							}
							&:last-child{
			 				width: 22%;
			 				
			 				}
    					 }

    					&:nth-of-type(1){
			 				    /*width: 16.5%;*/
			 				}
			 			&:nth-of-type(2){
			 				    /*width: 20.4%;*/
							    padding-right: 41px;
							     @include bp(tablandscape) {
							     	width: 20.5%;
								    padding-right: 20px;

							     }
			 			}
			 			&:nth-of-type(3){
			 				       /* width: 24%;*/
								    padding-right: 15px;
								    
			 			}
			 			&:nth-of-type(4){
			 				            /*width: 17%;*/
									    padding-right: 20px;
									   @include bp(tablandscape) {
									   	width: 16.5%;
									   }
			 			}
			 			&:nth-of-type(5){
			 				           /* width: 20%;*/
									    padding-right: 20px;
									    
			 			}
			 			
			 		}
			 	}
			 	} 
			 	tbody{
			 		tr{	
			 			td{
			 			text-align: left;
			 			font-size: 24px;
			 			line-height: 24px;
		 			    padding-top: 14px;
						padding-bottom: 7px;
						padding-left: 12px;
    					padding-right: 30px;
    					color: #1c3d6d;
						@include bp(tablandscape) {
    						font-size: 18px;
    						line-height: 21px;
    						padding-left: 8px;
    						padding-top: 9px;
   							padding-bottom: 5px;
    					}
    					 @include bp(tablet) {
    					 	&:nth-child(2) {
							    display: table-cell !important;
							}
    					 }
    					&:nth-child(2) {
 					   			display: table-cell;
						}
    					&:last-child{
    						padding-right:45px;
    					}
			 			p{
			 				color: inherit;
			 				margin-bottom: 0px;
			 				font-size: inherit;
			 				padding-bottom: 7px;
			 				&:last-child{
			 					padding-bottom:0px;
			 				}
			 			}
			 			a{
			 				color: #0066e4;
			 			}
			 		}
			 			&:nth-child(odd) {
						background-color: #fff;
						line-height: 21px;
						td{
							background-color: #dde4ee;
						}
						td:nth-child(1){
							background-color:#656565;
							font-size: 18px;
							line-height: 21px;
							@include bp(tablandscape) {
    						font-size: 14px;
    						line-height: 16px;
    					}
						}
					}
			 		&:nth-child(even) {
			 			background-color: #ccd4df;
			 			td{
							background-color: #ccd4df;
						}
			 			td:nth-child(1){
							background-color:#3d3d3d;
							font-size: 18px;
							line-height: 21px;
							@include bp(tablandscape) {
    						font-size: 14px;
    						line-height: 16px;
    					}
						}
			 		}
					
			 		}
			 	}
			 	&.responsive_table{
			 		 @include bp(tablet) {
			 		tr{
			 			height: 64px;
			 			&.blueBg{
			 				margin-bottom: 5px;
			 				height: inherit;

			 			td{
			 				&:nth-child(2){
					 				background: #656565;
					 				text-align: center;
					 			}
			 			}
			 		}
			 			
				 			td{
				 				font-size: 16px;
			 					line-height: 18px;
			 					color: #1c3d6d;

				 			&:nth-child(1){
				 				background-color: #5678bf !important;
			 					width: 49.6%;
			 					padding-right: 40px;
			 					padding-left: 10px;
			 					padding-top: 17px;
    							padding-bottom: 10px;
				 			}
				 			&:last-child{
				 				text-align: left;
				 				padding-left: 15px;
				 				p{
				 					color: inherit;
				 					font-size: inherit;
				 					margin-bottom: 0px;
				 					+p{
				 						margin-bottom: 0;
				 					}
				 				}
				 			}
				 				
				 		}
			 			
			 				&:nth-child(2){
			 					td{
			 					display: table-cell;


			 				}
			 				}
			 			
			 		}
			 	}
			 	 @include bp(mobile) {
			 	 	tr{
			 			height: 64px;
			 			td{
			 				font-size: 14px;
			 				&:nth-child(1){
			 					width: 57.6%;
			 				}
			 				&:last-child{
					 				    padding-left: 10px;
					 		}
			 			}
			 			&.blueBg{
			 				margin-bottom: 5px;
			 				height: inherit;

			 			td{

			 				&:nth-child(2){
					 				padding-left: 80px!important;
    								padding-right: 80px;
					 				line-height: 22px;
									padding-top: 7px;
									padding-bottom: 6px;
					 			}

			 			}
			 		}
			 	}
			 	 }
			 		} 
			}
.detailsText{
	p{
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 12px;
		@include bp(tablandscape) {
			font-size: 13px;
		}
	}
}
	}
}
}
