@media (max-width:$mob){
section.sitemap-section
{

	.sitemap-section-box
	{
		     padding: 0px 30px 0px;


		h1
		{
			font-size: 22px;
			margin-bottom: 0px;
		}

		h4
		{
			font-size:18px;
		}
		p
		{
			line-height: 1.5;
			font-size: 16px;
			padding: 0px;
		}

		.full-width
		{
			margin-top: 0px;

			ul
			{
				li
				{
					a
					{
						color: #4c4c4c;
						line-height: 24px;
						font-size: 16px;
					}
				}
			}

			.left-section
			{
				width:100%;
				margin-right:0px;
				margin-bottom: 30px;
			}
			.center-section
			{
				width:100%;
				margin-right:0px;
				margin-top: 0px;
				margin-bottom: 30px;
			}
			.right-section
			{
				width:100%;
				margin-right:0px;
				margin-top: 12px;
			}
		}
	}

}

}
