.newsPagination{
  display: block;
  text-align: right;
}
.newsPagination p {
    display: inline-block;
    font-size: 20px;
    color: #666;
    img {
    height: auto;
    top: 0;
    vertical-align: top;
    margin-top: 2px;
    width: 18px;
    display: inline-block;
}
}

section.searchPage {
    /*margin-top: 120px;
    margin-bottom: 43px;*/
    h1 {
      text-align: center;
    }
    .searchWrap {
      margin-bottom: 20px;
      h4 {
        font-size: 23px;
        text-transform: uppercase;
        color: #666;
        font-weight: 400;
        
      }
      p {
        font-size: 18px;
        margin-bottom: 0px;
        a {
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      
        padding: 12px 0 3px 0;

      }
       .btn-readMore{
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        padding-top: 5px;
        margin-bottom: 32px; 
        font-size: 18px; 
        color: #666;
        &:hover{
          color: #23527c;
          text-decoration: underline;
        }
      }
    }
  }

@import "tabletLandscape";
@import "tabletPotrait";
@import "phonePotrait";
